<app-scrollbar-dialog [title]="title" [closable]="true" overflow="none" i18n-title
  data-cy="notifications-view-sent-dialog">
  <ng-container *ngIf="anyNotifications$ | async">
    <app-native-table>
      <thead>
        <th i18n>Afsendt</th>
      </thead>
      <tbody>
        <tr *ngFor="let sent of currentNotificationSent$ | async">
          <td>
            <app-paragraph data-cy="notification-sent-date">
              {{ formatDate(sent.sentDate) }}
            </app-paragraph>
          </td>
        </tr>
      </tbody>
    </app-native-table>
  </ng-container>
  <app-empty-state *ngIf="(anyNotifications$ | async) === false" text='Advis er endnu ikke blevet afsendt'
    context="searchResult" i18n-text>
  </app-empty-state>
</app-scrollbar-dialog>
