<app-dialog title="Rediger" i18n-title>
  <form [formGroup]="form">
    <app-standard-vertical-content-grid>
      <app-textbox [disabled]="true" text="Navn" i18n-text [value]="optionTypeItem.name"></app-textbox>
      <app-checkbox
        *ngIf="!optionTypeItem.obligatory"
        [formGroup]="form"
        formName="active"
        [value]="form.value.active ?? false"
        labelPosition="after"
        text="Aktiv"
        i18n-text
        data-cy="active-checkbox"
      >
      </app-checkbox>
      <app-textarea
        text="Beskrivelse"
        i18n-text
        [formGroup]="form"
        formName="description"
        [value]="form.value.description ?? ''"
        class="text-area-margin-bottom"
      ></app-textarea>
    </app-standard-vertical-content-grid>
  </form>
  <app-dialog-actions>
    <app-button (buttonClick)="onSave()" [disabled]="disableSaveButton()"> Gem </app-button>
    <app-button buttonStyle="secondary" (buttonClick)="onCancel()"> Annuller </app-button>
  </app-dialog-actions>
</app-dialog>
