<app-card i18n-title>
  <app-card-header title="KLE"></app-card-header>
  <app-standard-vertical-content-grid *ngIf="(isLoading$ | async) === false">
    <ng-container *ngIf="kleStatus$ | async as kleStatus">
      <app-paragraph [bold]="true">
        <ng-container *ngIf="kleStatus.upToDate === true" i18n>
          KITOS baserer sig på den seneste KLE version, udgivet {{ kleStatus.version | appDate }}
        </ng-container>
        <ng-container *ngIf="kleStatus.upToDate !== true" i18n>
          Der er en ny version af KLE, udgivet {{ kleStatus.version | appDate }}
        </ng-container>
      </app-paragraph>
      <div class="action-buttons">
        <app-button
          (buttonClick)="downloadKleChanges()"
          [disabled]="kleStatus.upToDate === true || (changesDownloaded$ | async) === true"
          i18n
          data-cy="get-kle-changes-button"
          >Vis ændringer i KLE</app-button
        >
        <app-button
          (buttonClick)="updateKle()"
          [disabled]="
            kleStatus.upToDate === true || (kleStatus.upToDate === false && (changesDownloaded$ | async) !== true)
          "
          i18n
          data-cy="update-kle-button"
          >Opdater KLE</app-button
        >
      </div>
    </ng-container>
  </app-standard-vertical-content-grid>
  <app-loading *ngIf="isLoading$ | async"></app-loading>
</app-card>
