<app-card>
  <app-card-header title="KLE" i18n-title></app-card-header>
  @if ((isLoading$ | async) === false) {
    <app-standard-vertical-content-grid>
      @if (kleStatus$ | async; as kleStatus) {
        <app-paragraph [bold]="true">
          @if (kleStatus.upToDate === true) {
            <ng-container i18n>
          KITOS baserer sig på den seneste KLE version, udgivet {{ kleStatus.version | appDate }}
        </ng-container>
          }
          @if (kleStatus.upToDate !== true) {
            <ng-container i18n>
          Der er en ny version af KLE, udgivet {{ kleStatus.version | appDate }}
        </ng-container>
          }
        </app-paragraph>
        <div class="action-buttons">
          <app-button
            (buttonClick)="downloadKleChanges()"
            [disabled]="kleStatus.upToDate === true || (changesDownloaded$ | async) === true"
            i18n
            data-cy="get-kle-changes-button"
            >Hent ændringer i KLE</app-button
            >
            <app-button
              (buttonClick)="updateKle()"
          [disabled]="
            kleStatus.upToDate === true || (kleStatus.upToDate === false && (changesDownloaded$ | async) !== true)
          "
              i18n
              data-cy="update-kle-button"
              >Opdater KLE</app-button
              >
            </div>
          }
        </app-standard-vertical-content-grid>
      }
      @if (isLoading$ | async) {
        <app-loading></app-loading>
      }
    </app-card>
