@if (mainContractEnabled$ | async) {
  <app-card>
    <app-card-header
      title="Kontrakt der gør databehandlingen aktiv"
      i18n-title
      helpTextKey="data-processing.edit-registration.main-contract"
    ></app-card-header>
    @if (anyAssociatedContracts$ | async) {
      <form [formGroup]="contractFormGroup" class="contract-selection-form">
        <app-dropdown
          text="Kontrakt"
          i18n-text
          data-cy="dpr-main-contract"
          [formGroup]="contractFormGroup"
          valueField="uuid"
          formName="mainContract"
          [data]="associatedContracts$ | async"
          (valueChange)="patchMainContract($event)"
          >
        </app-dropdown>
        @if (mainContract$ | async) {
          <app-status-chip type="it-contract" [value]="isDprValid$ | async"></app-status-chip>
        }
      </form>
    }
    @if ((anyAssociatedContracts$ | async) === false) {
      <app-paragraph paragraphSize="medium" i18n
        >Databehandlingen er ikke omfattet af registreringer i modulet "IT Kontrakter"</app-paragraph
        >
      }
    </app-card>
  }

  @if (associatedContractsEnabled$ | async) {
    <app-card>
      <app-card-header
        title="Tilknyttede kontrakter"
        i18n-title
        helpTextKey="data-processing.edit-registration.contracts"
      ></app-card-header>
      <app-standard-vertical-content-grid>
        @if (anyAssociatedContracts$ | async) {
          <app-native-table>
            <thead>
              <th i18n>Navn</th>
            </thead>
            <tbody>
              @for (contract of associatedContracts$ | async; track contract) {
                <tr>
                  <td>
                    <app-details-page-link itemType="it-contract" [itemPath]="contract.uuid">{{
                      contract.name
                    }}</app-details-page-link>
                  </td>
                </tr>
              }
            </tbody>
          </app-native-table>
        }
        @if ((anyAssociatedContracts$ | async) === false) {
          <app-empty-state
            text="Databehandlingen er ikke omfattet af nogen registreringer i modulet 'IT Kontrakter'"
            context="emptyTable"
            i18n-text
          ></app-empty-state>
        }
      </app-standard-vertical-content-grid>
    </app-card>
  }
