@import "theme";
@import "mixins";

@include dialog-footer-with-padding;

editor {
  padding-top: $padding-medium;
}

::ng-deep .mat-dialog-content-padding {
  max-height: 778px;
}

.invalid-input-border {
  border: red solid 1px;
  border-radius: 10px;
}
