<app-card>
  <app-card-header title="IT System information" i18n-title helpTextKey="it-system.edit.main">
    <app-status-chip [value]="itSystemIsActive$ | async" type="it-system"></app-status-chip>
  </app-card-header>

  <app-form-grid [formGroup]="itSystemFrontpageFormGroup">
    <app-textbox
      text="Systemnavn"
      i18n-text
      data-cy="it-system-name"
      [formGroup]="itSystemFrontpageFormGroup"
      formName="name"
      (valueChange)="patchFrontPage({ name: $event })"
    ></app-textbox>
    <app-connected-dropdown
      text="Overordnet system"
      i18n-text
      data-cy="it-system-parent-system"
      valueField="uuid"
      [formGroup]="itSystemFrontpageFormGroup"
      formName="parentSystem"
      [data$]="itSystems$"
      [isLoading$]="isLoading$"
      (filterChange)="searchItSystems($event)"
      (valueChange)="patchFrontPage({ parentUuid: $event })"
    >
    </app-connected-dropdown>
    <app-textbox
      text="Tidligere systemnavn"
      i18n-text
      data-cy="it-system-former-name"
      [formGroup]="itSystemFrontpageFormGroup"
      formName="formerName"
      (valueChange)="patchFrontPage({ previousName: $event })"
    ></app-textbox>
    <app-connected-dropdown
      text="Rettighedshaver"
      i18n-text
      data-cy="it-system-rights-holder"
      [formGroup]="itSystemFrontpageFormGroup"
      formName="rightsHolder"
      valueField="uuid"
      [data$]="organizations$"
      [isLoading$]="isLoadingOrganizations$"
      (filterChange)="searchRightsHolderOrganizations($event)"
      (valueChange)="patchFrontPage({ rightsHolderUuid: $event })"
    ></app-connected-dropdown>
    <app-dropdown
      text="Forretningstype"
      i18n-text
      data-cy="it-system-business-type"
      valueField="uuid"
      [formGroup]="itSystemFrontpageFormGroup"
      formName="businessType"
      [data]="businessTypes$ | async"
      [showDescription]="true"
      (valueChange)="patchFrontPage({ businessTypeUuid: $event })"
    ></app-dropdown>
    <app-dropdown
      text="Synlighed"
      i18n-text
      data-cy="it-system-visibility"
      [formGroup]="itSystemFrontpageFormGroup"
      formName="scope"
      [data]="scopeOptions"
      (valueChange)="patchFrontPage({ scope: $event })"
    ></app-dropdown>
    <app-textbox
      text="UUID"
      i18n-text
      data-cy="it-system-uuid"
      [formGroup]="itSystemFrontpageFormGroup"
      formName="uuid"
      [disabled]="true"
    ></app-textbox>
    <app-textbox
      text="Ekstern UUID"
      i18n-text
      [formGroup]="itSystemFrontpageFormGroup"
      formName="externalUuid"
    ></app-textbox>
    <app-contentbox data-cy="it-system-references" text="Referencer vedr. systemet" i18n-text>
      <app-external-reference
        *ngFor="let reference of externalReferences$ | async"
        [reference]="reference"
      ></app-external-reference>
    </app-contentbox>
    <app-textarea
      class="notes"
      text="Beskrivelse"
      i18n-text
      data-cy="it-system-description"
      [formGroup]="itSystemFrontpageFormGroup"
      formName="description"
      (valueChange)="patchFrontPage({ description: $event })"
    ></app-textarea>
  </app-form-grid>
</app-card>

<app-card>
  <app-card-header title="Arkivering" i18n-title helpTextKey="it-system.frontpage.archiving"> </app-card-header>
  <app-form-grid [formGroup]="itSystemFrontpageFormGroup">
    <app-dropdown
      text="Rigsarkivets vejledning til arkivering"
      i18n-text
      data-cy="it-system-recommended-archive-duty"
      [formGroup]="itSystemFrontpageFormGroup"
      formName="recommendedArchiveDuty"
      [data]="archiveDutyRecommendationOptions"
      (valueChange)="patchArchiveDutyId($event)"
      (cleared)="onDropdownCleared()"
    ></app-dropdown>
    <div class="notes">
      <app-textarea
        class="notes"
        text="Indtast bemærkning fra Rigsarkivet"
        i18n-text
        data-cy="it-system-recommended-archive-duty-comment"
        [formGroup]="itSystemFrontpageFormGroup"
        formName="recommendedArchiveDutyComment"
        (valueChange)="patchArchiveDutyComment($event)"
      >
      </app-textarea>
      <app-textbox-info>
        <app-paragraph paragraphSize="x-small" i18n>
          Læs mere hos
          <a
            target="_blank"
            href="https://www.sa.dk/da/offentlig-forvaltning/kommuner-og-regioner/bevaring-kassation-it-systemer/"
            >{{ nationalArchivesText }}</a
          >
        </app-paragraph>
      </app-textbox-info>
    </div>
  </app-form-grid>
</app-card>

<app-card>
  <app-card-header title="Tilknyttede opgaver" helpTextKey="it-system.frontpage.kle" i18n-title></app-card-header>
  <app-it-system-kle-overview data-cy="it-system-kle"></app-it-system-kle-overview>
</app-card>
