<ng-container *ngIf="optionTypeItems$ | async as optionTypeItems">
  <app-accordion
    [title]="title"
    [disabled]="disableAccordion"
    [isExpanded]="expandedByDefault"
    [tooltipText]="showEditButton ? undefined : onlyEditableByGlobalAdminText"
  >
    <app-local-option-grid
      [loading]="(isLoading$ | async) !== false"
      [optionType]="optionType"
      [optionTypes]="optionTypeItems"
      [showDescription]="showDescription"
      [showEditButton]="showEditButton"
      [showWriteAccess]="showWriteAccess"
      [scrollable]="scrollable"
      [fitSizeToContent]="fitSizeToContent"
    ></app-local-option-grid>
  </app-accordion>
</ng-container>
