@import 'theme';

:host ::ng-deep {
  .content {
    padding-bottom: 0 !important;
  }
}

.dialog-footer {
  background-color: $color-white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  position: sticky;
  bottom: 0;
  z-index: 10;
  padding-bottom: $padding-large;
}
