@import 'theme';

app-standard-vertical-content-grid {
  width: 100%;
}

.copy-roles-button {
  flex: none;
}

.action-buttons * {
  padding: $padding-small;
}

app-dialog-actions {
  padding-top: 0px !important;
}
