@use "theme";

:host {
  height: theme.$input-height;
  display: flex;
  align-items: center;
  border-bottom: 1px solid theme.$color-neutral-20;
  margin: -(theme.$padding-medium) 0 theme.$padding-medium-large;
}

h6 {
  margin-bottom: 0;
  margin-right: theme.$padding-medium;
}

.space {
  flex: 1;
}

.help-text-button-margin {
  margin-left: theme.$padding-small;
}
