@import "theme";

:host {
  height: $input-height;
  display: flex;
  align-items: center;
  border-bottom: 1px solid $color-neutral-20;
  margin: -$padding-medium 0 $padding-medium-large;
}

h6 {
  margin-bottom: 0;
  margin-right: $padding-medium;
}

.space {
  flex: 1;
}

.help-text-button-margin {
  margin-left: $padding-small;
}
