@use "theme";

.bullet-list {
  margin-top: theme.$padding-small;
  margin-bottom: theme.$padding-small;

  li {
    display: flex;
    align-items: flex-start;
    gap: 0.5em;

    app-paragraph {
      margin: 0;
      flex: 1;
    }
  }
}
