@use "theme";

.bullet-list {
  margin-top: theme.$padding-small;
  margin-bottom: theme.$padding-small;
  list-style: disc;

  li {
    margin-bottom: 0.5em;
    vertical-align: middle;
    line-height: 1.5;
  }

  li::ng-deep app-paragraph p {
    display: inline;
  }
}
