@use "theme";

.bullet-list {
  margin-top: theme.$padding-small;
  margin-bottom: theme.$padding-small;
  list-style: disc;

  li {
    margin-bottom: 0.5em;

    app-paragraph {
      margin: 0;
    }
  }
}
