<app-overview-header>
  <h3 i18n>Databehandling</h3>
  <app-filter-options-button entityType="data-processing-registration"></app-filter-options-button>
  <app-reset-to-org-columns-config-button [gridColumns$]="gridColumns$" entityType="data-processing-registration" [lastSeenGridConfig$]="lastSeenGridConfig$"></app-reset-to-org-columns-config-button>
  <app-local-admin-column-config-button *ngIf="hasConfigModificationPermissions$ | async" [columns$]="gridColumns$" entityType="data-processing-registration" [lastSeenGridConfig$]="lastSeenGridConfig$"> </app-local-admin-column-config-button>
  <app-export-menu-button [exportMethod]="onExcelExport"></app-export-menu-button>
  <app-hide-show-button [columns]="gridColumns$ | async" entityType="data-processing-registration"></app-hide-show-button>
  <app-create-entity-button
    entityType="data-processing-registration"
    [hasCreatePermission$]="hasCreatePermission$"
  ></app-create-entity-button>
</app-overview-header>

<app-grid
  [data$]="gridData$"
  [columns$]="gridColumns$"
  [exportToExcelName]="'Databehandling Overblik'" i18n-exportToExcelName
  [loading]="isLoading$ | async"
  [state]="gridState$ | async"
  entityType="data-processing-registration"
  (stateChange)="stateChange($event)"
  (rowIdSelect)="rowIdSelect($event)"
></app-grid>
