<app-overview-header>
  <h3 i18n>Databehandling</h3>
  <app-button buttonStyle="tertiary">
    <app-more-horizontal-icon></app-more-horizontal-icon>
  </app-button>
  <app-button buttonStyle="secondary">
    <app-export-icon></app-export-icon>
    <ng-container i18n>Eksporter</ng-container>
  </app-button>
  <app-button i18n>Tilpas kolonner</app-button>
  <app-create-entity-button entityType="data-processing-registration"></app-create-entity-button>
</app-overview-header>

<app-grid
  [data]="gridData$ | async"
  [columns]="gridColumns"
  [loading]="isLoading$ | async"
  [state]="gridState$ | async"
  (stateChange)="stateChange($event)"
  (rowIdSelect)="rowIdSelect($event)"
></app-grid>
