<app-scrollbar-dialog [title]="title" [closable]="true" overflow="none" i18n-title>
  <app-native-table>
    <tbody>
      <th i18n-title>Organisation</th>
      @for (usage of usingOrganizations; track usage) {
        <tr>
          <td>
            <app-content-space-between>
              <app-paragraph [bold]="true">
                {{ usage.name }}
              </app-paragraph>
              @if (isItSystemDialog() && (canExecuteMigration$ | async)) {
                <app-icon-button
                  i18n
                  i18n-tooltipText
                  (buttonClick)="clickMigrateUsage(usage)"
                  tooltipText="Flyt"
                  data-cy="migrate-button"
                  ><app-arrow-right-icon></app-arrow-right-icon
            ></app-icon-button>
              }
            </app-content-space-between>
          </td>
        </tr>
      }
    </tbody>
  </app-native-table>
</app-scrollbar-dialog>
