<app-scrollbar-dialog [title]="getTitle()" i18n-title>
  @if ((deletingOrganization$ | async) === true) {
    <app-loading></app-loading>
  }
  @if ((deletingOrganization$ | async) === false) {
    @if (isLoading$ | async) {
      <app-loading></app-loading>
    }
    @if ((hasAnyRemovalConflict() | async) === true) {
      <app-standard-vertical-content-grid [id]="conflictContentId">
        <app-paragraph [bold]="true" paragraphSize="x-large" i18n>
          Opsummering af konsekvenser ifm. sletning af organisationer i Kitos
        </app-paragraph>
        <app-paragraph i18n>
          For at sikre datakvaliteten i Kitos har Global admin mulighed for at slette en organisation
          (leverandør/databehandler/underdatabehandler) på trods af, at der måtte være kontrakter eller databehandler
          registreringer knyttet op på denne.
        </app-paragraph>
        @if (isCopying) {
          <app-paragraph i18n>
          Global admin har nu slettet organisationen "Fælles Kommune", hvorfor feltet på nedenstående kontrakter
          og/eller databehandlerregistreringer dermed nulstilles (blankes ud):
        </app-paragraph>
        }
        @for (conflictType of simpleConflictTypeOptions; track conflictType) {
          @if (typeHasConflicts(conflictType) | async) {
            <app-removal-conflict-table
              [type]="conflictType"
              [removalConflicts$]="getSpecificConflicts(conflictType)"
              [organizationName]="organization.Name"
              [isCopying]="isCopying"
              >
            </app-removal-conflict-table>
          }
        }
        @if (hasOtherTypeConflicts() | async) {
          <app-paragraph [bold]="true" paragraphSize="x-large" i18n>
          Øvrige konsekvenser som information til Global Admin:
        </app-paragraph>
        }
        @for (conflictType of otherConflictTypeOptions; track conflictType) {
          @if (typeHasConflicts(conflictType) | async) {
            <app-removal-conflict-table
              [type]="conflictType"
              [removalConflicts$]="getSpecificConflicts(conflictType)"
              [organizationName]="organization.Name"
              [isCopying]="isCopying"
              >
            </app-removal-conflict-table>
          }
        }
      </app-standard-vertical-content-grid>
    }
    @if ((hasAnyRemovalConflict() | async) === false && (hasNoUsingOrganizations$ | async) === true) {
      <app-paragraph i18n> Organisationen kan slettes uden tværgående konsekvenser. </app-paragraph>
    }
  }
  @if ((hasAnyRemovalConflict() | async) === true && (deletingOrganization$ | async) === false) {
    <app-dialog-actions>
      <app-checkbox
        [(value)]="hasAcceptedConsequences"
        labelPosition="after"
        text="Jeg forstår og accepterer ovenstående konsekvenser"
        i18n-text
        data-cy="consequence-checkbox"
        >
      </app-checkbox>
    </app-dialog-actions>
  }
  @if (isSupplier && (usingOrganizations$ | async); as usingOrganizations) {
    @if (usingOrganizations.length > 0){
      <app-paragraph i18n>
        Organisationen er markeret som ISMS leverandør for følgende kommuner:
      </app-paragraph>
      <app-paragraph>
        <ul>
          @for (org of usingOrganizations; track org){
            <li>{{ org.name }}</li>
          }
        </ul>
      </app-paragraph>
    }
  }

  <app-dialog-actions>
    @if ((hasAnyRemovalConflict() | async) === true) {
      <app-button (buttonClick)="copyConflictsToClipboard()" i18n>
      Kopier til klipholder</app-button
        >
      }
      <app-button buttonStyle="secondary" (buttonClick)="onCancel()" i18n>Fortryd</app-button>
      <app-button
        color="warn"
        (buttonClick)="onDelete()"
        [disabled]="(canSubmit() | async) === false"
        i18n
        data-cy="delete-org-dialog-button"
        >Slet</app-button
        >
      </app-dialog-actions>
    </app-scrollbar-dialog>
