@import "theme";

:host.active button {
  background: $color-primary-10 !important;
  color: $color-primary;
}

button.mat-mdc-button-base {
  width: 100%;
  height: 48px;
  padding: 20px;
  white-space: nowrap;
  border-radius: $radius-large;
  border-color: var(--mdc-text-button-label-text-color);
}

.faded {
  border-color: $color-neutral-20;
}

:host ::ng-deep .mdc-button__label {
  display: flex;
  gap: $padding-small;
  align-items: center;
}

.mat-accent {
  --mdc-text-button-label-text-color: $color-neutral-dark;
}
