<button
  mat-button
  class="{{ size }}"
  [ngClass]="{
    'mat-mdc-unelevated-button': buttonStyle === 'primary',
    'mdc-button--unelevated': buttonStyle === 'primary',
    'mat-mdc-outlined-button': buttonStyle === 'secondary',
    'mdc-button--outlined': buttonStyle === 'secondary'
  }"
  [color]="color"
  [disabled]="disabled"
  [type]="type"
  (click)="onButtonClick()"
>
  <kendo-loader *ngIf="loading === true"></kendo-loader>
  <ng-content *ngIf="loading === false"></ng-content>
</button>
