@import "theme";

button {
  height: 48px;
  font-weight: bold;
  line-height: 1;
  box-shadow: none !important;
}

.faded {
  border-color: $color-neutral-20;
}

:host ::ng-deep .k-button-text {
  display: flex;
  gap: $padding-small;
  text-transform: none;
  align-items: center;
}
