<ng-container *ngIf="removalConflicts$ | async as removalConflicts">
  <app-accordion *ngIf="!isCopying" [isExpanded]="true" [title]="getConflictDescription()">
    <app-inner-conflict-table [removalConflicts]="removalConflicts" [type]="type"></app-inner-conflict-table>
  </app-accordion>
  <ng-container *ngIf="isCopying">
    <h4>{{ getConflictDescription() }}</h4>
    <app-inner-conflict-table [removalConflicts]="removalConflicts" [type]="type"></app-inner-conflict-table>
    <br />
    <br />
    <br />
  </ng-container>
</ng-container>
