@if (removalConflicts$ | async; as removalConflicts) {
  @if (!isCopying) {
    <app-accordion [isExpanded]="true" [title]="getConflictDescription()">
      <app-inner-conflict-table [removalConflicts]="removalConflicts" [type]="type"></app-inner-conflict-table>
    </app-accordion>
  }
  @if (isCopying) {
    <h4>{{ getConflictDescription() }}</h4>
    <app-inner-conflict-table [removalConflicts]="removalConflicts" [type]="type"></app-inner-conflict-table>
    <br />
    <br />
    <br />
  }
}
