<app-dialog [title]="title" overflow="none">
  <form [formGroup]="formGroup" (submit)="saveFunction()">
    <app-standard-vertical-content-grid>
      <app-connected-dropdown
        text="Søg efter system"
        valueField="uuid"
        [data$]="systemUsages$"
        [isLoading$]="systemUsagesLoading$"
        [showSearchHelpText$]="usageSearchResultIsLimited$"
        (filterChange)="usageFilterChange($event)"
        (valueChange)="usageChange($event)"
        [formGroup]="formGroup"
        formName="systemUsage"
        i18n-text
      ></app-connected-dropdown>

      <ng-content>
      </ng-content>

      <app-textarea
        text="Beskrivelse"
        i18n-text
        [autosizeMaxRows]="8"
        [formGroup]="formGroup"
        formName="description"
      ></app-textarea>
      <app-textbox text="Reference" i18n-text [formGroup]="formGroup" formName="reference"></app-textbox>
      <app-connected-dropdown
        text="Søg efter kontrakt"
        valueField="uuid"
        [data$]="contracts$"
        [isLoading$]="contractsLoading$"
        (filterChange)="contractFilterChange($event)"
        [formGroup]="formGroup"
        formName="contract"
        i18n-text
      >
      </app-connected-dropdown>
      <app-dropdown
        text="Vælg frekvens"
        valueField="uuid"
        [data]="availableReferenceFrequencyTypes$ | async"
        [formGroup]="formGroup"
        formName="frequency"
        i18n-text
      >
      </app-dropdown>
      <app-dialog-actions>
        <app-button buttonStyle="secondary" (buttonClick)="close()" i18n>Annuller</app-button>
        <app-button type="submit" [disabled]="formGroup.valid === false || isBusy">{{ saveText }}</app-button>
      </app-dialog-actions>
    </app-standard-vertical-content-grid>
  </form>
</app-dialog>
