@if (optionTypes$ | async; as optionTypes) {
  @if (!formGroup) {
    <app-dropdown
      [text]="getDropdownTitle()"
      [value]="value"
      valueField="uuid"
      [showDescription]="showDescription"
      [data]="optionTypes"
      (valueChange)="onValueChange($event)"
      [loading]="loading$ | async"
    ></app-dropdown>
  }
  @if (formGroup) {
    <app-dropdown
      [text]="getDropdownTitle()"
      valueField="uuid"
      [formGroup]="formGroup"
      [formName]="formName ?? null"
      [showDescription]="showDescription"
      [data]="optionTypes"
      (valueChange)="onValueChange($event)"
      [loading]="loading$ | async"
    ></app-dropdown>
  }
}
