<app-scrollbar-dialog
  [title]="title"
  [nested]="true"
  [ngClass]="{ 'removed-padding': isAnySelected() }"
  data-cy="bulk-action-dialog"
  >
  <app-standard-vertical-content-grid>
    <!-- Dialog body -->
    @if (!isLoading && (checkIfContainsData$() | async) === true) {
      @if (dropdownType === 'user') {
        <app-user-dropdown
          [disabledUuids$]="dropdownDisabledUuids$"
          [text]="dropdownTitle"
          [formGroup]="formGroup"
          formName="option"
        ></app-user-dropdown>
      }
      @if (dropdownType === 'it-contract') {
        <app-contracts-dropdown
          [disabledUuids$]="dropdownDisabledUuids$"
          [text]="dropdownTitle"
          [formGroup]="formGroup"
          formName="option"
        ></app-contracts-dropdown>
      }
      @for (section of sections; track section) {
        @if (section.options$ | async; as options) {
          @if (options.length > 0) {
            <app-bulk-action-dialog-section
              [options]="options"
              [entityType]="section.entityType"
              [title]="section.title"
              [primaryColumnTitle]="section.primaryColumnTitle"
              [secondaryColumnTitle]="section.secondaryColumnTitle"
            ></app-bulk-action-dialog-section>
          }
        }
      }
    }

    <!-- Loading state -->
    @if (isLoading) {
      <app-loading></app-loading>
    }

    <!-- Empty state -->
    @if (!isLoading && (checkIfContainsData$() | async) === false) {
      <app-empty-state
        [text]="emptyStateText"
        context="searchResult"
      ></app-empty-state>
    }
  </app-standard-vertical-content-grid>
  <app-dialog-actions>
    <app-standard-vertical-content-grid>
      <!-- Snackbar buttons -->
      @if (isAnySelected() && !isLoading) {
        <app-snackbar-actions>
          <app-paragraph color="white" paragraphSize="medium" [dimmed]="true">{{ getSnackbarText() }}</app-paragraph>
          @for (button of actionButtons; track button) {
            <app-button
              [color]="button.color"
              [buttonStyle]="button.buttonStyle"
              (buttonClick)="emitSelectedOptionsResult(button)"
              class="perform-action-button"
              [disabled]="formGroup.invalid"
              >
              {{ button.text }}
            </app-button>
          }
        </app-snackbar-actions>
      }

      <!-- Dialog action buttons -->
      <app-content-space-between class="action-buttons">
        <app-button
          [disabled]="!isAnySelected() || (checkIfContainsData$() | async) === false"
          buttonStyle="secondary"
          color="accent"
          (buttonClick)="deselectAll()"
          data-cy="deselect-all-bulk-action-button"
          i18n
          >
          Fravælg alle
        </app-button>
        <app-button
          [disabled]="((isAllSelected$() | async) ?? false) || (checkIfContainsData$() | async) === false"
          buttonStyle="secondary"
          color="accent"
          (buttonClick)="selectAll()"
          data-cy="select-all-bulk-action-button"
          i18n
          >
          Vælg alle
        </app-button>
      </app-content-space-between>
    </app-standard-vertical-content-grid>
  </app-dialog-actions>
</app-scrollbar-dialog>
