<ng-container *ngIf="simpleLink$ | async as simpleLink">
  <ng-container *ngIf="(hasNoLink() | async) === false">
    <ng-container *ngIf="validateSimpleLinkUrl(simpleLink.url) === true">
      <ng-container *ngIf="!isUrlEmpty(simpleLink.url)">
        <mat-form-field class="{{ size }}">
          <mat-label>{{ title }}</mat-label>
          <div (click)="openLink(simpleLink.url)">
            <input
              matInput
              type="text"
              class="link-input-style"
              [disabled]="isDisabled"
              data-cy="link-textbox-input"
              [value]="getLinkText() | async"
            />
          </div>

          <div matSuffix class="suffix-icons" *ngIf="!isDisabled">
            <span (click)="onClearClick()" *ngIf="enableClearX() | async">x</span>
            <app-icon-button (buttonClick)="onIconClick()" data-cy="edit-link-button"
              ><app-pencil-icon></app-pencil-icon>
            </app-icon-button>
          </div>
        </mat-form-field>
      </ng-container>
      <ng-container *ngIf="isUrlEmpty(simpleLink.url)">
        <app-readonly-link-textbox
          [size]="size"
          [title]="title"
          [isDisabled]="isDisabled"
          (iconClick)="onIconClick()"
        ></app-readonly-link-textbox>
      </ng-container>
    </ng-container>

    <ng-container *ngIf="validateSimpleLinkUrl(simpleLink.url) !== true">
      <mat-form-field class="{{ size }}">
        <mat-label>{{ title }}<span class="incorrect-link-color" i18n> (ugyldigt link) </span></mat-label>
        <input
          matInput
          type="text"
          readonly
          [disabled]="isDisabled"
          data-cy="link-textbox-input"
          d
          [value]="getLinkText() | async"
        />
        <div matSuffix class="suffix-icons" *ngIf="!isDisabled">
          <span (click)="onClearClick()" *ngIf="enableClearX() | async">x</span>

          <app-icon-button (buttonClick)="onIconClick()" data-cy="edit-link-button"
            ><app-pencil-icon></app-pencil-icon>
          </app-icon-button>
        </div>
      </mat-form-field>
    </ng-container>
  </ng-container>
</ng-container>

<ng-container *ngIf="hasNoLink() | async">
  <app-readonly-link-textbox
    [size]="size"
    [title]="title"
    [isDisabled]="isDisabled"
    (iconClick)="onIconClick()"
  ></app-readonly-link-textbox>
</ng-container>
