@if (simpleLink$ | async; as simpleLink) {
  @if ((hasNoLink() | async) === false) {
    @if (validateSimpleLinkUrl(simpleLink.url) === true) {
      @if (!isUrlEmpty(simpleLink.url)) {
        <mat-form-field class="{{ size }}">
          <mat-label>{{ title }}</mat-label>
          <div (click)="openLink(simpleLink.url)">
            <input
              matInput
              type="text"
              class="link-input-style"
              [disabled]="isDisabled"
              data-cy="link-textbox-input"
              [value]="getLinkText() | async"
              />
          </div>
          @if (!isDisabled) {
            <div matSuffix class="suffix-icons">
              @if (enableClearX() | async) {
                <span (click)="onClearClick()">x</span>
              }
              <app-icon-button (buttonClick)="onIconClick()" data-cy="edit-link-button"
                ><app-pencil-icon></app-pencil-icon>
              </app-icon-button>
            </div>
          }
        </mat-form-field>
      }
      @if (isUrlEmpty(simpleLink.url)) {
        <app-readonly-link-textbox
          [size]="size"
          [title]="title"
          [isDisabled]="isDisabled"
          (iconClick)="onIconClick()"
        ></app-readonly-link-textbox>
      }
    }
    @if (validateSimpleLinkUrl(simpleLink.url) !== true) {
      <mat-form-field class="{{ size }}">
        <mat-label>{{ title }}<span class="incorrect-link-color" i18n> (ugyldigt link) </span></mat-label>
        <input
          matInput
          type="text"
          readonly
          [disabled]="isDisabled"
          data-cy="link-textbox-input"
          d
          [value]="getLinkText() | async"
          />
        @if (!isDisabled) {
          <div matSuffix class="suffix-icons">
            @if (enableClearX() | async) {
              <span (click)="onClearClick()">x</span>
            }
            <app-icon-button (buttonClick)="onIconClick()" data-cy="edit-link-button"
              ><app-pencil-icon></app-pencil-icon>
            </app-icon-button>
          </div>
        }
      </mat-form-field>
    }
  }
}

@if (hasNoLink() | async) {
  <app-readonly-link-textbox
    [size]="size"
    [title]="title"
    [isDisabled]="isDisabled"
    (iconClick)="onIconClick()"
  ></app-readonly-link-textbox>
}
