@import "theme";

:host {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.card-header {
  height: $input-height;
  display: flex;
  align-items: center; /* Vertically centers the content */
  justify-content: space-between; /* Ensures items are spaced out */
  border-bottom: 1px solid $color-neutral-20;
  margin: 0 0 $padding-medium-large;
}

.flex-roles-section {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.structure-page-flex {
  display: flex;
  gap: $padding-medium;
}

.structure-section-width {
  width: 326px;
  max-width: 326px;
  overflow-x: auto;
}

.space {
  flex: 1;
}


.header-right-content {
  display: flex;
  gap: $padding-medium;
}



