<div class="structure-page-flex">
  <app-card class="structure-section-width">
    <div class="card-header">
      <h6 i18n>Organisation</h6>
      <app-menu-button iconType="dots" buttonStyle="tertiary" class="align-end">
        <app-menu-button-item i18n><app-plus-icon-blue></app-plus-icon-blue> Opret ny enhed</app-menu-button-item>
        <app-menu-button-item i18n (itemClick)="changeDragState()"
          ><app-reorder-icon></app-reorder-icon> Omstrukturer</app-menu-button-item
        >
      </app-menu-button>
    </div>
    <app-entity-tree
      *ngIf="curentUnitUuid$ | async as currentUnitUuid"
      itemType="organization"
      [hideStatusButton]="true"
      [currentNodeUuid]="currentUnitUuid"
      [nodes]="(unitTree$ | async) ?? []"
      [disableDrag]="(isDragDisabled$ | async) ?? true"
    ></app-entity-tree>
    <app-loading *ngIf="(curentUnitUuid$ | async) === undefined"></app-loading>
  </app-card>
  <div class="flex-roles-section">
    <app-details-header [title$]="unitName$" i18n-title>
      <app-menu-button iconType="dots" buttonStyle="tertiary" i18n-title>
        <app-menu-button-item i18n>Slet enhed</app-menu-button-item>
      </app-menu-button>
      <app-button buttonStyle="secondary" i18n>Rediger enhed</app-button>
      <app-button buttonStyle="primary" i18n>Opret rolle</app-button>
    </app-details-header>
    <app-card> This is a placeholder </app-card>
  </div>
</div>
