<app-segment [buttons]="segmentOptions" [(selected)]="selectedSegment"> </app-segment>

<app-card *ngIf="selectedSegment === LocalAdminSystemUsageSegmentOptions.UiCustomization">

    <app-standard-vertical-content-grid>
      <app-checkbox-button i18n
      class="one-column-width"
      (valueChange)="patchUIRootConfig($event)"
      [value]="(showItSystemModule$ | async) ?? false"
      data-cy="toggle-it-system-module-button"
      >
    <app-paragraph [bold]="true" paragraphSize="medium">
      Inkluder modul
    </app-paragraph>
    </app-checkbox-button>
  </app-standard-vertical-content-grid>
</app-card>
<app-card>
  <ng-container *ngIf="selectedSegment === LocalAdminSystemUsageSegmentOptions.UiCustomization">

    <app-standard-vertical-content-grid>
      <ng-container *ngIf="itSystemUsageUIModuleConfig$ | async as uiModuleConfig">
      <app-ui-config-tab-section *ngFor="let tabViewModel of uiModuleConfig.moduleConfigViewModel?.children"
        [moduleKey]="itSystemUsageModuleKey"
        [tabViewModel]="tabViewModel"
        [moduleEnabled]="showItSystemModule$"
        (checkboxChanged)="onCheckboxChange($event)"
        >
      </app-ui-config-tab-section>
      <app-loading *ngIf="uiModuleConfig === undefined"></app-loading>
    </ng-container>
    </app-standard-vertical-content-grid>

  </ng-container>

  <ng-container *ngIf="selectedSegment === LocalAdminSystemUsageSegmentOptions.RegularOptionTypes">
    <app-standard-vertical-content-grid>
      <app-option-type-table optionType="it-system_business-type" title="Forretningstyper" i18n-title>
      </app-option-type-table>

      <app-option-type-table optionType="it-system_usage-archive-type" title="Arkiveringstyper" i18n-title>
      </app-option-type-table>

      <app-option-type-table optionType="it-system_usage-archive-location-type" title="Arkiveringssted" i18n-title>
      </app-option-type-table>

      <app-option-type-table
        optionType="it-system_usage-archive-location-test-type"
        title="Arkiveringsteststed"
        i18n-title
      >
      </app-option-type-table>

      <app-option-type-table optionType="it-interface_data-type" title="Datatyper" i18n-title> </app-option-type-table>

      <app-option-type-table optionType="it-system_usage-relation-frequency-type" title="Frekvenser" i18n-title>
      </app-option-type-table>

      <app-option-type-table optionType="it-interface_interface-type" title="Grænseflader" i18n-title>
      </app-option-type-table>

      <app-option-type-table
        optionType="it_system_usage-gdpr-sensitive-data-type"
        title="Følsomme persondata"
        [showDescription]="false"
        [showEditButton]="false"
        i18n-title
      >
      </app-option-type-table>

      <app-option-type-table
        optionType="it-system_usage-data-classification-type"
        title="Klassifikation af data i systemet"
        i18n-title
      >
      </app-option-type-table>

      <app-option-type-table
        optionType="it_system_usage-gdpr-registered-data-category-type"
        title="Kategorier af registrerede i databehandlingen"
        [showDescription]="false"
        [showEditButton]="false"
        i18n-title
      >
      </app-option-type-table>
    </app-standard-vertical-content-grid>
  </ng-container>

  <ng-container *ngIf="selectedSegment === LocalAdminSystemUsageSegmentOptions.RoleOptionTypes">
    <app-option-type-table
      optionType="it-system-usage"
      [disableAccordion]="true"
      [expandedByDefault]="true"
      [showWriteAccess]="true"
    ></app-option-type-table>
  </ng-container>
</app-card>


