<div class="footer-section">
  <span i18n>Vis</span>
  <kendo-dropdownlist
    [data]="pageSizes"
    class="option-dropdown"
    fillMode="outline"
    textField="text"
    valueField="value"
    [listHeight]="400"
    [value]="pageSizeValue"
    (valueChange)="pageSizeValueChange($event)"
  ></kendo-dropdownlist>
  <span i18n>resultater pr. side</span>
</div>

<kendo-grid-spacer></kendo-grid-spacer>
<kendo-pager-info></kendo-pager-info>
<kendo-grid-spacer></kendo-grid-spacer>
<kendo-pager-prev-buttons></kendo-pager-prev-buttons>
<kendo-pager-input></kendo-pager-input>
<kendo-pager-next-buttons></kendo-pager-next-buttons>
