@import "theme";

:host ::ng-deep {
  display: flex;

  .footer-section {
    display: flex;
    align-items: center;
    border-bottom-left-radius: $radius-large;
    gap: $padding-small;
  }
  font-size: 14px;
  color: $color-neutral-80;

  kendo-dropdownlist {
    width: 90px;
    padding: 0 $padding-small;
  }

  kendo-pager-prev-buttons,
  kendo-pager-next-buttons,
  kendo-pager-numeric-buttons {
    color: $color-primary-dark;

    .k-button {
      font-weight: bold;
      border-radius: $radius-large !important;

      &.k-disabled {
        color: $color-neutral-60;
      }
    }
  }

  kendo-pager-info {
    order: initial;
    justify-content: center;
  }

  .option-dropdown {
    color: $color-primary-dark;
    border-radius: $radius-large;
    border-color: $color-neutral-40;
  }
  .option-dropdown:hover {
    box-sizing: border-box;
    background-color: $color-primary-10;
    border: 1px solid $color-primary !important;
  }
  .option-dropdown:active {
    box-sizing: border-box;
    background-color: $color-primary-20;
    border: 1px solid $color-primary !important;
  }
}

$select-height: 44px;

:host {
  display: flex;
}
