@import "theme";

$select-height: 44px;

:host {
  display: flex;
}

.page-size-container {
  display: flex;
  align-items: center;
  background-color: $color-white;
  padding-left: $padding-medium;
  color: $color-neutral-80;
  border-bottom-left-radius: $radius-large;
  font-size: 14px;

  mat-form-field {
    width: 80px;
    padding: 0 $padding-small;
  }
}

mat-paginator {
  flex: 1;
  border-top: 1px solid $color-neutral-20;
  border-bottom-right-radius: $radius-large;
}

:host ::ng-deep {
  .mat-mdc-paginator-container {
    justify-content: space-between;
    color: $color-neutral-80;
  }

  .mat-mdc-paginator-range-actions {
    flex: 1;
  }

  .mat-mdc-paginator-range-label {
    flex: 1;
    text-align: center;
  }

  .mat-mdc-paginator-icon {
    fill: $color-primary-dark;
  }

  .page-size-select {
    height: $select-height;

    .mat-mdc-text-field-wrapper {
      height: $select-height;
    }

    .mat-mdc-form-field-infix {
      padding-top: $padding-small;
    }
  }
}
