<div class="page-size-container">
  <span i18n>Vis</span>
  <mat-form-field class="page-size-select" appearance="outline">
    <mat-select [value]="state?.take" (valueChange)="pageSizeChanged($event)">
      <mat-option *ngFor="let option of pageSizes" [value]="option.value">
        {{ option.text }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <span i18n>resultater pr. side</span>
</div>

<mat-paginator
  [length]="total"
  [pageSize]="state?.take"
  [hidePageSize]="true"
  [showFirstLastButtons]="true"
  (page)="pageChanged($event)"
></mat-paginator>
