<app-card>
  <app-card-header title="IT system information" i18n-text>
    <app-chip *ngIf="(itSystemDeactivated$ | async) === true" state="error" i18n>Ikke tilgængeligt</app-chip>
    <app-chip *ngIf="(itSystemDeactivated$ | async) === false" state="success" i18n>Tilgængeligt</app-chip>
  </app-card-header>

  <form [formGroup]="itSystemInformationForm">
    <app-textbox text="Systemnavn" i18n-text [formGroup]="itSystemInformationForm" formName="name"></app-textbox>
    <app-textbox
      text="Overordnet system"
      i18n-text
      [formGroup]="itSystemInformationForm"
      formName="parentSystem"
    ></app-textbox>
    <app-textbox
      text="Tidligere systemnavn"
      i18n-text
      [formGroup]="itSystemInformationForm"
      formName="formerName"
    ></app-textbox>
    <app-textbox
      text="Rettighedshaver"
      i18n-text
      [formGroup]="itSystemInformationForm"
      formName="rightsHolder"
    ></app-textbox>
    <app-dropdown
      text="Forretningstype"
      i18n-text
      valueField="uuid"
      [formGroup]="itSystemInformationForm"
      formName="businessType"
      [data]="businessTypes$ | async"
    ></app-dropdown>
    <app-textbox text="Synlighed" i18n-text [formGroup]="itSystemInformationForm" formName="scope"></app-textbox>
    <app-textbox text="UUID" i18n-text [formGroup]="itSystemInformationForm" formName="uuid"></app-textbox>
    <div>
      <app-textbox
        text="Rigsarkivets vejledning til arkivering"
        i18n-text
        [formGroup]="itSystemInformationForm"
        formName="recommendedArchiveDuty"
      ></app-textbox>
      <app-textbox-info *ngIf="itSystemInformationForm.controls['recommendedArchiveDutyComment'].value as comment">
        {{ comment }}
      </app-textbox-info>
      <app-textbox-info i18n>
        Læs mere hos
        <a
          target="_blank"
          href="https://www.sa.dk/da/offentlig-forvaltning/kommuner-og-regioner/bevaring-kassation-it-systemer/"
          >Rigsarkivet</a
        >
      </app-textbox-info>
    </div>
    <app-contentbox text="Referencer vedr. systemet" i18n-text
      ><p>
        <a
          *ngFor="let reference of itSystemInformationForm.controls['urlReference'].value"
          target="_blank"
          href="{{ reference.url }}"
          >{{ reference.title }}</a
        >
      </p></app-contentbox
    >
    <app-textarea
      class="notes"
      text="Beskrivelse"
      i18n-text
      [formGroup]="itSystemInformationForm"
      formName="description"
    ></app-textarea>
  </form>
</app-card>

<app-card>
  <app-card-header title="KLE" i18n-text></app-card-header>

  <form *ngFor="let kle of kle$ | async">
    <app-textbox text="KLE ID" [value]="kle.id" [disabled]="true" i18n-text></app-textbox>
    <app-textbox text="KLE navn" [value]="kle.name" [disabled]="true" i18n-text></app-textbox>
  </form>
</app-card>
