@import "theme";
@import "mixins";

:host {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.catalog-link {
  flex: 1;
  font-size: 16px;
  text-align: end;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: $padding-large;

  .notes {
    grid-column: 1 / 3;

    @include small-breakpoint {
      grid-column: 1 / 4;
    }
  }
}
