@import "theme";
@import "mixins";

:host {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.notes {
  grid-column: 1 / 4;

  @include min-breakpoint {
    grid-column: 1 / 4;
  }
}

.catalog-link {
  flex: 1;
  font-size: 16px;
  text-align: end;
  text-decoration: underline;
}
