@import "theme";
@import "mixins";

:host {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.catalog-link {
  flex: 1;
  font-size: 16px;
  text-align: end;
  text-decoration: underline;
}
