@import "theme";

:host {
  background: $color-white;
  border-radius: $radius-large;
  padding: $padding-medium;
  padding-bottom: $padding-medium-large;
  margin-bottom: $padding-large;
  height: fit-content;

  box-shadow: $shadow;
}
