@use "theme";
@use "mixins";

:host {
  background: theme.$color-white;
  border-radius: theme.$radius-large;
  padding: theme.$padding-medium;
  padding-bottom: theme.$padding-medium-large;
  margin-bottom: theme.$padding-large;
  height: fit-content;

  @include mixins.elevation;
}
