@import "theme";

:host {
  display: flex;
  flex-direction: column;
  width: 100%;
}

table {
  width: 100%;

  thead {
    th {
      text-align: left;
    }
  }

  tbody {
    td {
      text-align: left;
    }
  }
}