<app-card>
  <app-card-header title="Databehandling" helpTextKey="it-system.usage.data-processing" i18n-text></app-card-header>
  <ng-container *ngIf="anyRegistrations$ | async">
    <app-paragraph paragraphSize="small" i18n-text
      >Systemet er omfattet af følgende registreringer i modulet "Databehandling"</app-paragraph
    >
    <app-native-table>
      <thead>
        <th width="80%" i18n-text>Databehandling</th>
        <th width="20%" i18n-text>Status</th>
      </thead>
      <tbody>
        <ng-container *ngFor="let dataProcessingRegistration of dataProcessingRegistrations$ | async">
          <tr>
            <td>
              <app-details-page-link
                itemType="data-processing-registration"
                [itemUuid]="dataProcessingRegistration.uuid"
                >{{ dataProcessingRegistration.name }}</app-details-page-link
              >
            </td>
            <td>
              <app-status-chip
                type="data-processing-registration"
                [value]="dataProcessingRegistration.general.valid"
              ></app-status-chip>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </app-native-table>
  </ng-container>
  <ng-container *ngIf="(anyRegistrations$ | async) === false">
    <app-paragraph paragraphSize="small" i18n-text
      >Systemet er ikke omfattet af registreringer i modulet "Databehandling"</app-paragraph
    >
  </ng-container>
</app-card>
