@import "theme";

:host ::ng-deep {
  .app-checkbox-wrapper {
    display: flex;
    align-items: center;
  }
  mat-checkbox {
    label {
      cursor: pointer;
      padding-right: $padding-smaller;
      //Prevent disabled state from changing the label color
      //TODO: MRO - what would a better solution be for this? It appears the theming we use sets the colors and what I want to do is to prevent the "disabled" state (.mat-mdc-checkbox-disabled) to dim the label color
      color: rgba(0, 0, 0, 0.87);
    }
  }

  .mat-mdc-checkbox.mat-accent {
    //Selected state
    --mdc-checkbox-selected-checkmark-color: #{$color-white};
    --mdc-checkbox-selected-focus-icon-color: #{$color-primary-base};
    --mdc-checkbox-selected-hover-icon-color: #{$color-primary-base};
    --mdc-checkbox-selected-icon-color: #{$color-primary-base};
    --mdc-checkbox-selected-pressed-icon-color: #{$color-primary-base};

    //Unselected state
    --mdc-checkbox-unselected-icon-color: #{$color-neutral-60};
    --mdc-checkbox-unselected-pressed-icon-color: #{$color-primary-base};
    --mdc-checkbox-unselected-focus-icon-color: #{$color-primary-base};
    --mdc-checkbox-unselected-hover-icon-color: #{$color-primary-base};

    //Diabled state
    --mdc-checkbox-disabled-selected-icon-color: #{$color-neutral-40};
    --mdc-checkbox-disabled-unselected-icon-color: #{$color-neutral-40};
  }
}
