<app-dialog title="Relevante organisationsenheder">
  <app-loading *ngIf="organizationUnitsAreLoading$ | async"></app-loading>
  <form *ngIf="(organizationUnitsAreLoading$ | async) === false" [formGroup]="usingUnitForm">
    <app-hierarchy-dropdown
      textField="Relevante organisationsenheder"
      i18n-text
      valueField="uuid"
      [organizationUnits$]="organizationUnits$"
      [formGroup]="usingUnitForm"
      formName="unit"
      [showDescription]="true"
    ></app-hierarchy-dropdown>
    <!-- <app-dropdown
      text="Relevante organisationsenheder"
      i18n-text
      valueField="uuid"
      [data]="organizationUnits$ | async"
      [formGroup]="usingUnitForm"
      formName="unit"
      [showDescription]="true"
    ></app-dropdown> -->
    <div class="dialog-actions">
      <app-button buttonStyle="outline" (buttonClick)="onCancel()">Cancel</app-button>
      <app-button [disabled]="usingUnitForm.valid === false" (buttonClick)="onSave()">Save</app-button>
    </div>
  </form>
</app-dialog>
