<app-segment [buttons]="segmentOptions" [(selected)]="selectedSegment"></app-segment>

<app-card>
  <ng-container *ngIf="selectedSegment === GlobalAdminOrganizationSegmentOptionType.CountryCodes">
    <app-standard-vertical-content-grid>
      <app-global-option-type-view
        optionType="organization_country-code"
        title="Landekoder"
        i18n-title
        [disableAccordion]="true"
        [expandedByDefault]="true"
      ></app-global-option-type-view>
    </app-standard-vertical-content-grid>

  </ng-container>

  <ng-container *ngIf="selectedSegment === GlobalAdminOrganizationSegmentOptionType.RoleOptionTypes">
    <app-global-option-type-view
      optionType="organization-unit"
      title="Organisationsroller"
      i18n-title
      [showWriteAccess]="true"
      [disableAccordion]="true"
      [expandedByDefault]="true"
      [scrollable]="'none'"
      [fitSizeToContent]="false"
    ></app-global-option-type-view>
  </ng-container>
</app-card>
