<ng-container *ngIf="userRightsWithExpired$ | async as userRights">
  <app-accordion [isExpanded]="userRights.length > 0" [disabled]="userRights.length === 0">
    <app-accordion-header>
      <app-content-space-between class="accordion-header">
        <app-paragraph [bold]="true" paragraphSize="large"> {{ getTitle() }} </app-paragraph>
        <app-number-circle [number]="userRights.length"></app-number-circle>
      </app-content-space-between>
    </app-accordion-header>
    <ng-container *ngIf="userRights.length > 0">
      <app-native-table tableLayout="fixed" *ngIf="isLoading === false">
        <thead>
          <tr>
            <th>{{ getRoleTypeName() }}</th>
            <th i18n>Rolle</th>
            <th i18>Skrive</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let right of userRights">
            <td>{{ right.entity.name }}</td>
            <td>{{ right.role.name }}</td>
            <td>
              <app-content-space-between>
                <app-boolean-circle [value]="right.writeAccess"></app-boolean-circle>
                <app-table-row-actions *ngIf="hasModifyPermission$ | async">
                  <app-icon-button
                    (buttonClick)="onRemove(right)"
                    [attr.data-cy]="'delete-role-button-' + right.role.name"
                  >
                    <app-trashcan-icon></app-trashcan-icon>
                  </app-icon-button>
                </app-table-row-actions>
              </app-content-space-between>
            </td>
          </tr>
        </tbody>
      </app-native-table>
      <app-loading *ngIf="isLoading"></app-loading>
    </ng-container>
  </app-accordion>
</ng-container>
