@if (options && options.length > 0) {
  @if (formGroup && formName) {
    <app-standard-vertical-content-grid [withGap]="false">
      @if (text) {
        <label>{{ text }}</label>
      }
      <div [formGroup]="formGroup">
        <mat-radio-group [formControlName]="formName" [value]="value" (change)="changeSelectedOption($event.value)">
          @for (option of options; track option) {
            <mat-radio-button
              [disableRipple]="true"
              [value]="option.id"
              [disabled]="disabled"
              >{{ option.label }}</mat-radio-button
              >
            }
          </mat-radio-group>
        </div>
      </app-standard-vertical-content-grid>
    }
  }
