@if (systemUsagesEnabled$ | async) {
  <app-card>
    <app-card-header
      title="IT Kontrakten gælder flg. IT Systemer"
      i18n-title
      helpTextKey="it-contract.edit.systems"
    ></app-card-header>
    <app-standard-vertical-content-grid>
      @if (anySystemUsages$ | async) {
        <app-native-table>
          <thead>
            <th i18n>IT System</th>
          </thead>
          <tbody>
            @for (system of systemUsages$ | async; track system) {
              <tr>
                <td>
                  <app-content-space-between>
                    <app-details-page-link itemType="it-system-usage" linkFontSize="small" [itemPath]="system.uuid">{{
                      system.name
                    }}</app-details-page-link>
                    @if ((hasModifyPermission$ | async) === true) {
                      <app-icon-button
                        (buttonClick)="onDeleteSystemUsage(system.uuid)"
                        data-cy="delete-system-usage-button"
                        ><app-trashcan-icon></app-trashcan-icon
                      ></app-icon-button>
                    }
                  </app-content-space-between>
                </td>
              </tr>
            }
          </tbody>
        </app-native-table>
      }
      @if ((anySystemUsages$ | async) === false) {
        <app-empty-state
          text="Ingen systemer tilføjet endnu"
          context="emptyTable"
          i18n-text
        ></app-empty-state>
      }
      @if ((hasModifyPermission$ | async) === true) {
        <app-collection-extension-button
          text="Tilføj system"
          (clicked)="onAddNewSystemUsage()"
          data-cy="add-system-usage-button"
          i18n-text
        ></app-collection-extension-button>
      }
    </app-standard-vertical-content-grid>
  </app-card>
}

@if (systemRelationsEnabled$ | async) {
  <app-card>
    <app-card-header
      title="IT Kontrakten gælder flg. relationer"
      i18n-title
      helpTextKey="it-contract.edit.system-relations"
    ></app-card-header>
    @if ((relationsIsLoading$ | async) === false) {
      <app-standard-vertical-content-grid>
        @if (anyRelations$ | async) {
          <app-native-table tableLayout="fixed" data-cy="relations-table">
            <thead>
              <th i18n>IT System (anvender)</th>
              <th i18n>IT System (udstiller)</th>
              <th i18n>Snitflade</th>
              <th i18n>Beskrivelse</th>
              <th i18n>Reference</th>
              <th i18n>Frekvens</th>
            </thead>
            <tbody>
              @for (relation of relations$ | async; track relation) {
                <tr>
                  <td>
                    <app-details-page-link
                      itemType="it-system-usage"
                      linkFontSize="small"
                      [itemPath]="relation.fromSystemUsage.uuid"
                      >{{ relation.fromSystemUsage.name }}</app-details-page-link
                      >
                    </td>
                    <td>
                      <app-details-page-link
                        itemType="it-system-usage"
                        linkFontSize="small"
                        [itemPath]="relation.toSystemUsage.uuid"
                        >{{ relation.toSystemUsage.name }}</app-details-page-link
                        >
                      </td>
                      <td>
                        <app-details-page-link
                          itemType="it-interface"
                          linkFontSize="small"
                          [itemPath]="relation.relationInterface?.uuid"
                          >{{ relation.relationInterface?.name }}</app-details-page-link
                          >
                        </td>
                        <td>
                          <app-paragraph paragraphSize="small" [cropOnOverflow]="true">{{ relation.description }}</app-paragraph>
                        </td>
                        <td>
                          <app-external-page-link [url]="relation.urlReference ?? undefined"></app-external-page-link>
                        </td>
                        <td>
                          <app-paragraph paragraphSize="small">{{ relation.relationFrequency?.name }}</app-paragraph>
                        </td>
                      </tr>
                    }
                  </tbody>
                </app-native-table>
              }
              @if ((anyRelations$ | async) === false) {
                <app-empty-state
                  text="Ingen relationer tilføjet endnu"
                  context="emptyTable"
                  i18n-text
                ></app-empty-state>
              }
            </app-standard-vertical-content-grid>
          }
          @if (relationsIsLoading$ | async) {
            <app-loading></app-loading>
          }
        </app-card>
      }

      @if (agreementElementsEnabled$ | async) {
        <app-card>
          <app-card-header
            title="IT Kontrakten omfatter flg. aftaleelementer"
            i18n-title
            helpTextKey="it-contract.edit.systems-elemets"
          ></app-card-header>
          <app-standard-vertical-content-grid>
            @if (anyAgreementElements$ | async) {
              <app-native-table>
                <thead>
                  <th i18n>Aftaleelement</th>
                </thead>
                <tbody>
                  @for (agreementElement of systemAgreementElements$ | async; track agreementElement) {
                    <tr>
                      <td>
                        <app-content-space-between>
                          <app-paragraph paragraphSize="small">{{ agreementElement.name }}</app-paragraph>
                          @if ((hasModifyPermission$ | async) === true) {
                            <app-icon-button
                              (buttonClick)="onDeleteAgreementElement(agreementElement.uuid)"
                              data-cy="delete-agreement-element-button"
                              ><app-trashcan-icon></app-trashcan-icon
                            ></app-icon-button>
                          }
                        </app-content-space-between>
                      </td>
                    </tr>
                  }
                </tbody>
              </app-native-table>
            }
            @if ((anyAgreementElements$ | async) === false) {
              <app-empty-state
                text="Ingen aftaleelementer tilføjet endnu"
                context="emptyTable"
                i18n-text
              ></app-empty-state>
            }
            @if ((hasModifyPermission$ | async) === true) {
              <app-collection-extension-button
                text="Tilføj aftaleelement"
                data-cy="add-agreement-element-button"
                (clicked)="onAddNewAgreementElement()"
                i18n-text
              ></app-collection-extension-button>
            }
          </app-standard-vertical-content-grid>
        </app-card>
      }
