@import "theme";
@import "mixins";

:host {
  display: flex;
  flex: 1;
}

mat-form-field {
  flex: 1;
}

@mixin mat-input-adjustment {
  --mdc-typography-subtitle1-font-size: var(--font-size);
  --mdc-typography-body1-font-size: var(--font-size);

  // Thicker border on focus
  &.mat-focused {
    .mat-mdc-text-field-wrapper {
      border: 2px solid $color-primary-80;
    }

    .mat-mdc-form-field-infix {
      margin: -1px;
    }
  }

  // Disabled state
  &.mat-form-field-disabled {
    .mat-mdc-text-field-wrapper {
      border: 1px solid $color-neutral-40 !important;
      background-color: $color-neutral-10;
    }
  }

  // Wrapper border and color
  .mat-mdc-text-field-wrapper {
    border: 1px solid $color-neutral-40;
    border-radius: $radius-large;

    &:hover {
      border-color: $color-primary-80;
    }

    .mat-mdc-form-field-infix {
      height: var(--height);
      min-height: var(--height);
      padding-top: var(--offset);

      input {
        color: $color-neutral;
        backface-visibility: hidden;
        -webkit-font-smoothing: auto;
      }
    }
  }

  // Remove ripple underline
  .mdc-line-ripple {
    display: none;
  }

  // Transparent background
  .mdc-text-field {
    background-color: transparent;
  }

  // No focus overlay
  .mat-mdc-form-field-focus-overlay {
    opacity: 0 !important;
  }

  // Floating label adjustments
  .mat-mdc-form-field-flex .mdc-floating-label {
    top: calc(var(--offset) * 1.4);
    color: $color-neutral-80 !important;
    transition: none;
    will-change: unset;

    &--required {
      display: none;
    }

    &--float-above {
      top: calc(var(--offset) * 0.4);
      color: $color-neutral-dark !important;
      font-weight: bold;
      transform: scale(var(--scale));
      backface-visibility: hidden;
      -webkit-font-smoothing: auto;
    }
  }

  // Prefix and suffix padding
  .mat-mdc-form-field-icon-prefix {
    padding-left: $padding-medium;
    padding-right: $padding-small;
  }

  .mat-mdc-form-field-icon-suffix {
    padding-right: $padding-medium;
  }

  // Remove empty spacing below field
  .mat-mdc-form-field-bottom-align::before {
    content: unset;
  }
}

:host ::ng-deep mat-form-field {
  &.medium {
    --height: 48px;
    --font-size: 14px;
    --offset: 17px;
    --scale: calc(12 / 14);
  }

  &.large {
    --height: 56px;
    --font-size: 16px;
    --offset: 20px;
    --scale: calc(12 / 16);
  }

  @include mat-input-adjustment;
}
