<mat-form-field *ngIf="formGroup" class="{{ size }}" [formGroup]="formGroup">
  <mat-label>{{ text }}</mat-label>
  <input
    matInput
    placeholder=""
    [matDatepicker]="picker"
    [formControlName]="formName"
    (dateChange)="formDateInputValueChange($event)"
    (focus)="focus(true)"
    (blur)="focus(false)"
  />
  <mat-datepicker-toggle matIconSuffix [for]="picker">
    <!-- <app-calendar-icon></app-calendar-icon> -->
  </mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>

<!-- <kendo-floatinglabel *ngIf="formGroup" class="{{ size }}" [text]="text" [formGroup]="formGroup">
  <kendo-datepicker
    placeholder=""
    [format]="DEFAULT_DATE_FORMAT"
    [fillMode]="fillMode"
    [formControlName]="formName"
    (valueChange)="formValueChange($event)"
    (focus)="focus(true)"
    (blur)="focus(false)"
  ></kendo-datepicker>
</kendo-floatinglabel>

<kendo-floatinglabel *ngIf="!formGroup" class="{{ size }}" [text]="text" [ngClass]="{ icon: icon }">
  <app-search-icon *ngIf="icon === 'search'"></app-search-icon>
  <kendo-datepicker
    placeholder=""
    [format]="DEFAULT_DATE_FORMAT"
    [fillMode]="fillMode"
    [disabled]="disabled"
    [(value)]="value"
    (appAfterValueChanged)="valueChange.emit($event)"
  ></kendo-datepicker>
</kendo-floatinglabel> -->
