<mat-accordion>
  <mat-expansion-panel [disabled]="disabled" [expanded]="isExpandedByDefault">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <app-checkbox *ngIf="checkboxInTitle"></app-checkbox>
          <app-paragraph [bold]="true">{{ title }}</app-paragraph>
          <ng-content class="accordion-header" select="app-accordion-header"></ng-content>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ng-content></ng-content>
  </mat-expansion-panel>
</mat-accordion>
