@import "theme";

:host {
  display: flex;
}

// Customization of button in navigation context
:host ::ng-deep {
  button {
    font-size: 14px;
    font-weight: normal;
    justify-content: flex-start;
  }

  .active button {
    font-weight: bold;
    background: $color-primary-10 !important;
  }

  //Resize the svg to spec
  svg {
    width: 20px;
    height: 20px;
  }
}

.expanded {
  min-width: 240px;
}

app-divider {
  margin: $padding-smaller;
}

.chevron-container {
  display: flex;
}

.chevron-left {
  justify-content: flex-start;
}

.chevron-right {
  justify-content: flex-end;
}

