<app-card [ngClass]="{ expanded: isExpanded }">
  <div *ngFor="let item of items">
    <app-button
      buttonStyle="tertiary"
      [tooltip]="isExpanded ? '' : item.label"
      color="accent"
      size="large"
      routerLinkActive="active"
      [routerLink]="[item.route]"
    >
      <app-icon [iconType]="item.iconType"></app-icon>
      <ng-container *ngIf="isExpanded">{{ item.label }} </ng-container>
    </app-button>
  </div>
  <app-divider></app-divider>

  <app-button
    buttonStyle="tertiary"
    [tooltip]="isExpanded ? 'Minimer' : 'Udvid'"
    color="accent"
    size="large"
    (buttonClick)="toggleExpanded()"
    [ngClass]="{ 'chevron-left': !isExpanded, 'chevron-right': isExpanded }"
    class="chevron-container"
  >
    <app-collapse-circle-icon *ngIf="isExpanded"></app-collapse-circle-icon>
    <app-expand-circle-icon *ngIf="!isExpanded"></app-expand-circle-icon>
  </app-button>
</app-card>
