@use "mixins.scss";

:host {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.notes {
  grid-column: 1 / 4;

  @include mixins.min-breakpoint {
    grid-column: 1 / 4;
  }
}

.input-two-thirds-column-width {
  grid-column: span 2;
}

.flex {
  display: flex;
}
