<app-dialog title="Tilpas kolonneopsætning">
  <app-checkbox
    *ngFor="let column of columnsCopy"
    [text]="column.title"
    [value]="column.hidden"
    labelPosition="after"
    [invertCheckedValue]="true"
    (valueChange)="changeVisibility(column)"
  ></app-checkbox>
  <app-dialog-actions>
    <app-button buttonStyle="secondary" (buttonClick)="close()" i18n>Annuller</app-button>
    <app-button buttonStyle="primary" (buttonClick)="save()" i18n>Gem</app-button>
  </app-dialog-actions>
</app-dialog>
