@import "theme";
@import "mixins";

:host {
  display: flex;
  flex: 1;
}

mat-form-field {
  flex: 1;
}

:host ::ng-deep mat-form-field {
  @include mat-form-sizes;
  @include mat-textbox-input-adjustment;
  @include mat-input-adjustment;
}


mat-form-field {
  @include input-background-white
}

