@use "theme";
@use "mixins";

:host {
  display: flex;
  flex: 1;
}

mat-form-field {
  flex: 1;
}

:host ::ng-deep mat-form-field {
  @include mixins.mat-form-sizes;
  @include mixins.mat-textbox-input-adjustment;
  @include mixins.mat-input-adjustment;
}

mat-form-field {
  @include mixins.input-background-white;
}
