<app-standard-vertical-content-grid data-cy="subprocessors-table">
  <app-native-table *ngIf="anyOversightDates$ | async">
    <thead>
      <th i18n>Dato for tilsyn</th>
      <th i18n>Bemærkninger</th>
    </thead>
    <tbody>
      <tr *ngFor="let subprocessor of oversightDates$ | async">
        <td>
          <app-paragraph paragraphSize="medium">{{ subprocessor.completedAt }}</app-paragraph>
        </td>
        <td>
          <app-paragraph paragraphSize="medium">{{ subprocessor.remark }}</app-paragraph>
        </td>
        <td>
          <app-content-space-between>
            <app-table-row-actions *ngIf="(hasModifyPermissions$ | async) === true">
              <app-icon-button
                data-cy="edit-oversight-date-button"
                ><app-pencil-icon></app-pencil-icon
              ></app-icon-button>
              <app-icon-button
                data-cy="delete-oversight-date-button"
                ><app-trashcan-icon></app-trashcan-icon
              ></app-icon-button>
            </app-table-row-actions>
          </app-content-space-between>
        </td>
      </tr>
    </tbody>
  </app-native-table>
  <app-empty-state
    *ngIf="(anyOversightDates$ | async) === false"
    text="Ingen tilsyn tilføjet endnu"
    context="emptyTable"
    i18n-text
  ></app-empty-state>
  <app-collection-extension-button
    text="Opret tilsyn"
    data-cy="add-subprocessor-button"
    i18n-text
    *ngIf="(hasModifyPermissions$ | async) === true"
  ></app-collection-extension-button>
</app-standard-vertical-content-grid>
