@use "theme";

.main-container {
  padding: theme.$padding-small-medium;
  border-radius: theme.$radius-large;
}

.color-gray {
  background-color: theme.$color-primary-10;
}

.color-white {
  background-color: theme.$color-white;
}

.title-margin {
  margin-bottom: theme.$padding-small;
}
