<ng-template #tmplNode let-node="node" let-childOfRoot="childOfRoot" let-level="level">
  <div
    class="node node-item"
    [ngClass]="{
      'child-node': node.isRoot !== true,
      'root-node': node.isRoot === true,
      'child-of-root': childOfRoot === true,
      'leaf-node': node.children.length === 0,
    }"
    [attr.data-id]="node.uuid"
    [attr.id]="'node-' + node.uuid"
    >
    <div
      [class]="'drag-container node-wrapper no-select node-' + getNodeColor(node)"
      [style.--dynamic-width.px]="14 * (level - 1)"
      [style.--dynamic-left.px]="15 * (level - 1)"
      [ngClass]="{
        'root-node-wrapper': node.isRoot === true,
        'current-node-blue': node.uuid === currentNodeUuid && node.color === 'blue',
        'current-node-green': node.uuid === currentNodeUuid && node.color === 'green',
        'checkbox-color': checkboxNodes === true,
      }"
      data-cy="node"
      (click)="disableRedirect ? expandClick(node) : goToNode(node)"
      >
      @if (node.children.length && (maxLevel === undefined || maxLevel > level)) {
        @if (node.isExpanded) {
          <app-chevron-down-icon
            class="chevron-icon"
            (click)="disableRedirect ? null : expandClick(node)"
          ></app-chevron-down-icon>
        }
        @if (!node.isExpanded) {
          <app-chevron-right-icon
            class="chevron-icon"
            (click)="disableRedirect ? null : expandClick(node)"
          ></app-chevron-right-icon>
        }
      }
      @if (checkboxNodes === true) {
        <app-checkbox
          [value]="node.status"
          [disabled]="disableCheck"
          (valueChange)="checkNode(node)"
          (click)="$event.stopPropagation()"
        ></app-checkbox>
        <app-details-page-link
          [itemType]="itemType"
          linkFontSize="small"
          [itemPath]="node.uuid"
          [disableRedirect]="disableRedirect"
          >
          <span class="level-indicator-color">{{ level }}.</span> {{ node.name }}
        </app-details-page-link>
      }
      @if (checkboxNodes === false) {
        <app-details-page-link
          [itemType]="itemType"
          linkFontSize="small"
          [itemPath]="node.uuid"
          [disableRedirect]="disableRedirect"
          >
          <span class="level-indicator-color">{{ level }}.</span> {{ node.name }}
        </app-details-page-link>
      }
      @if (!disableDrag && !node.isRoot) {
        <app-drag-icon cdkDragHandle data-cy="drag-icon"></app-drag-icon>
      }
    </div>
    @if (maxLevel === undefined || maxLevel > level) {
      @if (node.isExpanded && node.children.length) {
        <div
          class="node-children"
          cdkDropList
          [cdkDropListData]="node.children"
          [id]="node.uuid"
          [cdkDropListConnectedTo]="dropTargetIds"
          (cdkDropListDropped)="drop($event)"
          [cdkDropListDisabled]="disableDrag"
          [cdkDropListSortingDisabled]="true"
          >
          @for (child of node.children; track child) {
            <div cdkDrag [cdkDragData]="child.uuid" (cdkDragMoved)="dragMoved($event)" [cdkDragDisabled]="child.isRearrangeDisabled">
              <ng-container
                *ngTemplateOutlet="tmplNode; context: { node: child, childOfRoot: node.isRoot, level: level + 1 }"
              ></ng-container>
            </div>
          }
        </div>
      }
    }
  </div>
</ng-template>

<div
  cdkDropList
  [cdkDropListData]="nodes"
  [id]="'main'"
  [cdkDropListConnectedTo]="dropTargetIds"
  (cdkDropListDropped)="drop($event)"
  [cdkDropListSortingDisabled]="true"
  [cdkDropListDisabled]="disableDrag"
  >
  @for (node of nodes; track node) {
    <div cdkDrag [cdkDragData]="node.uuid" (cdkDragMoved)="dragMoved($event)" [cdkDragDisabled]="node.isRearrangeDisabled">
      <ng-container *ngTemplateOutlet="tmplNode; context: { node: node, childOfRoot: false, level: 1 }"></ng-container>
    </div>
  }
</div>
