<ng-template #tmplNode let-node="node">
  <div
    class="node node-item"
    [ngClass]="{
      'child-node': node.isRoot !== true,
      'root-node': node.isRoot === true,
      'leaf-node': node.children.length === 0
    }"
    [attr.data-id]="node.uuid"
    [attr.id]="'node-' + node.uuid"
  >
    <div
      [class]="'drag-container node-wrapper node-' + node.color"
      [ngClass]="{
        'root-node-wrapper': node.isRoot === true,
        'current-node-blue': node.uuid === currentNodeUuid && node.color === 'blue',
        'current-node-green': node.uuid === currentNodeUuid && node.color === 'green'
      }"
      (click)="expandClick(node)"
    >
      {{ node.children.length ? (node.isExpanded ? "-&nbsp;" : "+") : "&nbsp;&nbsp;&nbsp;" }}
      <app-details-page-link [itemType]="itemType" linkFontSize="small" [itemUuid]="node.uuid">
        {{ node.name }}
      </app-details-page-link>
    </div>

    <div
      *ngIf="node.isExpanded && node.children.length"
      class="node-children"
      cdkDropList
      [cdkDropListData]="node.children"
      [id]="node.uuid"
      [cdkDropListConnectedTo]="dropTargetIds"
      (cdkDropListDropped)="drop($event)"
      [cdkDropListSortingDisabled]="true"
    >
      <div *ngFor="let child of node.children" cdkDrag [cdkDragData]="child.uuid" (cdkDragMoved)="dragMoved($event)">
        <ng-container *ngTemplateOutlet="tmplNode; context: { node: child }"></ng-container>
      </div>
    </div>
  </div>
</ng-template>

<div
  cdkDropList
  [cdkDropListData]="nodes"
  [id]="'main'"
  [cdkDropListConnectedTo]="dropTargetIds"
  (cdkDropListDropped)="drop($event)"
  [cdkDropListSortingDisabled]="true"
>
  <div *ngFor="let node of nodes" cdkDrag [cdkDragData]="node.uuid" (cdkDragMoved)="dragMoved($event)">
    <ng-container *ngTemplateOutlet="tmplNode; context: { node: node }"></ng-container>
  </div>
</div>
