@import "theme";

.cdk-drag-placeholder {
  display: none;
}

.cdk-drag-preview {
  box-sizing: border-box;
  box-shadow: 0 3px 3px -2px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);

  background: #fff;
  opacity: 0.3;
}

.drop-inside {
  border: 1px dotted $color-primary-darker;
  border-radius: $radius-large;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.drop-before {
  border-top: 1px dotted $color-primary-darker;
}

.drop-after {
  border-bottom: 1px dotted $color-primary-darker;
}

.node-title {
  padding: 15px;
  margin: 5px;
  background: #eee;
  cursor: grab;
}

.node-children {
  position: relative;
  transition: height 0.2s;
}
.item-notes {
  margin-left: 20px;
  color: #aaa;
}

.node-green {
  background-color: $color-positive-light;
  border-color: $color-positive-light;

  ::ng-deep {
    a {
      color: $color-positive !important;
    }
  }
}

.node-blue {
  background-color: $color-white;
  border-color: $color-primary-40;
}

.node-wrapper {
  width: fit-content;
  position: relative;
  min-height: unset;
  border-radius: $radius-large;
  border-width: 1px;
  border-style: solid;
  padding: $padding-small;
  z-index: 50;
  margin: 0px;
  margin-bottom: $padding-medium;
}

.current-node-blue {
  background-color: $color-primary;
  border-color: $color-primary;

  ::ng-deep {
    a {
      color: $color-white !important;
    }
  }
}

.current-node-green {
  background-color: $color-positive;
  border-color: $color-positive;

  ::ng-deep {
    a {
      color: $color-white !important;
    }
  }
}

app-details-page-link {
  padding: $padding-smaller;
}

/*
  DRAW CONNECTING LINES BETWEEN TREE ELEMENTS
*/

.root-node {
  --spacing: 1.5rem;
  --radius: 10px;
}
.root-node .child-node {
  position: relative;
  padding-left: calc(2 * var(--spacing) - var(--radius) - 2px);
}

.root-node .child-of-root::before,
.root-node .child-of-root::after {
  position: absolute;
  display: block;
  right: auto;
  left: 20px;
  content: "";
}

//Set the border left of each child-node in the tree (root does not get one as it has no parent)
.root-node .child-of-root::before {
  top: -16px;
  bottom: 58px;
  width: 1px;
  height: 150%; //calc(var(--spacing) + 1px);
  border-left: 2px solid $color-primary-20;
}
.root-node .child-of-root:last-child::before {
  top: -16px;
  bottom: 58px;
  width: 1px;
  height: 100%; //calc(var(--spacing) + 1px);
  border-left: 2px solid $color-primary-20;
}

//preparing for drawing lines by setting position absolute wrt. owner element
/* .node .child-node::before,
.node .child-node::after {
  position: absolute;
  right: auto;
  left: 21px;
  content: "";
}

//Set the border left of each child-node in the tree (root does not get one as it has no parent)
.node .child-node::before {
  top: -16px;
  bottom: 58px;
  width: 1px;
  height: 100%;
  border-left: 2px solid $color-primary-20;
} */

//Place line left of each node
.node-wrapper::before {
  border-top: 2px solid $color-primary-20;
  width: 15px;
  content: "";
  position: absolute;
  top: 24px;
  left: -16px;
  z-index: 100;
}

.root-node-wrapper::before {
  border-top: unset;
  content: unset;
}

div[role="group"] > .mat-tree-node {
  padding-left: 48px;
}
