<app-paragraph [cropOnOverflow]="true">
  @if (column.dataField) {
  <div>
    @for (collectionItem of getProperty(column.dataField); let i = $index; track collectionItem.id) { @if
    (column.itemTooltipField) {
    <app-details-page-link-with-tooltip
      [toolTip]="getPropertyFromObject(collectionItem, column.itemTooltipField) ?? ''"
      linkFontSize="small"
      [itemType]="column.entityType"
      [itemPath]="collectionItem.id"
      [itemPathIncludesSubmodule]="column.style === 'page-link-array-with-submodules'"
      >{{ collectionItem.value }}
    </app-details-page-link-with-tooltip>
    } @if (!column.itemTooltipField) {
    <app-details-page-link
      linkFontSize="small"
      [itemType]="column.entityType"
      [itemPath]="collectionItem.id"
      [itemPathIncludesSubmodule]="column.style === 'page-link-array-with-submodules'"
      >{{ collectionItem.value }}</app-details-page-link
    >
    }{{ i < getProperty(column.dataField).length - 1 ? column.linkArraySeparator ?? ", " : "" }}
    }
  </div>
  }
</app-paragraph>
