@use "theme";

:host {
  margin: 0 auto;
}

.spinner-container {
  display: flex;
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

app-kitos-k-icon {
  display: flex;
  position: relative;
  margin: 0 auto;
  align-items: center;
}

h6 {
  margin-top: theme.$padding-medium;
  color: theme.$color-primary-base;
  text-align: center;
}

.spinner {
  position: absolute;
  background-color: theme.$color-primary-base;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background: conic-gradient(transparent, theme.$color-primary-base);
  animation: rotate 1s linear infinite;
}

.spinner:before,
.spinner:after {
  content: "";
  position: absolute;
  border-radius: 50%;
}

.spinner:before {
  width: 84px;
  height: 84px;
  top: 8px;
  left: 8px;
  background-color: theme.$color-primary-10;
}

.spinner:after {
  height: 8px;
  width: 8px;
  background-color: theme.$color-primary-base;
  top: 0;
  left: 45px;
}

@keyframes rotate {
  from {
    transform: rotateZ(0);
  }
  to {
    transform: rotateZ(360deg);
  }
}

.centered-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
