<app-accordion title="Roller" i18n-title>
  <app-native-table tableLayout="fixed">
    <thead>
      <th>
        <app-checkbox
          [value]="selectAllInTable"
          (valueChange)="changeRegistrationCollectionState($event, registrationType)"
        ></app-checkbox>
      </th>
      <th i18n>Rolle</th>
      <th i18n>Bruger</th>
    </thead>
    <tbody>
      <tr *ngFor="let roleRegistration of roleRegistrations$ | async">
        <td><app-checkbox [value]="roleRegistration.isSelected"></app-checkbox></td>
        <td>
          <app-paragraph>{{ roleRegistration.registration.name }}</app-paragraph>
        </td>
        <td>
          <app-content-space-between>
            <app-paragraph>{{ roleRegistration.registration.userFullName }}</app-paragraph>
            <app-icon-button (buttonClick)="removeSingleRegistration(roleRegistration.registration.id)"
              ><app-trashcan-icon></app-trashcan-icon
            ></app-icon-button>
          </app-content-space-between>
        </td>
      </tr>
    </tbody>
  </app-native-table>
</app-accordion>
