<app-general-info-section></app-general-info-section>

<app-card>
  <app-card-header
  title="Yderligere information"
  helpTextKey="it-system.usage.gdpr.additional"
  i18n-title
  ></app-card-header>
  <app-standard-vertical-content-grid>
    <app-data-sensitivity-section [onNoPermissions]="disableFormsIfNoPermissions" data-cy='data-sensitivity-accordion'></app-data-sensitivity-section>
  	<app-registered-data-categories-section [onNoPermissions]="disableFormsIfNoPermissions" data-cy='registed-categories-accordion'></app-registered-data-categories-section>
    <app-gdpr-technical-precautions-section [onNoPermissions]="disableFormsIfNoPermissions" data-cy='technical-precautions-accordion'></app-gdpr-technical-precautions-section>
    <app-gdpr-user-supervision-section [onNoPermissions]="disableFormsIfNoPermissions" data-cy='user-supervision-accordion'></app-gdpr-user-supervision-section>
    <app-gdpr-risk-assessment-section [onNoPermissions]="disableFormsIfNoPermissions" data-cy='risk-assessment-accordion'></app-gdpr-risk-assessment-section>
    <app-gdpr-dpia-conducted-section [onNoPermissions]="disableFormsIfNoPermissions"></app-gdpr-dpia-conducted-section>
    <app-gdpr-retention-period-section [onNoPermissions]="disableFormsIfNoPermissions"></app-gdpr-retention-period-section>
  </app-standard-vertical-content-grid>
</app-card>
