<app-card>
  <app-card-header
  title="Generel information"
  helpTextKey="it-system.usage.gdpr.general"
  i18n-title
  ></app-card-header>

  <form [formGroup]="generalInformationForm">
    <app-textbox
      text="Systemets overordnede formål"
      i18n-text
      [formGroup]="generalInformationForm"
      formName="systemOverallPurpose"
      [maxLength]="250">
    </app-textbox>
    <app-dropdown
      text="Forretningskritisk IT-System"
      i18n-text
      [formGroup]="generalInformationForm"
      formName="businessCriticalSystem"
      [data]="businessCriticalSystemOptions"
    ></app-dropdown>
    <app-dropdown
      text="IT-systemet driftes"
      i18n-text
      [formGroup]="generalInformationForm"
      formName="systemHosting"
      [data]="hostedAtOptions"
    ></app-dropdown>
    <app-textbox
      text="Link til fortegnelse"
      i18n-text
      [formGroup]="generalInformationForm"
      formName="linkToDocumentation"
      [maxLength]="100">
    </app-textbox>
  </form>
</app-card>

<app-card>
  <app-card-header
  title="Yderligere information"
  helpTextKey="it-system.usage.gdpr.additional"
  i18n-title
  ></app-card-header>
  <app-accordion
    title="Hvilke typer data indeholder systemet?">
    <form >
      <div *ngFor="let dataSensitivityLevel of dataSensitivityLevelOptions">
   <app-checkbox
        [text]="dataSensitivityLevel.name"
        i18n-text
        [formGroup]="dataSensitivityLevelForm"
        [formName]="dataSensitivityLevel.value"
        labelPosition="after"
      />
      </div>


    </form>
  </app-accordion>

</app-card>
