<app-overview-header>
  <h3 i18n>IT Systemer i {{ organizationName$ | async }}</h3>

  <app-filter-options-button></app-filter-options-button>

  <app-button buttonStyle="tertiary">
    <app-more-horizontal-icon></app-more-horizontal-icon>
  </app-button>
  <app-menu-button title="Eksporter" i18n-title>
    <app-menu-button-item i18n (itemClick)="appGrid.onExcelExport(true)">
      <app-export-icon />Eksporter alle kolonner
    </app-menu-button-item>
    <app-menu-button-item i18n (itemClick)="appGrid.onExcelExport(false)">
      <app-export-icon />Eksporter viste kolonner
    </app-menu-button-item>
    <app-menu-button-item i18n> <app-export-icon />Eksporter GDPR data </app-menu-button-item>
  </app-menu-button>
  <app-hide-show-button entityType="it-system-usage" [columns]="gridColumns$ | async"></app-hide-show-button>
</app-overview-header>

<app-grid
  [data]="gridData$ | async"
  [columns$]="gridColumns$"
  [loading]="isLoading$ | async"
  [state]="gridState$ | async"
  [exportToExcelName]="'IT Systemer Overblik'"
  i18n-exportToExcelName
  (stateChange)="stateChange($event)"
  (rowIdSelect)="rowIdSelect($event)"
  #appGrid
>
</app-grid>
