@import 'theme';

.button-alignment {
  justify-content: flex-start;
}

.align-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

::ng-deep .custom-checkbox-button button {
  border-color: $color-primary-40 !important;
}

