<ng-template #content>
  <ng-content></ng-content>
</ng-template>

<ng-container>
  <app-tooltip [text]="tooltip ?? ''">

    @if (formGroup === undefined) {
      <app-button
        class="button-alignment button-auto-width"
        (buttonClick)="onButtonClick()"
        buttonStyle="secondary"
        [disabled]="disabled"
        [alignStart]="true"
        [ngClass]="{ 'disabled-border-color': !value, 'size-large': isLarge }"
        [backgroundWhite]="backgroundWhite"
        >
        <app-checkbox [value]="value" [disabled]="disabled" data-cy="button-checkbox"> </app-checkbox>
        <div class="align-content">
          <ng-container *ngTemplateOutlet="content"></ng-container>
        </div>
      </app-button>
    }
  </app-tooltip>

</ng-container>

<ng-container>
  <app-tooltip [text]="tooltip ?? ''">

    @if (formGroup !== undefined) {
      <app-button
        class="button-alignment button-auto-width"
        (buttonClick)="onButtonClick()"
        buttonStyle="secondary"
        [disabled]="disabled"
        [alignStart]="true"
        [ngClass]="{ 'disabled-border-color': !value, 'size-large': isLarge }"
        [backgroundWhite]="backgroundWhite"
        >
        <app-checkbox
          [value]="value"
          [disabled]="disabled"
          [formGroup]="formGroup"
          [formName]="formName ?? null"
          (valueChange)="onButtonClick()"
          data-cy="button-checkbox"
          >
        </app-checkbox>
        <div class="align-content">
          <ng-container *ngTemplateOutlet="content"></ng-container>
        </div>
      </app-button>
    }
  </app-tooltip>

</ng-container>

