<app-dialog title="Rediger" i18n-title>
  <div *ngIf="unit$ | async as unit">
    <app-paragraph paragraphSize="large" [bold]="true" i18n>Information om enhed</app-paragraph>
    <app-paragraph [bold]="true">Overordnet enhed</app-paragraph>
    <app-dropdown [value]="unit.parentOrganizationUnit ?? unit.name" [disabled]="(isRootUnit() | async) ?? false"></app-dropdown>
    <app-textbox-info i18n>{{ getParentUnitHelpText() | async }}</app-textbox-info>

    <app-paragraph [bold]="true" i18n>Enhedens navn </app-paragraph>
    <app-textbox [value]="unit.name"></app-textbox>

    <app-paragraph [bold]="true" i18n> EAN nummer</app-paragraph>
    <app-textbox [value]="unit.ean?.toString()"></app-textbox>

    <app-paragraph [bold]="true" i18n> Enhed ID</app-paragraph>
    <app-textbox [value]="unit.unitId"></app-textbox>

  </div>
<app-dialog-actions>
  <app-button [color]="confirmColor" size="large" (buttonClick)="onSave()" i18n>Gem</app-button>
</app-dialog-actions>
</app-dialog>
