<app-native-table tableLayout="fixed">
  <thead>
    <th i18n>{{ entityName }}</th>
    <th width="5%" i18n>Skriv</th>
    <th i18n>Navn</th>
    <th i18n>Email</th>
  </thead>
  <tbody>
    <tr *ngFor="let role of roles">
      <td>
        <app-paragraph paragraphSize="small">
          <app-content-with-tooltip [description]="rolesDictionary[role.assignment.role.uuid]?.description"
            ><app-selected-option-type-text
              [availableOptions]="rolesDictionary"
              [selectedOption]="role.assignment.role"
            ></app-selected-option-type-text
          ></app-content-with-tooltip>
        </app-paragraph>
      </td>
      <td>
        <app-paragraph>
          <app-yes-no-status
            [status]="
              rolesDictionary[role.assignment.role.uuid]
                ? rolesDictionary[role.assignment.role.uuid]?.writeAccess
                : false
            "
          ></app-yes-no-status>
        </app-paragraph>
      </td>
      <td>
        <app-paragraph>{{ role.assignment.user.name }}</app-paragraph>
      </td>
      <td>
        <app-content-space-between>
          <app-paragraph>
            {{ role.assignment.user.email }}
          </app-paragraph>
          <app-table-row-actions *ngIf="hasModifyPermission">
            <app-icon-button (buttonClick)="onRemoveClicked(role)"
              ><app-trashcan-icon></app-trashcan-icon
            ></app-icon-button>
          </app-table-row-actions>
        </app-content-space-between>
      </td>
    </tr>
  </tbody>
</app-native-table>
