<app-card>
  <app-card-header title="Kontrakthierarki" helpTextKey="it-contract.edit.hierarchy" i18n-title></app-card-header>
  @if ((isLoading$ | async) === false) {
    <div class="content">
      @if (contractUuid$ | async; as contractUuid) {
        <app-entity-tree
          itemType="it-contract"
          [currentNodeUuid]="contractUuid"
          [nodes]="(hierarchy$ | async) ?? []"
          data-cy="contract-hierarchy"
          [showExtraStatus]="true"
          [extraStatusDisplayType]="extraStatusDisplayTypeValue"
        ></app-entity-tree>
      }
    </div>
  }
  @if (isLoading$ | async) {
    <app-loading></app-loading>
  }
</app-card>
