<app-accordion
  title="Risikovurdering"
  [isExpanded]="(isExpanded$ | async) ?? false"
  (expandedChanged)="onExpandedChanged($event)"
  i18n-title
  >
  <form [formGroup]="riskAssessmentFormGroup">
    <app-standard-vertical-content-grid>
      @if ((enablePlannedRiskAssessmentDateField$ | async) !== false) {
        <app-datepicker
          text="Dato for planlagt risikovurdering"
          i18n-text
          [formGroup]="riskAssessmentFormGroup"
          formName="plannedDateControl"
          (valueChange)="patchGdpr({ plannedRiskAssessmentDate: $event?.toDateString() })"
          data-cy="planned-date-datepicker"
          >
        </app-datepicker>
      }
      @if (conductedRiskAssessmentEnabled$ | async) {
        <app-dropdown
          text="Foretaget risikovurdering"
          i18n-text
          [formGroup]="riskAssessmentFormGroup"
          formName="riskAssessmentConductedControl"
          [data]="yesNoDontKnowIrrelevantOptions"
          (valueChange)="patchGdpr({ riskAssessmentConducted: $event })"
          data-cy="risk-assessment-dropdown"
        ></app-dropdown>
        <app-datepicker
          text="Dato for seneste risikovurdering"
          i18n-text
          [disabled]="(isRiskAssessmentFalse$ | async) !== false"
          [formGroup]="riskAssessmentFormGroup"
          formName="conductedDateControl"
          data-cy="conducted-date-datepicker"
          (valueChange)="patchGdpr({ riskAssessmentConductedDate: $event?.toDateString() })"
          >
        </app-datepicker>
        <app-tooltip
          [text]="
            (riskAssessmentModifyEnabled$ | async) === false && (isRiskAssessmentFalse$ | async) === false
              ? supplierMessage
              : ''
          "
          >
          <app-dropdown
            text="Hvad viste den seneste risikovurdering?"
            i18n-text
            [disabled]="(isRiskAssessmentFalse$ | async) !== false"
            [formGroup]="riskAssessmentFormGroup"
            formName="assessmentResultControl"
            [data]="riskAssessmentResultOptions"
            data-cy="assessment-result-dropdown"
            (valueChange)="patchGdpr({ riskAssessmentResult: $event })"
            ></app-dropdown
          ></app-tooltip>
          <app-edit-url-section
            title="Link til dokumentation"
            i18n-title
            [simpleLink$]="selectRiskDocumentation$"
            [isDisabled]="(isRiskAssessmentFalse$ | async) !== false"
            data-cy="risk-documentation-link"
            (submitMethod)="patchGdpr({ riskAssessmentDocumentation: $event })"
            [isDisabled]="disableDirectoryDocumentationControl"
          ></app-edit-url-section>
          <app-textarea
            title="Bemærkninger"
            i18n-title
            [formGroup]="riskAssessmentFormGroup"
            formName="notesControl"
            data-cy="assessment-notes"
            (valueChange)="patchGdpr({ riskAssessmentNotes: $event })"
            >
          </app-textarea>
        }
      </app-standard-vertical-content-grid>
    </form>
  </app-accordion>
