<app-card>
  <app-card-header title="Tilknyttede opgaver" helpTextKey="it-system.edit.kle" i18n-title></app-card-header>
  <app-standard-vertical-content-grid>
    <ng-container *ngIf="anyLocalKleUuids$ | async">
      <app-kle-table
        (kleCommandRequested)="onRemoveLocalKleRequested($event)"
        [hasModifyPermission]="(hasModifyPermission$ | async) === true"
        [selectedKles]="localKleUuidsWithActions$"
      ></app-kle-table>
      <app-textbox-info
        ><app-paragraph paragraphSize="small" i18n
          >Forslag til justering af KLE opmærkning kan sendes til:
          <a href="mailto:info@kitos.dk">info&#64;kitos.dk</a></app-paragraph
        ></app-textbox-info
      >
    </ng-container>
    <app-empty-state
      *ngIf="(anyLocalKleUuids$ | async) === false"
      text="Der er endnu ikke registreret tilknyttede opgaver"
      context="emptyTable"
      i18n-text
    ></app-empty-state>
    <app-collection-extension-button
      *ngIf="hasModifyPermission$ | async"
      text="Tilknyt opgave"
      i18n-text
      data-cy="addKleButton"
      (clicked)="onAddNew()"
    >
    </app-collection-extension-button>
  </app-standard-vertical-content-grid>
</app-card>
