<kendo-floatinglabel
  *ngIf="formGroup"
  class="{{ size }}"
  [text]="text"
  [formGroup]="formGroup"
  [ngClass]="{ icon: icon }"
>
  <kendo-textbox
    #textbox
    type="text"
    fillMode="outline"
    [value]="value ?? ''"
    [showSuccessIcon]="showValidation"
    [showErrorIcon]="showValidation"
    [clearButton]="clearable"
    [formControlName]="formName"
  ></kendo-textbox>
</kendo-floatinglabel>

<kendo-floatinglabel *ngIf="!formGroup" class="{{ size }}" [text]="text" [ngClass]="{ icon: icon }">
  <kendo-textbox
    #textbox
    type="text"
    fillMode="outline"
    [(ngModel)]="value"
    [clearButton]="clearable"
    (valueChange)="valueChange.emit($event)"
  >
    <ng-template kendoTextBoxPrefixTemplate>
      <app-search-icon *ngIf="icon === 'search'"></app-search-icon>
    </ng-template>
  </kendo-textbox>
</kendo-floatinglabel>
