<mat-form-field *ngIf="formGroup" [formGroup]="formGroup" class="{{ size }}">
  <mat-label>{{ text }}</mat-label>
  <input
    matInput
    [type]="type"
    [maxlength]="maxLength"
    [formControlName]="formName"
    (ngModelChange)="formValueChange($event)"
    (focus)="focus(true)"
    (blur)="focus(false)"
  />
  <app-search-icon *ngIf="icon === 'search'" matPrefix></app-search-icon>
  <span *ngIf="clearable && value" matSuffix class="clear-button" (click)="clear()">x</span>
  <div *ngIf="info" matSuffix kendoTooltip>
    <app-info-icon [title]="info"></app-info-icon>
  </div>
</mat-form-field>

<mat-form-field *ngIf="!formGroup" class="{{ size }}">
  <mat-label>{{ text }}</mat-label>
  <input
    matInput
    [type]="type"
    [maxlength]="maxLength"
    [disabled]="disabled"
    [(ngModel)]="value"
    (ngModelChange)="valueChange.emit($event)"
  />
  <app-search-icon *ngIf="icon === 'search'" matPrefix></app-search-icon>
  <span *ngIf="value" matSuffix class="clear-button" (click)="clear()">x</span>
  <div *ngIf="info" matSuffix kendoTooltip>
    <app-info-icon [title]="info"></app-info-icon>
  </div>
</mat-form-field>
