@import "theme";
@import "mixins";

:host {
  display: flex;
  flex: 1;
}

mat-form-field {
  flex: 1;
}

input {
  max-width: 80%;
}

app-x-icon {
  width: 30px;
  height: 15px;
  display: flex;
  flex-direction: column;
  padding: 2px;

  position: fixed;
  right: 5%;
  top: 37%; //Magic values that mimicked the old placement of the x icon
}

app-trashcan-icon:hover {
  cursor: pointer;
}

:host ::ng-deep mat-form-field {
  @include mat-form-sizes;
  @include mat-textbox-input-adjustment;
  @include mat-input-adjustment;
}
