@import "theme";
@import "mixins";

:host {
  display: flex;
  flex: 1;
}

mat-form-field {
  flex: 1;
}

app-x-icon {
  width: 30px;
  height: 15px;
  display: flex;
  flex-direction: column;
}

app-trashcan-icon:hover {
  cursor: pointer;
}

:host ::ng-deep mat-form-field {
  @include mat-form-sizes;
  @include mat-textbox-input-adjustment;
  @include mat-input-adjustment;
}

mat-form-field {
  @include input-background-white
}
