<app-dialog title="Rediger" i18n-title icon="help" [nested]="isNested">
  <form [formGroup]="createForm" (ngSubmit)="onSave()">
    <app-standard-vertical-content-grid>
      <app-textbox
        text="Fornavn"
        i18n-text
        [formGroup]="createForm"
        formName="firstName"
        [value]="createForm.value.firstName ?? ''"
        data-cy="firstName"
      >
      </app-textbox>
      <app-textbox
        text="Efternavn"
        i18n-text
        [formGroup]="createForm"
        formName="lastName"
        [value]="createForm.value.lastName ?? ''"
        data-cy="lastName"
      >
      </app-textbox>
      <app-textbox
        text="Email"
        i18n-text
        [formGroup]="createForm"
        formName="email"
        [value]="createForm.value.email ?? ''"
        data-cy="email"
      >
      </app-textbox>
      <app-paragraph *ngIf="alreadyExists$ | async" color="error" i18n data-cy="error-message"
        >Denne email er allerede i brug.</app-paragraph
      >

      <app-textbox
        text="Telefonnummer"
        i18n-text
        [formGroup]="createForm"
        formName="phoneNumber"
        [value]="createForm.value.phoneNumber ?? ''"
        data-cy="phoneNumber"
      >
      </app-textbox>
      <app-dropdown
        text="Primær startenhed"
        formName="defaultStartPreference"
        [formGroup]="createForm"
        [data]="startPreferenceOptions"
        [value]="createForm.value.defaultStartPreference"
        i18n-text
        data-cy="start-preference"
      >
      </app-dropdown>

      <app-multi-select-dropdown
        text="Roller"
        i18n-text
        [formGroup]="createForm"
        formName="roles"
        [data]="roleOptions"
        (selectedEvent)="rolesChanged($event)"
        (cleared)="rolesCleared()"
      ></app-multi-select-dropdown>

      <ng-container *ngIf="isGlobalAdmin$ | async">
        <app-dropdown text="Kopier roller til anden bruger" i18n-text> </app-dropdown>
        <app-paragraph [bold]="true" paragraphSize="medium" i18n> Særlige roller i organisationen </app-paragraph>
        <app-checkbox
          labelPosition="after"
          text="Rettighedshaveradgang"
          [formGroup]="createForm"
          formName="hasRightsHolderAccess"
          [value]="createForm.value.hasRightsHolderAccess ?? false"
          i18n-text
          data-cy="rights-holder-access"
        ></app-checkbox>
        <app-divider></app-divider>
        <app-paragraph [bold]="true" paragraphSize="medium" i18n> Tværgående rettigheder </app-paragraph>
        <app-checkbox
          labelPosition="after"
          text="API Bruger"
          [formGroup]="createForm"
          formName="hasApiAccess"
          [value]="createForm.value.hasApiAccess ?? false"
          i18n-text
          data-cy="api-access"
        ></app-checkbox>
        <app-textbox-info *ngIf="shouldShowAPIInfoBox()" i18n>
          Aktiverer udstedelse af KITOS Tokens. Bemærk: Adgang til KITOS brugerflade deaktiveres.
        </app-textbox-info>
        <app-checkbox
          labelPosition="after"
          text="Interressantadgang"
          formName="hasStakeholderAccess"
          [formGroup]="createForm"
          [value]="createForm.value.hasStakeholderAccess ?? false"
          i18n-text
          data-cy="stakeholder-access"
        ></app-checkbox>
      </ng-container>

      <app-divider></app-divider>

      <app-slide-toggle
        text="Send advis om ændringer"
        labelPosition="after"
        formName="sendAdvis"
        [formGroup]="createForm"
        [value]="this.createForm.value.sendAdvis ?? false"
        i18n-text
        data-cy="send-advis"
      >
      </app-slide-toggle>
      <app-dialog-actions class="dialog-footer">
        <app-button buttonStyle="secondary" i18n (buttonClick)="onCopyRoles()"> Kopier roller </app-button>
        <app-button
          type="submit"
          i18n
          [disabled]="!isFormValid() || (isLoading$ | async) === true || (alreadyExists$ | async) === true"
          data-cy="save-button"
        >
          Gem ændringer
        </app-button>
      </app-dialog-actions>
    </app-standard-vertical-content-grid>
  </form>
</app-dialog>
