@import "theme";

.hidden-overflow {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.description-height-large {
  height: 256px;
}

.description-height-medium {
  height: 128px;
}

.description-height-small {
  height: 64px;
}

.show {
  overflow: visible;
  text-overflow: clip;
  white-space: inherit;
  height: auto;
}

.btn-link {
  background: none !important;
  border: none;
  padding: 0 !important;
  color: $color-primary-base;
  text-decoration: underline;
  cursor: pointer;
}
