@if (iconType === 'export') {
  <app-export-icon></app-export-icon>
}
@if (iconType === 'document') {
  <app-document-icon></app-document-icon>
}
@if (iconType === 'organization') {
  <app-organization-icon></app-organization-icon>
}
@if (iconType === 'systems') {
  <app-systems-icon></app-systems-icon>
}
@if (iconType === 'clipboard') {
  <app-clipboard-icon></app-clipboard-icon>
}
@if (iconType === 'folder-important') {
  <app-folder-important-icon></app-folder-important-icon>
}
@if (iconType === 'bulk-create') {
  <app-bulk-create-icon></app-bulk-create-icon>
}
@if (iconType === 'roles') {
  <app-roles-icon></app-roles-icon>
}
@if (iconType === 'notification') {
  <app-notification-icon></app-notification-icon>
}
@if (iconType === 'bookmark') {
  <app-bookmark-icon></app-bookmark-icon>
}
@if (iconType === 'money') {
  <app-money-icon></app-money-icon>
}
@if (iconType === 'table') {
  <app-table-icon></app-table-icon>
}
@if (iconType === 'lock') {
  <app-lock-icon></app-lock-icon>
}
@if (iconType === 'intersect') {
  <app-intersect-icon></app-intersect-icon>
}
@if (iconType === 'archive') {
  <app-archive-icon></app-archive-icon>
}
@if (iconType === 'hierarchy') {
  <app-hierarchy-icon></app-hierarchy-icon>
}
@if (iconType === 'help') {
  <app-help-icon></app-help-icon>
}
@if (iconType === 'dots') {
  <app-more-horizontal-icon></app-more-horizontal-icon>
}
@if (iconType === 'settings') {
  <app-settings-icon></app-settings-icon>
}
@if (iconType === 'multiple-users') {
  <app-multiple-users-icon></app-multiple-users-icon>
}
@if (iconType === 'disk') {
  <app-disk-icon></app-disk-icon>
}
@if (iconType === 'blue-plus') {
  <app-plus-icon-blue></app-plus-icon-blue>
}
@if (iconType === 'white-plus') {
  <app-plus-icon></app-plus-icon>
}
@if (iconType === 'reload') {
  <app-reload-icon></app-reload-icon>
}
@if (iconType === 'dots-warning') {
  <app-more-horizontal-warning-icon></app-more-horizontal-warning-icon>
}
@if (iconType === 'reorder') {
  <app-reorder-icon></app-reorder-icon>
}
@if (iconType === 'check') {
  <app-check-icon></app-check-icon>
}
@if (iconType === 'collapse') {
  <app-collapse-circle-icon></app-collapse-circle-icon>
}
@if (iconType === 'expand') {
  <app-expand-circle-icon></app-expand-circle-icon>
}
@if (iconType === 'x') {
  <app-x-icon></app-x-icon>
}
@if (iconType === 'calendar') {
  <app-calendar-icon></app-calendar-icon>
}
@if (iconType === 'mail') {
  <app-mail-icon></app-mail-icon>
}
