<app-document-icon *ngIf="iconType === 'document'"></app-document-icon>
<app-organization-icon *ngIf="iconType === 'organization'"></app-organization-icon>
<app-systems-icon *ngIf="iconType === 'systems'"></app-systems-icon>
<app-clipboard-icon *ngIf="iconType === 'clipboard'"></app-clipboard-icon>
<app-folder-important-icon *ngIf="iconType === 'folder-important'"></app-folder-important-icon>
<app-bulk-create-icon *ngIf="iconType === 'bulk-create'"></app-bulk-create-icon>
<app-roles-icon *ngIf="iconType === 'roles'"></app-roles-icon>
<app-notification-icon *ngIf="iconType === 'notification'"></app-notification-icon>
<app-bookmark-icon *ngIf="iconType === 'bookmark'"></app-bookmark-icon>
