<app-document-icon *ngIf="iconType === 'document'"></app-document-icon>
<app-organization-icon *ngIf="iconType === 'organization'"></app-organization-icon>
<app-systems-icon *ngIf="iconType === 'systems'"></app-systems-icon>
<app-clipboard-icon *ngIf="iconType === 'clipboard'"></app-clipboard-icon>
<app-folder-important-icon *ngIf="iconType === 'folder-important'"></app-folder-important-icon>
<app-bulk-create-icon *ngIf="iconType === 'bulk-create'"></app-bulk-create-icon>
<app-roles-icon *ngIf="iconType === 'roles'"></app-roles-icon>
<app-notification-icon *ngIf="iconType === 'notification'"></app-notification-icon>
<app-bookmark-icon *ngIf="iconType === 'bookmark'"></app-bookmark-icon>
<app-money-icon *ngIf="iconType === 'money'"></app-money-icon>
<app-table-icon *ngIf="iconType === 'table'"></app-table-icon>
<app-lock-icon *ngIf="iconType === 'lock'"></app-lock-icon>
<app-intersect-icon *ngIf="iconType === 'intersect'"></app-intersect-icon>
<app-archive-icon *ngIf="iconType === 'archive'"></app-archive-icon>
<app-hierarchy-icon *ngIf="iconType === 'hierarchy'"></app-hierarchy-icon>
<app-help-icon *ngIf="iconType === 'help'"></app-help-icon>
<app-more-horizontal-icon *ngIf="iconType === 'dots'"></app-more-horizontal-icon>
<app-settings-icon *ngIf="iconType === 'settings'"></app-settings-icon>
<app-multiple-users-icon *ngIf="iconType === 'multiple-users'"></app-multiple-users-icon>
<app-disk-icon *ngIf="iconType === 'disk'"></app-disk-icon>
<app-plus-icon-blue *ngIf="iconType === 'blue-plus'"></app-plus-icon-blue>
<app-reload-icon *ngIf="iconType === 'reload'"></app-reload-icon>
<app-more-horizontal-warning-icon *ngIf="iconType === 'dots-warning'"></app-more-horizontal-warning-icon>
<app-reorder-icon *ngIf="iconType === 'reorder'"></app-reorder-icon>
<app-check-icon *ngIf="iconType === 'check'"></app-check-icon>
<app-collapse-circle-icon *ngIf="iconType === 'collapse'"></app-collapse-circle-icon>
<app-expand-circle-icon *ngIf="iconType === 'expand'"></app-expand-circle-icon>
