@import "theme";

:host {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $color-neutral-20;
  padding: $padding-medium;
  padding-left: $padding-large;

  h3 {
    margin: 0;
  }
}

.content {
  padding: $padding-large;
}
