<div class="header">
  <h3 i18n>Vælg organisation</h3>
  <app-button buttonStyle="flat" (buttonClick)="close()" *ngIf="enableClose"><app-x-icon></app-x-icon></app-button>
</div>

<div class="content">
  <p i18n>Du er medlem er flere organisationer. Vælg, hvilken en du vil arbejde i.</p>

  <ng-select
    [items]="organizations$ | async"
    bindLabel="name"
    placeholder="Organisation"
    [loading]="(organizationsLoading$ | async) ?? false"
    (change)="didChange($event)"
    i18n-placeholder
  >
  </ng-select>
</div>
