<div class="header">
  <h3 i18n>Vælg organisation</h3>
  <app-button buttonStyle="flat" (buttonClick)="close()" *ngIf="enableClose"><app-x-icon></app-x-icon></app-button>
</div>

<div class="content">
  <p i18n>Du er medlem er flere organisationer. Vælg, hvilken en du vil arbejde i.</p>

  <app-dropdown
    text="Organisation"
    textField="name"
    valueField="uuid"
    [data]="(organizations$ | async) ?? []"
    [loading]="(organizationsLoading$ | async) ?? false"
    (valueChange)="didChange($event)"
    i18n-text
  ></app-dropdown>
</div>
