@use "theme";
@use "mixins";
$animationSpeed: 250ms;

.popup-message {
  display: flex;
  align-items: center;
  padding: theme.$padding-medium;
  border-radius: theme.$radius-small;
  background-color: theme.$color-primary-darker;
  color: theme.$color-white;
  margin-top: theme.$padding-medium;
  @include mixins.elevation(4, theme.$color-neutral-80);
  visibility: hidden;
  transition: visibility $animationSpeed ease-in-out;
  z-index: 2000;
}

.popup-message-fade {
  &-in {
    visibility: visible;
    animation: fadeInAnimation ease $animationSpeed;
  }

  &-out {
    animation: fadeOutAnimation ease $animationSpeed;
    visibility: hidden;
  }
}

@keyframes fadeOutAnimation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.popup-message-type-error {
  background-color: theme.$color-negative-base;
}

p {
  margin: 0;
  padding: 0 theme.$padding-small;
}
