<app-dialog [title]="user.Name" overflow="none">
  <app-standard-vertical-content-grid>

    <app-user-role-table></app-user-role-table>

    <app-user-role-table></app-user-role-table>

    <app-user-role-table></app-user-role-table>

    <app-user-role-table></app-user-role-table>

    <app-dialog-actions>
      <app-button i18n buttonStyle="tertiary" color="warn" data-cy="delete-unit-button"
        ><app-trashcan-icon></app-trashcan-icon> Slet bruger </app-button
      >
      <app-button buttonStyle="secondary" i18n> Rediger </app-button>
      <app-button buttonStyle="primary" i18n> Send advis </app-button>
    </app-dialog-actions>
  </app-standard-vertical-content-grid>
</app-dialog>
