@use "theme";

.mat-button-toggle-group {
  display: flex;
  flex: 1;
  padding: theme.$padding-smaller;
  border-radius: theme.$radius-large;
  background-color: theme.$color-primary-20;
  box-shadow: none !important;
  border: 0px;
  margin-bottom: theme.$padding-medium-large;
}

.mat-button-toggle {
  font-family: theme.$app-font;
  flex: 1;
  height: 48px;
  text-transform: none;
  font-weight: bold;
  line-height: 1;
  font-size: 16px;
  box-shadow: none !important;
  border: none;
  color: theme.$color-neutral-base;
  background-color: theme.$color-primary-20;
}

.mat-button-toggle-group-appearance-standard .mat-button-toggle {
  border: none;
}

.mat-button-toggle-checked::before {
  opacity: 0;
}

.mat-button-toggle-checked {
  color: theme.$color-primary !important;
  background-color: theme.$color-white !important;
}

.mat-button-toggle-group > .mat-button-toggle {
  border-radius: theme.$radius-small;
}
