<app-card>
  <app-card-header title="Arkivering" helpTextKey="it-system.usage.archiving" i18n-title></app-card-header>
  <app-form-grid [formGroup]="archiveForm">
    <div>
      <app-dropdown
        text="Arkiveringspligt"
        i18n-text
        [formGroup]="archiveForm"
        formName="archiveDuty"
        [data]="archiveDutyChoice"
        [showDescription]="true"
        (valueChange)="patchArchiving({ archiveDuty: $event })"
      ></app-dropdown>
      <app-textbox-info>
        <div class="archive-duty-comments-container">
        @if (recommendedArchiveDutyComment$ | async; as commentObject) {
            <app-paragraph paragraphSize="x-small">{{
              commentObject.comment
            }}</app-paragraph>
          }
          <app-paragraph paragraphSize="x-small" i18n>
            <span class="archive-duty-link">
              Læs mere hos
            <a
              target="_blank"
              href="https://www.sa.dk/da/offentlig-forvaltning/kommuner-og-regioner/bevaring-kassation-it-systemer/"
              >{{ nationalArchivesText }}</a
            >
            </span>         
          </app-paragraph>
        </div>

      </app-textbox-info>
      </div>
      @if (archiveTypeEnabled$ | async) {
        <app-dropdown
          text="Arkivtype"
          i18n-text
          valueField="uuid"
          [formGroup]="archiveForm"
          formName="type"
          [data]="archiveTypes$ | async"
          [showDescription]="true"
          (valueChange)="patchArchiving({ typeUuid: $event })"
        ></app-dropdown>
      }
      @if (archiveLocationEnabled$ | async) {
        <app-dropdown
          text="Arkiveringssted"
          i18n-text
          valueField="uuid"
          [formGroup]="archiveForm"
          formName="location"
          [data]="archiveLocationTypes$ | async"
          [showDescription]="true"
          (valueChange)="patchArchiving({ locationUuid: $event })"
        ></app-dropdown>
      }
      @if (archiveSupplierEnabled$ | async) {
        <app-connected-dropdown
          text="Arkiveringsleverandør"
          i18n-text
          valueField="uuid"
          [formGroup]="archiveForm"
          formName="supplier"
          [data$]="supplierOrganizations$"
          (filterChange)="supplierFilterChange($event)"
          (valueChange)="patchArchiving({ supplierOrganizationUuid: $event })"
        ></app-connected-dropdown>
      }
      @if (archiveTestLocationEnabled$ | async) {
        <app-dropdown
          text="Arkiveringsteststed"
          i18n-text
          valueField="uuid"
          [formGroup]="archiveForm"
          formName="testLocation"
          [data]="archiveLocationTestTypes$ | async"
          [showDescription]="true"
          (valueChange)="patchArchiving({ testLocationUuid: $event })"
        ></app-dropdown>
      }
      @if (archiveFrequencyEnabled$ | async) {
        <app-numeric-input
          text="Arkiveringsfrekvens (antal år)"
          i18n-text
          [formGroup]="archiveForm"
          formName="frequencyInMonths"
          (valueChange)="patchJournalFrequency({ frequencyInMonths: $event })"
          [placeholder]="journalFrequencyPlaceholder()"
        ></app-numeric-input>
      }
      @if (documentBearingEnabled$ | async) {
        <app-content-vertical-center>
          <app-checkbox
            text="Dokumentbærende"
            i18n-text
            [formGroup]="archiveForm"
            formName="documentBearing"
            labelPosition="after"
            (valueChange)="patchArchiving({ documentBearing: $event })"
            >
          </app-checkbox>
        </app-content-vertical-center>
      }
      @if (activeEnabled$ | async) {
        <app-radio-buttons
          text="Er der arkiveret fra systemet?"
          i18n-text
          [formGroup]="archiveForm"
          formName="active"
          [options]="activeOptions"
          [disabled]="!isArchiveDutySelected"
          (optionChanged)="patchActiveValue($event)"
        ></app-radio-buttons>
      }
      @if (notesEnabled$ | async) {
        <app-textarea
          class="notes-column-span"
          text="Arkiveringsbemærkninger"
          i18n-text
          [formGroup]="archiveForm"
          formName="notes"
          (valueChange)="patchArchiving({ notes: $event })"
        ></app-textarea>
      }
    </app-form-grid>
  </app-card>
  @if (journalPeriodsEnabled$ | async) {
    <app-card>
      <app-card-header title="Journalperioder" helpTextKey="it-system.usage.archiving.periods" i18n-title></app-card-header>
      <app-standard-vertical-content-grid>
        @if (anyJournalPeriods$ | async) {
          <app-native-table>
            <thead>
              <th i18n>Startdato</th>
              <th i18n>Slutdato</th>
              <th i18n>Unikt arkiv-ID</th>
              <th i18n>Godkendt</th>
            </thead>
            <tbody>
              @for (journalPeriod of journalPeriods$ | async; track journalPeriod) {
                <tr>
                  <td>
                    <app-paragraph paragraphSize="small">
                      {{ journalPeriod.startDate | appDate }}
                    </app-paragraph>
                  </td>
                  <td>
                    <app-paragraph paragraphSize="small">
                      {{ journalPeriod.endDate | appDate }}
                    </app-paragraph>
                  </td>
                  <td>
                    <app-paragraph paragraphSize="small">
                      {{ journalPeriod.archiveId }}
                    </app-paragraph>
                  </td>
                  <td>
                    <app-content-space-between>
                      @if (journalPeriod.approved) {
                        <app-paragraph paragraphSize="small" i18n> Ja </app-paragraph>
                      }
                      @if (!journalPeriod.approved) {
                        <app-paragraph paragraphSize="small" i18n> Nej </app-paragraph>
                      }
                      @if (hasModifyPermission$ | async) {
                        <app-table-row-actions>
                          @if (isArchiveDutySelected) {
                            <app-icon-button (buttonClick)="onEdit(journalPeriod)"
                              ><app-pencil-icon></app-pencil-icon
                            ></app-icon-button>
                          }
                          @if (isArchiveDutySelected) {
                            <app-icon-button (buttonClick)="onDelete(journalPeriod)"
                              ><app-trashcan-icon></app-trashcan-icon
                            ></app-icon-button>
                          }
                        </app-table-row-actions>
                      }
                    </app-content-space-between>
                  </td>
                </tr>
              }
            </tbody>
          </app-native-table>
        }
        @if ((anyJournalPeriods$ | async) === false) {
          <app-empty-state
            text="Ingen journalperioder tilføjet endnu"
            context="emptyTable"
            i18n-text
          ></app-empty-state>
        }
        @if ((hasModifyPermission$ | async) && isArchiveDutySelected) {
          <app-collection-extension-button
            text="Tilføj journalperiode"
            (clicked)="onAddNew()"
            i18n-text
            >
          </app-collection-extension-button>
        }
      </app-standard-vertical-content-grid>
    </app-card>
  }
