@use "theme";
@use "mixins";

:host {
  @include mixins.page-flex-layout-max-width;
}

.notes-column-span {
  grid-column: span 3;
}

.archive-duty-comments-container {
  display: flex;
  flex-direction: column
}

.archive-duty-link {
  white-space: nowrap;
}