<app-card>
  <app-card-header title="Nedlæg bruger" i18n-title></app-card-header>
  <form [formGroup]="formGroup" (submit)="deleteUser()">
    <app-standard-vertical-content-grid>
      <div class="form-row">
        <app-connected-dropdown
          text="Nedlæg bruger"
          i18n-text
          data-cy="remove-user-dropdown"
          [includeItemDescription]="true"
          itemDescriptionField="email"
          valueField="uuid"
          [formGroup]="formGroup"
          formName="user"
          [data$]="users$"
          [isLoading$]="isLoading$"
          (filterChange)="searchUsers($event)"
          (valueChange)="getUserOrganizations($event)"
        ></app-connected-dropdown>
        <app-button type="submit" [disabled]="formGroup.invalid" color="warn" data-cy="delete-user-button" i18n
          >Slet</app-button
          >
        </div>
        @if (userOrganizations$ | async; as userOrganizations) {
          @if (userOrganizations.length > 0) {
            <app-native-table>
              <thead>
                <th i18n>Brugeren er stadig medlem af følgende organisationer</th>
              </thead>
              <tbody>
                @for (userOrganization of userOrganizations; track userOrganization) {
                  <tr>
                    <td>
                      <app-paragraph paragraphSize="medium">{{ userOrganization.name }}</app-paragraph>
                    </td>
                  </tr>
                }
              </tbody>
            </app-native-table>
          }
        }
      </app-standard-vertical-content-grid>
    </form>
  </app-card>
