@import "theme";

:host {
  display: flex;
  flex-direction: column;
}

.content {
  height: 100%;

  padding: $padding-large;
  max-height: 100%;

  &.overflow-auto {
    overflow-y: auto;
  }
}

.loading-container {
  display: flex;
  align-items: center;
  min-height: 50vh;
}
