@if (withHeader) {
  <app-dialog-header
    [title]="title"
    [url]="url"
    [closable]="closable"
    [dialog]="dialog"
    [helpText]="helpText"
    [nested]="nested"
  ></app-dialog-header>
}

@if (loading) {
  <div class="loading-container" [ngClass]="{ 'background-grey': backgroundColor === 'grey' }">
    <app-loading></app-loading>
  </div>
}

@if (loading === false) {
  <div
    class="content"
  [ngClass]="{
    'overflow-auto': overflow === 'auto',
    'background-grey': backgroundColor === 'grey',
    'remove-padding': noPadding === true,
  }"
    >
    <ng-content></ng-content>
  </div>
}
