<app-dialog-header
  [title]="title"
  [icon]="icon"
  [closable]="closable"
  [dialog]="dialog"
  [helpText]="helpText"
  *ngIf="withHeader"
></app-dialog-header>

<div class="loading-container" *ngIf="loading" [ngClass]="{ 'background-grey': backgroundColor === 'grey' }">
  <app-loading></app-loading>
</div>

<div
  class="content"
  [ngClass]="{
    'overflow-auto': overflow === 'auto',
    'background-grey': backgroundColor === 'grey',
    'remove-padding': noPadding === true
  }"
  *ngIf="loading === false"
  ngClass=""
>
  <ng-content></ng-content>
</div>
