@if ((isLoading$ | async) === false) {
  <app-standard-vertical-content-grid>
    @if (notifications$ | async; as notifications) {
      <ng-container>
        @if (notifications.length > 0) {
          <app-native-table
            tableLayout="fixed"
            data-cy="notification-table-selector"
            class="notifications-table"
            [includeDividers]="true"
            >
            <thead>
              <th i18n width="5%" data-cy="is-active-column">Aktiv</th>
              <th i18n data-cy="name-column" width="15%">Navn</th>
              <th i18n data-cy="last-sent-column" width="6%">Sidst sendt</th>
              <th i18n data-cy="from-date-column" width="6%">Fra dato</th>
              <th i18n data-cy="to-date-column" width="6%">Til dato</th>
              <th i18n width="15%" data-cy="receivers-column">Modtagere</th>
              <th i18n width="15%" data-cy="ccs-column">CC</th>
              <th i18n data-cy="title-column" width="15%">Emne</th>
              <th width="105px"></th>
            </thead>
            <tbody>
              @for (notification of notifications; track notification) {
                <tr>
                  <td>
                    <app-paragraph>
                      <app-boolean-circle [value]="notification.active ?? false"></app-boolean-circle>
                    </app-paragraph>
                  </td>
                  <td>
                    <app-paragraph [cropOnOverflow]="true"> {{ notification.name ?? nullPlaceholder }}</app-paragraph>
                  </td>
                  <td>
                    <app-paragraph>
                      {{ notification.lastSent ? formatDate(notification.lastSent) : nullPlaceholder }}
                    </app-paragraph>
                  </td>
                  <td>
                    <app-paragraph>
                      {{ notification.fromDate ? formatDate(notification.fromDate) : nullPlaceholder }}
                    </app-paragraph>
                  </td>
                  <td>
                    <app-paragraph>
                      {{ notification.toDate ? formatDate(notification.toDate) : nullPlaceholder }}
                    </app-paragraph>
                  </td>
                  <td>
                    <app-paragraph [cropOnOverflow]="true" [breakWordOnOverflow]="true">
                      {{
                      getCommaSeparatedRecipients(
                      notification.receivers?.emailRecipients ?? undefined,
                      notification.receivers?.roleRecipients ?? undefined
                      )
                      }}
                    </app-paragraph>
                    @if (
                      notification.receivers?.emailRecipients?.length === 0 &&
                      notification.receivers?.roleRecipients?.length === 0
                      ) {
                      <app-paragraph
                        [cropOnOverflow]="true"
                        [breakWordOnOverflow]="true"
                        >
                        {{ nullPlaceholder }}</app-paragraph
                        >
                      }
                    </td>
                    <td>
                      <app-paragraph [cropOnOverflow]="true">
                        {{ getCommaSeparatedRecipients(notification.cCs?.emailRecipients ?? undefined, notification.cCs?.roleRecipients ?? undefined) }}
                      </app-paragraph>
                      @if (
                        notification.cCs?.emailRecipients?.length === 0 && notification.cCs?.roleRecipients?.length === 0
                        ) {
                        <app-paragraph
                          [cropOnOverflow]="true"
                          >
                          {{ nullPlaceholder }}</app-paragraph
                          >
                        }
                      </td>
                      <td>
                        <app-paragraph [cropOnOverflow]="true">
                          {{ notification.subject ?? nullPlaceholder }}
                        </app-paragraph>
                      </td>
                      <td>
                        @if (hasModifyPermission | async) {
                          <app-table-row-actions floatSide="left">
                            <app-icon-button (buttonClick)="onClickEdit(notification)">
                              <app-pencil-icon></app-pencil-icon>
                            </app-icon-button>
                            @if (notification.notificationType === 'Repeat') {
                              <app-icon-button
                                (buttonClick)="onClickViewSent(notification)"
                                data-cy="view-sent-notifications-button"
                                >
                                <app-eye-icon></app-eye-icon>
                              </app-icon-button>
                            }
                            <!-- 20240527 - Deactivation should be determined by permissions and not logic like this -- permissions currently not passed in NotificationResponseDTO -->
                            @if (notification.active && notification.notificationType === 'Repeat') {
                              <app-icon-button
                                (buttonClick)="onDeactivate(notification)"
                                data-cy="deactivate-button"
                                >
                                <app-x-icon></app-x-icon>
                              </app-icon-button>
                            }
                            <!-- 20240527 - Removal should be determined by permissions and not logic like this -- permissions currently not passed in NotificationResponseDTO -->
                            @if (canDelete(notification)) {
                              <app-icon-button (buttonClick)="onRemove(notification)">
                                <app-trashcan-icon></app-trashcan-icon>
                              </app-icon-button>
                            }
                          </app-table-row-actions>
                        }
                      </td>
                    </tr>
                  }
                </tbody>
              </app-native-table>
            }
          </ng-container>
        }
        @if ((anyNotifications$ | async) === false) {
          <app-empty-state
            text="Ingen notifikationer tilføjet endnu"
            context="emptyTable"
            i18n-text
          ></app-empty-state>
        }
        @if (hasModifyPermission | async) {
          <app-collection-extension-button
            text="Tilføj advis"
            (clicked)="onCreate()"
            i18n-text
            data-cy="add-notification-button"
            >
          </app-collection-extension-button>
        }
      </app-standard-vertical-content-grid>
    }
    @if (isLoading$ | async) {
      <app-loading></app-loading>
    }
