<app-standard-vertical-content-grid>
  <ng-container *ngIf="notifications$ | async as notifications">
    <ng-container>
      <app-native-table tableLayout="fixed">
      <thead>
        <th i18n width="5%">Aktiv</th>
        <th i18n>Navn</th>
        <th i18n>Sidst sendt</th>
        <th i18n>Fra dato</th>
        <th i18n>Til dato</th>
        <th i18n width="15%">Modtagere</th>
        <th i18n width="15%">CC</th>
        <th i18n>Emne</th>
        <th i18n>Sidst sendt</th>
      </thead>
      <tbody>
        <tr *ngFor="let notification of notifications">
          <td>
            <app-paragraph>
              <app-yes-no-status
              [status]="notification.active"></app-yes-no-status>
            </app-paragraph>
          </td>
          <td>
            <app-paragraph> {{notification.name ?? nullPlaceholder }}</app-paragraph>
          </td>
          <td>
            <app-paragraph>
              {{ notification.lastSent ? formatDate(notification.lastSent) : nullPlaceholder }}
            </app-paragraph>
          </td>
          <td>
            <app-paragraph>
              {{ notification.fromDate ? formatDate(notification.fromDate) : nullPlaceholder }}
            </app-paragraph>
          </td>
          <td>
            <app-paragraph>
              {{ notification.toDate ? formatDate(notification.toDate) : nullPlaceholder }}
            </app-paragraph>
          </td>
         <td>
            <app-paragraph *ngFor="let receiver of notification.receivers?.emailRecipients">
            {{ receiver.email }},
            </app-paragraph>
            <app-paragraph *ngFor="let receiver of notification.receivers?.roleRecipients">
            {{ receiver.role?.name }},
            </app-paragraph>
          </td>
          <td>
            <app-paragraph *ngFor="let cc of notification.cCs?.emailRecipients">
              {{ cc.email }},
              </app-paragraph>
              <app-paragraph *ngFor="let cc of notification.cCs?.roleRecipients">
              {{ cc.role?.name }},
              </app-paragraph>
              <app-paragraph *ngIf="notification.cCs?.emailRecipients?.length === 0 && notification.cCs?.roleRecipients?.length === 0"> {{ nullPlaceholder }}</app-paragraph>
          <td>
            <app-paragraph>
              {{ notification.subject ?? nullPlaceholder }}
            </app-paragraph>
          </td>
          <td>
            <app-paragraph>
              {{ notification.lastSent ?? nullPlaceholder }}
            </app-paragraph>
          </td>
          <td>
            <app-table-row-actions *ngIf="hasModifyPermission">
              <app-icon-button (buttonClick)="onEdit(notification)">
                <app-pencil-icon></app-pencil-icon>
              </app-icon-button>
              <app-icon-button (buttonClick)="onDeactivate(notification)" *ngIf="notification.active">
                <app-x-icon></app-x-icon>
              </app-icon-button>
              <app-icon-button (buttonClick)="onRemove(notification)" *ngIf="!notification.active">
                <app-trashcan-icon></app-trashcan-icon>
              </app-icon-button>

            </app-table-row-actions>
          </td>
        </tr>
      </tbody>
  </app-native-table>
</ng-container>
</ng-container>
<app-empty-state
    *ngIf="(anyNotifications$ | async) === false"
    text="Ingen notifikationer tilføjet endnu"
    context="emptyTable"
    i18n-text
  ></app-empty-state>
  <app-collection-extension-button
  *ngIf="hasModifyPermission"
  text="Tilføj advis"
  (clicked)="onClickAddNew()"
  i18n-text>
</app-collection-extension-button>
</app-standard-vertical-content-grid>
<app-loading *ngIf="isLoading$ | async"></app-loading>
