<app-native-table tableLayout="fixed">
  <thead>
    <tr>
      @if (getMainEntityTitle(); as mainEntityTitle) {
        <th>{{ mainEntityTitle }}</th>
      }
      <th>{{ getEntityTitle() }}</th>
      <th>{{ getOrganizationTitle() }}</th>
    </tr>
  </thead>
  <tbody>
    @for (conflict of removalConflicts; track conflict) {
      <tr>
        @if (getMainEntityTitle()) {
          <td>{{ conflict.mainEntityName }}</td>
        }
        <td>{{ conflict.entityName }}</td>
        <td>{{ conflict.organizationName }}</td>
      </tr>
    }
  </tbody>
</app-native-table>
