<app-native-table tableLayout="fixed">
  <thead>
    <tr>
      <th *ngIf="getMainEntityTitle() as mainEntityTitle">{{ mainEntityTitle }}</th>
      <th>{{ getEntityTitle() }}</th>
      <th>{{ getOrganizationTitle() }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let conflict of removalConflicts">
      <td *ngIf="getMainEntityTitle()">{{ conflict.mainEntityName }}</td>
      <td>{{ conflict.entityName }}</td>
      <td>{{ conflict.organizationName }}</td>
    </tr>
  </tbody>
</app-native-table>
