@import "theme";

:host {
  display: flex;
  width: 100%;
  flex-direction: column;
}

:host ::ng-deep app-button > button {
  width: fit-content;
  display: block;
  margin: auto;
  margin-top: 24px;
}

table {
  width: 100%;
}

th {
  text-align: left;
}
