@use "theme";

:host {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.checkbox-container {
  display: flex;
  align-items: center;
}

form {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  grid-gap: theme.$padding-large;
}

.org-unit-select-container {
  position: relative;
}
