<!-- <app-loading></app-loading> -->
<app-card>
  <app-card-header
    title="Ansvarlig organisationsenhed"
    helpTextKey="it-system.usage.organization-responsible"
    i18n-title
  ></app-card-header>

  <app-paragraph *ngIf="(anyUsedByUnits$ | async) === false" paragraphSize="medium" i18n
    >Systemet udstiller ingen ansvarlig organisationsenhed</app-paragraph
  >
  <form *ngIf="anyUsedByUnits$ | async" [formGroup]="responsibleUnitForm">
    <app-dropdown
      text="Ansvarlig organisationsenhed"
      i18n-text
      valueField="uuid"
      formName="responsibleUnit"
      [formGroup]="responsibleUnitForm"
      [data]="usedByUnits$ | async"
      (valueChange)="patchResponsibleUnit($event)"
    >
    </app-dropdown>
  </form>
</app-card>
<app-card>
  <app-card-header
    title="Relevante organisationsenheder"
    helpTextKey="it-system.usage.organization-used-by"
    i18n-title
  ></app-card-header>
  <div *ngIf="anyUsedByUnits$ | async" class="content">
    <app-native-table>
      <thead>
        <th i18n>Navn</th>
        <th width="5%" i18n></th>
      </thead>
      <tbody>
        <tr *ngFor="let unit of usedByUnits$ | async">
          <td>
            <app-paragraph paragraphSize="small">
              {{ unit.name }}
            </app-paragraph>
          </td>
          <td>
            <app-button
              *ngIf="hasModifyPermission"
              buttonStyle="tertiary"
              themeColor="error"
              (buttonClick)="deleteUsedByUnit(unit)"
              ><app-trashcan-icon></app-trashcan-icon
            ></app-button>
          </td>
        </tr>
      </tbody>
    </app-native-table>
  </div>
  <div *ngIf="(anyUsedByUnits$ | async) === false">
    <app-empty-state-add-new name="relevante organisationsenheder" i18n-name></app-empty-state-add-new>
  </div>
  <div *ngIf="hasModifyPermission" class="button-center">
    <app-button buttonStyle="primary" (buttonClick)="onAddNew()" i18n>
      <app-plus-icon></app-plus-icon> Tilføj relevante organisationsenheder</app-button
    >
  </div>
</app-card>
