<app-card>
  <app-card-header
    title="Ansvarlig organisationsenhed"
    helpTextKey="it-system.usage.organization-responsible"
    i18n-title
  ></app-card-header>

  <app-paragraph *ngIf="(anyUsedByUnits$ | async) === false" paragraphSize="medium" i18n
    >Systemet udstiller ingen ansvarlig organisationsenhed</app-paragraph
  >
  <form *ngIf="anyUsedByUnits$ | async" [formGroup]="responsibleUnitForm">
    <app-dropdown
      text="Vælg ansvarlig organisationsenhed"
      i18n-text
      valueField="uuid"
      formName="responsibleUnit"
      [formGroup]="responsibleUnitForm"
      [data]="usedByUnits$ | async"
      (valueChange)="patchResponsibleUnit($event)"
    >
    </app-dropdown>
  </form>
</app-card>
<app-card>
  <app-card-header
    title="Relevante organisationsenheder"
    helpTextKey="it-system.usage.organization-used-by"
    i18n-title
  ></app-card-header>
  <app-standard-vertical-content-grid>
    <ng-container *ngIf="anyUsedByUnits$ | async" class="content">
      <app-native-table>
        <thead>
          <th i18n>Navn</th>
        </thead>
        <tbody>
          <tr *ngFor="let unit of usedByUnits$ | async">
            <td>
              <app-content-space-between>
                <app-paragraph paragraphSize="small">
                  {{ unit.name }}
                </app-paragraph>
                <app-button
                  buttonStyle="tertiary"
                  (buttonClick)="deleteUsedByUnit(unit)"
                  *ngIf="hasModifyPermission$ | async"
                  ><app-trashcan-icon></app-trashcan-icon
                ></app-button>
              </app-content-space-between>
            </td>
          </tr>
        </tbody>
      </app-native-table>
    </ng-container>
    <app-empty-state
      text="Ingen relevante organisationsenheder tilføjet endnu"
      context="emptyTable"
      i18n-name
      *ngIf="(anyUsedByUnits$ | async) === false"
    ></app-empty-state>
    <app-collection-extension-button
      text="Tilføj relevant organisationsenhed"
      (clicked)="onAddNew()"
      i18n-text
      *ngIf="hasModifyPermission$ | async"
    >
    </app-collection-extension-button>
  </app-standard-vertical-content-grid>
</app-card>
