<!-- <app-loading></app-loading> -->
<app-card>
  <app-card-header
    title="Ansvarlig organisationsenhed"
    helpTextKey="it-system.usage.organization-responsible"
    i18n-title
  ></app-card-header>

  <app-paragraph *ngIf="(anyUsedByUnits$ | async) === false" paragraphSize="medium" i18n
    >Systemet udstiller ingen ansvarlig organisationsenhed</app-paragraph
  >
  <form *ngIf="anyUsedByUnits$ | async" [formGroup]="responsibleUnitForm">
    <app-dropdown
      text="Ansvarlig organisationsenhed"
      i18n-text
      valueField="uuid"
      formName="responsibleUnit"
      [formGroup]="responsibleUnitForm"
      [data]="usedByUnits$ | async"
      (valueChange)="patchResponsibleUnit($event)"
    >
    </app-dropdown>
  </form>
</app-card>
<app-card>
  <app-card-header
    title="Relevante organisationsenheder"
    helpTextKey="it-system.usage.organization-used-by"
    i18n-title
  ></app-card-header>
  <div *ngIf="anyUsedByUnits$ | async" class="content">
    <app-native-table>
      <thead>
        <th width="50%" i18n>Navn</th>
        <th width="25%" i18n>Ansvarlig organisationsenhed</th>
        <th width="25%" i18n></th>
      </thead>
      <tbody>
        <tr *ngFor="let unit of usedByUnits$ | async">
          <td>
            {{ unit.name }}
          </td>
          <td>
            <app-yes-no-status [status]="(responsibleUnit$ | async)?.uuid === unit.uuid"></app-yes-no-status>
          </td>
          <td>
            <app-button buttonStyle="clear" themeColor="error" (buttonClick)="deleteUsedByUnit(unit.uuid)"
              ><app-trashcan-icon></app-trashcan-icon
            ></app-button>
          </td>
        </tr>
      </tbody>
    </app-native-table>
  </div>
  <div *ngIf="(anyUsedByUnits$ | async) === false">
    <app-empty-state-add-new name="relevante organisationsenheder" i18n-name></app-empty-state-add-new>
  </div>
  <div>
    <app-button class="create-btn" buttonStyle="solid" (buttonClick)="onAddNew()" i18n>
      <app-plus-icon></app-plus-icon> Tilføj relevante organisationsenheder</app-button
    >
  </div>
</app-card>
