@use "theme";

.grid-container {
  display: grid;
  &.with-gap {
    &.small-gap {
      gap: theme.$padding-small;
    }
    &.medium-gap {
      gap: theme.$padding-medium;
    }
    &.large-gap {
      gap: theme.$padding-large;
    }
  }
}
