<div class="column-center-content">
  @if (column.entityType !== 'it-system') {
    <app-tooltip [text]="getTooltipText()">
      <app-checkbox
        [value]="getProperty(column.field)"
        [disabled]="column.permissionsField ? getProperty(column.permissionsField) !== false : true"
        (valueChange)="onCheckboxChange($event)"
        data-cy="grid-checkbox"
      ></app-checkbox>
    </app-tooltip>
  }
  @if (column.idField) {
    @if (column.entityType === 'it-system') {
      <app-usage-proxy-checkbox
        [checked]="dataItem | searchProperty : column.field"
        [disabled]="getUsageDisabledState()"
        [entityUuid]="getProperty(column.idField)"
        (attemptChange)="onCheckboxChange($event)"
      ></app-usage-proxy-checkbox>
    }
  }
</div>
