@import "theme";
@import "mixins";

:host {
  display: flex;
  flex: 1;
}

kendo-floatinglabel {
  width: 100%;
}

@include input-outline-adjustment;

:host ::ng-deep {
  kendo-floatinglabel.k-focus,
  kendo-floatinglabel:not(.k-empty) {
    font-weight: bold;

    label {
      color: $color-neutral-dark;
    }
  }

  input {
    margin-top: 12px;
  }

  .k-input-button {
    width: 50px;
    border: none;

    .k-svg-icon {
      width: 26px;
    }
  }
}
