<kendo-floatinglabel *ngIf="formGroup" class="{{ size }}" [text]="text" [formGroup]="formGroup">
  <kendo-combobox
    #combobox
    [data]="data ?? []"
    [textField]="textField"
    [valueField]="valueField"
    [valuePrimitive]="valuePrimitive"
    [kendoDropDownFilter]="filterSettings"
    [filterable]="true"
    [loading]="loading ?? false"
    [formControlName]="formName"
    fillMode="outline"
    (filterChange)="filter$.next($event)"
    (selectionChange)="formSelectionChange($event)"
  >
  </kendo-combobox>
</kendo-floatinglabel>

<kendo-floatinglabel *ngIf="!formGroup" class="{{ size }}" [text]="text">
  <kendo-combobox
    #combobox
    [data]="data ?? []"
    [textField]="textField"
    [valueField]="valueField"
    fillMode="outline"
    [kendoDropDownFilter]="filterSettings"
    [filterable]="true"
    [loading]="loading ?? false"
    [disabled]="disabled"
    [(value)]="value"
    (filterChange)="filter$.next($event)"
    (valueChange)="valueChange.emit($event)"
  >
  </kendo-combobox>
</kendo-floatinglabel>

<app-textbox-info *ngIf="description$ | async as description">
  <p>{{ description }}</p>
</app-textbox-info>
