@import "theme";
@import "mixins";

:host {
  flex: 1;
}

kendo-floatinglabel {
  width: 100%;
}

@include input-outline-adjustment;

:host ::ng-deep {
  .k-input-button {
    width: 50px;
    border: none;

    .k-svg-icon {
      width: 26px;
    }
  }

  kendo-combobox.k-disabled {
    background-color: $color-neutral-10 !important;
  }
}
