<kendo-grid
  [data]="data$ | async"
  [loading]="loading || false"
  [pageSize]="virtualPageSize"
  [skip]="state?.skip"
  [filter]="state?.filter"
  [sort]="state?.sort"
  [pageable]="true"
  [sortable]="true"
  [filterable]="true"
  [reorderable]="true"
  [resizable]="true"
  (filterChange)="onFilterChange($event)"
  (sortChange)="onSortChange($event)"
  (pageChange)="onPageChange($event)"
  (columnReorder)="onColumnReorder($event, columns)"
  (cellClick)="onCellClick($event)"
  (columnResize)="onResizeChange($event, columns)"
  (excelExport)="onExcelExport($event)"
  [rowHeight]="gridRowHeight"
  scrollable="virtual"
  style="width: 100%"
  *ngIf="columns$ | async as columns"
>
  <ng-container *ngFor="let column of columns">
    <ng-container *ngIf="uiConfigApplications$ === null || (uiConfigApplications$ | async) as uiConfigApplications">
      <kendo-grid-column
        *ngIf="!column.hidden && isColumnEnabled(uiConfigApplications, column)"
        [field]="column.field"
        [title]="column.title"
        [sortable]="column.sortable ?? true"
        [filter]="column.filter ?? 'text'"
        [width]="
          column.width !== undefined
            ? column.width
            : column.style === 'date'
            ? defaultDateColumnWidth
            : defaultColumnWidth
        "
        [sticky]="column.isSticky ?? false"
        [minResizableWidth]="
          column.minResizableWidth !== undefined
            ? column.minResizableWidth
            : column.filter === 'date'
            ? defaultMinimumDateColumnWidth
            : column.style === 'primary'
            ? defaultPrimaryColumnMinimumWidth
            : defaultMinimumColumnWidth
        "
        headerClass="mygrid-header-cell"
      >
        <ng-template kendoGridHeaderTemplate let-column let-columnIndex="columnIndex">
          <app-paragraph [bold]="true" color="primary-dark" class="sort-icon"
            >{{ column.title }}

            <ng-container *ngIf="state?.sort as sortItem">
              <ng-container *ngIf="sortItem[0].field === column.field">
                <ng-container *ngIf="sortItem[0].dir === 'asc'">
                  <app-arrow-up-icon></app-arrow-up-icon>
                </ng-container>
                <ng-container *ngIf="sortItem[0].dir === 'desc'">
                  <app-arrow-down-icon></app-arrow-down-icon>
                </ng-container>
              </ng-container>
            </ng-container>
          </app-paragraph>
        </ng-template>

        <ng-template kendoGridFilterCellTemplate let-filter let-columnFilter="column">
          <ng-container *ngIf="!column.noFilter">
            <app-string-filter
              [column]="columnFilter"
              [filter]="filter"
              *ngIf="columnFilter.filter === 'text' && !column.extraFilter"
              [entityType]="entityType"
              class="overflow-hidden-container"
            ></app-string-filter>
            <app-numeric-filter
              [column]="columnFilter"
              [filter]="filter"
              *ngIf="columnFilter.filter === 'numeric'"
              [entityType]="entityType"
              class="overflow-hidden-container"
            ></app-numeric-filter>
            <app-date-filter
              [column]="columnFilter"
              [filter]="filter"
              *ngIf="columnFilter.filter === 'date'"
              [entityType]="entityType"
              class="overflow-hidden-container"
            ></app-date-filter>
            <app-dropdown-filter
              [column]="columnFilter"
              [filter]="filter"
              [options]="column.extraData"
              [entityType]="entityType"
              *ngIf="
                columnFilter.filter === 'boolean' || (columnFilter.filter === 'text' && column.extraFilter === 'enum')
              "
              class="overflow-hidden-container"
            ></app-dropdown-filter>
            <app-unit-dropdown-filter
              *ngIf="columnFilter.filter === 'text' && column.extraFilter === 'organization-unit'"
              [column]="columnFilter"
              [filter]="filter"
              class="dropdown-inline-display"
              [entityType]="entityType"
            ></app-unit-dropdown-filter>
            <app-choice-type-dropdown-filter
              [column]="columnFilter"
              [filter]="filter"
              [choiceTypeName]="column.extraData"
              [sortOptions]="column.sortFilter"
              *ngIf="columnFilter.filter === 'text' && column.extraFilter === 'choice-type'"
              [entityType]="entityType"
              class="overflow-hidden-container"
            ></app-choice-type-dropdown-filter>
            <app-dropdown-column-data-filter
              [column]="columnFilter"
              [filter]="filter"
              [serviceKey]="column.extraData"
              [columnName]="column.field"
              *ngIf="columnFilter.filter === 'text' && column.extraFilter === 'dropdown-from-column-data'"
              [entityType]="entityType"
              class="overflow-hidden-container"
            ></app-dropdown-column-data-filter>
            <app-choice-type-dropdown-filter
              [column]="columnFilter"
              [filter]="filter"
              [choiceTypeName]="column.extraData"
              [shouldFilterByChoiceTypeName]="true"
              *ngIf="columnFilter.filter === 'text' && column.extraFilter === 'choice-type-by-name'"
              [entityType]="entityType"
              class="overflow-hidden-container"
            ></app-choice-type-dropdown-filter>
          </ng-container>
        </ng-template>

        <ng-template
          *ngIf="column.style === 'default' || column.style === undefined"
          kendoGridCellTemplate
          let-dataItem
        >
          <app-paragraph [cropOnOverflow]="true">{{ dataItem | searchProperty : column.field }}</app-paragraph>
        </ng-template>
        <ng-template *ngIf="column.style === 'integer-with-thousands-separator'" kendoGridCellTemplate let-dataItem>
          <app-paragraph [cropOnOverflow]="true">{{
            dataItem | searchProperty : column.field | number : "1.0-0"
          }}</app-paragraph>
        </ng-template>
        <ng-template *ngIf="column.style === 'default-wrap'" kendoGridCellTemplate let-dataItem>
          <app-paragraph [wrapOnOverflow]="true">{{ searchProperty(dataItem, column.field) }}</app-paragraph>
        </ng-template>
        <ng-template *ngIf="column.style === 'primary'" kendoGridCellTemplate let-dataItem>
          <div class="paragraph wrap-on-overflow bold-font">{{ dataItem | searchProperty : column.field }}</div>
        </ng-template>
        <ng-template
          *ngIf="column.style === 'chip' || column.style === 'reverse-chip'"
          kendoGridCellTemplate
          let-dataItem
        >
          <div class="items-center-container overflow-hidden-container">
            <app-status-chip
              [type]="column.entityType"
              [value]="dataItem | searchProperty : column.field"
              [valueDisplayType]="column.booleanValueDisplay"
              [reverseValues]="column.style === 'reverse-chip'"
            ></app-status-chip>
          </div>
        </ng-template>

        <ng-template *ngIf="column.style === 'boolean'" kendoGridCellTemplate let-dataItem>
          <div class="items-center-container">
            <app-boolean-circle
              [value]="(dataItem | searchProperty : column.field) === true"
              [positiveTooltipText]="column.tooltipPositiveText ?? ''"
              [negativeTooltipText]="column.tooltipNegativeText ?? ''"
            >
            </app-boolean-circle>
          </div>
        </ng-template>

        <ng-template *ngIf="column.style === 'date'" kendoGridCellTemplate let-dataItem>
          <app-paragraph>{{ dataItem | searchProperty : column.field | appDate }}</app-paragraph>
        </ng-template>

        <ng-template *ngIf="column.style === 'enum'" kendoGridCellTemplate let-dataItem>
          <app-paragraph>{{ (dataItem | searchProperty : column.field)?.name }}</app-paragraph>
        </ng-template>

        <ng-template *ngIf="column.style === 'link'" kendoGridCellTemplate let-dataItem>
          <app-paragraph [cropOnOverflow]="true">
            <app-external-page-link
              [url]="dataItem | searchProperty : column.field"
              linkFontSize="small"
            ></app-external-page-link>
          </app-paragraph>
        </ng-template>

        <ng-template *ngIf="column.style === 'title-link'" kendoGridCellTemplate let-dataItem>
          <app-paragraph [cropOnOverflow]="true">
            <app-external-page-link
              [url]="searchProperty(dataItem, column.idField ?? '')"
              [title]="dataItem | searchProperty : column.field"
              linkFontSize="small"
            ></app-external-page-link>
          </app-paragraph>
        </ng-template>

        <ng-template *ngIf="column.style === 'page-link' && column.idField" kendoGridCellTemplate let-dataItem>
          <app-paragraph [cropOnOverflow]="true">
            <app-details-page-link
              *ngIf="searchProperty(dataItem, column.idField) as itemUuid"
              linkFontSize="small"
              [itemType]="column.entityType"
              [itemPath]="itemUuid"
              [subpagePath]="column.extraData"
              >{{ dataItem | searchProperty : column.field }}</app-details-page-link
            >
          </app-paragraph>
        </ng-template>

        <ng-template *ngIf="column.style === 'checkbox'" kendoGridCellTemplate let-dataItem>
          <div class="column-center-content">
            <ng-container *ngIf="column.idField">
              <app-checkbox
                *ngIf="entityType !== 'it-system'"
                [value]="dataItem | searchProperty : column.field"
                [disabled]="
                  column.permissionsField ? searchProperty(dataItem, column.permissionsField) !== true : false
                "
                (valueChange)="checkboxChange($event, searchProperty(dataItem, column.idField))"
              ></app-checkbox>
              <app-usage-proxy-checkbox
                *ngIf="entityType === 'it-system'"
                [checked]="dataItem | searchProperty : column.field"
                [disabled]="
                  column.permissionsField
                    ? searchProperty(dataItem, column.permissionsField) !== true || !createPermission
                    : false
                "
                [entityUuid]="searchProperty(dataItem, column.idField)"
                (attemptChange)="checkboxChange($event, searchProperty(dataItem, column.idField))"
              ></app-usage-proxy-checkbox>
            </ng-container>
          </div>
        </ng-template>

        <ng-template *ngIf="column.style === 'usages'" kendoGridCellTemplate let-dataItem>
          <app-usage-link
            *ngIf="column.dataField"
            [type]="column.entityType"
            [name]="searchProperty(dataItem, column.dataField)"
            [usingOrganizations]="dataItem | searchProperty : column.field"
            [rowEntityIdentifier]="searchProperty(dataItem, column.idField ?? 'Uuid')"
          >
          </app-usage-link>
        </ng-template>

        <ng-template
          *ngIf="column.style === 'page-link-array' || column.style === 'page-link-array-with-submodules'"
          kendoGridCellTemplate
          let-dataItem
        >
          <app-paragraph [cropOnOverflow]="true">
            <ng-container *ngIf="column.dataField">
              <div>
                <ng-container *ngFor="let item of searchProperty(dataItem, column.dataField) as data; let i = index">
                  <app-details-page-link
                    linkFontSize="small"
                    [itemType]="column.entityType"
                    [itemPath]="item.id"
                    [itemPathIncludesSubmodule]="column.style === 'page-link-array-with-submodules'"
                    >{{ item.value }}</app-details-page-link
                  >{{ i < data.length - 1 ? column.linkArraySeparator ?? ", " : "" }}
                </ng-container>
              </div>
            </ng-container>
          </app-paragraph>
        </ng-template>
        <ng-template *ngIf="column.style === 'uuid-to-name'" kendoGridCellTemplate let-dataItem>
          <app-paragraph *ngIf="column.dataField" [cropOnOverflow]="true">{{
            searchProperty(dataItem, column.dataField)
          }}</app-paragraph>
        </ng-template>

        <ng-template
          *ngIf="column.style === 'action-buttons' && (modifyPermission || deletePermission)"
          kendoGridCellTemplate
          let-dataItem
        >
          <div class="action-buttons-container">
            <ng-container *ngFor="let button of column.extraData">
              <app-icon-button
                *ngIf="button.type === 'edit' && modifyPermission"
                (click)="onModifyClick(dataItem)"
                data-cy="grid-edit-button"
              >
                <app-pencil-icon></app-pencil-icon>
              </app-icon-button>
              <app-icon-button
                *ngIf="button.type === 'delete' && deletePermission"
                (click)="onDeleteClick(dataItem)"
                data-cy="grid-delete-button"
              >
                <app-trashcan-icon></app-trashcan-icon>
              </app-icon-button>
            </ng-container>
          </div>
        </ng-template>
      </kendo-grid-column>
    </ng-container>
  </ng-container>

  <ng-template kendoPagerTemplate>
    <app-grid-paginator
      style="width: 100%"
      [state]="state"
      (pageSizeChange)="onPageSizeChange($event)"
    ></app-grid-paginator>
  </ng-template>
  <kendo-grid-messages
    pagerPage="Side"
    pagerOf="af"
    pagerItems="resultater"
    i18n-pagerPage
    i18n-pagerOf
    i18n-pagerItems
  ></kendo-grid-messages>

  <ng-template kendoGridLoadingTemplate>
    <div class="loading-container">
      <app-loading></app-loading>
    </div>
  </ng-template>
  <ng-template kendoGridNoRecordsTemplate>
    <div class="sticky-empty-state">
      <img src="assets/img/empty-system.svg" />
      <p i18n>Din søgning gav intet resultat</p>
    </div>
  </ng-template>

  <kendo-grid-excel [fileName]="getExportName()" [fetchData]="allData" [filterable]="true">
    <ng-container *ngFor="let column of getFilteredExportColumns$() | async">
      <ng-container *ngIf="column.style === 'excel-only'; else notExcelOnly">
        <kendo-excelexport-column [title]="column.title" [field]="column.title"></kendo-excelexport-column>
      </ng-container>
      <ng-template #notExcelOnly>
        <kendo-excelexport-column [title]="column.title" [field]="column.field"></kendo-excelexport-column>
      </ng-template>
    </ng-container>
  </kendo-grid-excel>
</kendo-grid>
