@import "mixins";

@include grid-style;

.overflow-hidden-container {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
}

.sticky-empty-state {
  position: fixed;
  left: 45%;
  z-index: 1000;
}

.toolbar-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.result-amount-padding {
  padding-right: $padding-large;
  cursor: default;
}
