@import "theme";
@import "mixins";

$row-height: 56px;

.table-container {
  height: calc($content-height - $row-height);
  background-color: $color-white;
  border-top-left-radius: $radius-large;
  border-top-right-radius: $radius-large;
  overflow: auto;
}

table {
  border-top-left-radius: $radius-large;
  border-top-right-radius: $radius-large;
  @include elevation;
}

th {
  color: $color-primary-dark;
  border-bottom-color: $color-neutral-20;
  border-top-left-radius: $radius-large;
  border-top-right-radius: $radius-large;
}

td {
  height: 62px;
}

.mat-mdc-row:hover {
  background-color: $color-primary-10 !important;
  cursor: pointer;
}

app-loading {
  position: absolute;
  left: 0;
  right: 0;
  margin-top: calc($row-height * 2);
}

mat-paginator {
  border-top: 1px solid $color-neutral-20;
  border-bottom-left-radius: $radius-large;
  border-bottom-right-radius: $radius-large;
}
