@import "theme";

kendo-grid {
  border-radius: $radius-large;
  border-color: transparent;
  height: $content-height;
}

.loading-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chip-container {
  display: flex;
}

:host ::ng-deep {
  tr {
    cursor: pointer;
  }

  .k-column-title {
    color: $color-primary-dark;
  }

  .k-sort-icon {
    color: $color-primary-dark;
    margin-top: -$padding-smaller;
  }

  kendo-pager {
    border-top: 1px solid $color-neutral-20;
    background-color: $color-white !important;
    padding: $padding-small $padding-medium;
  }
}
