<kendo-grid
  [kendoGridBinding]="data"
  [loading]="loading"
  [pageSize]="20"
  [pageable]="true"
  [sortable]="true"
  [filterable]="true"
  [reorderable]="true"
  [pageable]="{
    pageSizes: true
  }"
>
  <kendo-grid-column field="CompanyName" [width]="140"></kendo-grid-column>
  <kendo-grid-column field="ContactName" [width]="120"></kendo-grid-column>
  <kendo-grid-column field="City" [width]="100"></kendo-grid-column>
  <kendo-grid-column field="ContactTitle" [width]="130"></kendo-grid-column>
  <ng-template kendoGridLoadingTemplate>
    <div class="loading-container">
      <app-loading></app-loading>
    </div>
  </ng-template>
  <ng-template kendoGridNoRecordsTemplate>
    <img src="assets/img/empty-system.svg" />
    <p i18n>Din søgning gav intet resultat</p>
  </ng-template>
</kendo-grid>
