@use "@angular/material" as mat;
@use "theme";
@use "typography";

@include mat.elevation-classes();
@include mat.app-background();

$primary-palette: mat.m2-define-palette(
  (
    50: theme.$color-primary,
    100: theme.$color-primary,
    200: theme.$color-primary,
    300: theme.$color-primary,
    400: theme.$color-primary,
    500: theme.$color-primary,
    600: theme.$color-primary,
    700: theme.$color-primary,
    800: theme.$color-primary,
    900: theme.$color-primary,
    A100: theme.$color-primary,
    A200: theme.$color-primary,
    A400: theme.$color-primary,
    A700: theme.$color-primary,
    contrast: (
      50: theme.$dark-primary-text,
      100: theme.$dark-primary-text,
      200: theme.$dark-primary-text,
      300: theme.$dark-primary-text,
      400: theme.$dark-primary-text,
      500: theme.$dark-primary-text,
      600: theme.$light-primary-text,
      700: theme.$light-primary-text,
      800: theme.$light-primary-text,
      900: theme.$light-primary-text,
      A100: theme.$dark-primary-text,
      A200: theme.$light-primary-text,
      A400: theme.$light-primary-text,
      A700: theme.$light-primary-text,
    ),
  ),
  500
);

$accent-palette: mat.m2-define-palette(
  (
    50: theme.$color-neutral,
    100: theme.$color-neutral,
    200: theme.$color-neutral,
    300: theme.$color-neutral,
    400: theme.$color-neutral,
    500: theme.$color-neutral,
    600: theme.$color-neutral,
    700: theme.$color-neutral,
    800: theme.$color-neutral,
    900: theme.$color-neutral,
    A100: theme.$color-neutral,
    A200: theme.$color-neutral,
    A400: theme.$color-neutral,
    A700: theme.$color-neutral,
    contrast: (
      50: theme.$dark-primary-text,
      100: theme.$dark-primary-text,
      200: theme.$dark-primary-text,
      300: theme.$dark-primary-text,
      400: theme.$dark-primary-text,
      500: theme.$dark-primary-text,
      600: theme.$light-primary-text,
      700: theme.$light-primary-text,
      800: theme.$light-primary-text,
      900: theme.$light-primary-text,
      A100: theme.$dark-primary-text,
      A200: theme.$light-primary-text,
      A400: theme.$light-primary-text,
      A700: theme.$light-primary-text,
    ),
  ),
  500
);

$warn-palette: mat.m2-define-palette(
  (
    50: theme.$color-negative,
    100: theme.$color-negative,
    200: theme.$color-negative,
    300: theme.$color-negative,
    400: theme.$color-negative,
    500: theme.$color-negative,
    600: theme.$color-negative,
    700: theme.$color-negative,
    800: theme.$color-negative,
    900: theme.$color-negative,
    A100: theme.$color-negative,
    A200: theme.$color-negative,
    A400: theme.$color-negative,
    A700: theme.$color-negative,
    contrast: (
      50: theme.$dark-primary-text,
      100: theme.$dark-primary-text,
      200: theme.$dark-primary-text,
      300: theme.$dark-primary-text,
      400: theme.$dark-primary-text,
      500: theme.$dark-primary-text,
      600: theme.$light-primary-text,
      700: theme.$light-primary-text,
      800: theme.$light-primary-text,
      900: theme.$light-primary-text,
      A100: theme.$dark-primary-text,
      A200: theme.$light-primary-text,
      A400: theme.$light-primary-text,
      A700: theme.$light-primary-text,
    ),
  ),
  500
);

$my-theme: mat.m2-define-light-theme(
  (
    color: (
      primary: $primary-palette,
      accent: $accent-palette,
      warn: $warn-palette,
    ),
    typography: typography.$typography-config,
    density: 0,
  )
);

@include mat.all-component-themes($my-theme);
