@use "@angular/material" as mat;
@import "theme";

@mixin elevation($el: 4, $color: $color-neutral-40) {
  @include mat.elevation($el, $color);
}

// Adjust input outline to go around floating label
@mixin input-outline-adjustment($setHeight: true) {
  .k-input {
    @if $setHeight {
      height: $input-height;
    }
    top: -23px;
    margin-bottom: -23px;

    left: -1px;
  }

  .small {
    .k-input {
      @if $setHeight {
        height: 48px;
      }
      top: -20px;
      margin-bottom: -20px;
    }
  }

  :host ::ng-deep {
    kendo-floatinglabel.k-focus,
    kendo-floatinglabel:not(.k-empty) {
      font-weight: bold;

      label {
        color: $color-neutral-dark;
      }
    }

    input {
      margin-top: 12px;
    }

    // Adjustment for small size
    .small {
      input {
        font-size: 14px;
      }

      label {
        font-size: 14px;
      }

      // Offset floating label when input is in focus or has content
      &.k-floating-label-container.k-focus > .k-label,
      &.k-floating-label-container:not(.k-empty) > .k-label {
        top: 4px !important;
      }
    }
  }
}

@mixin min-breakpoint {
  @media only screen and (max-width: $content-width-min) {
    @content;
  }
}
