// Custom theme colors

// Colors

$color-primary: #3767a9;
$color-primary-base: $color-primary;
$color-primary-dark: #284b7b;
$color-primary-darker: #1f3b61;
$color-primary-80: #6a92c8;
$color-primary-60: #90aed5;
$color-primary-40: #d9e3f2;
$color-primary-20: #e8eef7;
$color-primary-10: #f4f7fb;

$color-neutral: #39414b;
$color-neutral-base: $color-neutral;
$color-neutral-dark: #111e32;
$color-neutral-darker: #111e32;
$color-neutral-10: #f6f7f9;
$color-neutral-20: #e9edf2;
$color-neutral-40: #dcdfe5;
$color-neutral-60: #b0b7bf;
$color-neutral-80: #67707e;

$color-secondary: #2f6b24;
$color-secondary-base: $color-secondary;
$color-secondary-dark: #294e22;
$color-secondary-darker: #1a3215;
$color-secondary-10: #f5faf4;
$color-secondary-20: #e8f4e6;
$color-secondary-40: #d1e4cd;
$color-secondary-60: #66a659;
$color-secondary-80: #518547;

$color-white: #ffffff;
$color-white-10: #ffffff1a;
$color-white-20: #ffffff33;
$color-white-40: #ffffff66;

$color-negative: #dc4747;
$color-negative-dark: #73122f;
$color-negative-light: #ffe5ed;
$color-negative-lighter: #ffeaf0;
$color-positive: #4db28c;
$color-positive-dark: #275946;
$color-positive-light: #ceeddc;
$color-positive-lighter: #e6f6ed;
$color-warning: #ffb020;

$dark-primary-text: $color-neutral-dark;
$light-primary-text: $color-white;

// Sizes

$padding-smallest: 2px;
$padding-smaller: 4px;
$padding-small: 8px;
$padding-medium: 16px;
$padding-medium-large: 24px;
$padding-large: 32px;

$radius-small: 4px;
$radius-large: 8px;

$content-width-min: 1440px;
$content-width-max: 1920px;

$navbar-height: 92px;
$header-height: 50px;
$navigation-drawer-width: 275px;
$content-height: calc(100vh - $navbar-height - $padding-medium * 2 - $padding-large - $header-height);

$menu-item-width: 280px;
$input-height: 56px;

$link-font-size-x-small: 12px;
$link-font-size-small: 14px;
$link-font-size-medium: 16px;

// Fonts

$app-font: "Mulish";
