<app-breadcrumbs [breadCrumbs]="breadCrumbs$ | async"></app-breadcrumbs>

<div class="header">
  <h4>{{ itSystemUsageName$ | async }}</h4>
  <app-button
    *ngIf="hasDeletePermissions$ | async"
    buttonStyle="outline"
    themeColor="error"
    (buttonClick)="showRemoveDialog()"
    i18n
    >Fjern anvendelse</app-button
  >
</div>
<div class="content">
  <app-card class="navigation">
    <app-button buttonStyle="flat" [routerLink]="[AppPath.frontpage]" routerLinkActive="active"
      ><app-document-icon></app-document-icon>
      <ng-container i18n>Systemforside</ng-container>
    </app-button>
    <app-button buttonStyle="flat" [routerLink]="[AppPath.contracts]" routerLinkActive="active"
      ><app-clipboard-icon></app-clipboard-icon>
      <ng-container i18n>Kontrakter</ng-container>
    </app-button>
    <app-button buttonStyle="flat" [routerLink]="[AppPath.dataProcessing]" routerLinkActive="active"
      ><app-folder-important-icon></app-folder-important-icon>
      <ng-container i18n>Databehandling</ng-container>
    </app-button>
    <app-button buttonStyle="flat" [routerLink]="[AppPath.organization]" routerLinkActive="active"
      ><app-organization-icon></app-organization-icon>
      <ng-container i18n>Organisation</ng-container>
    </app-button>
  </app-card>
  <app-loading *ngIf="isLoading$ | async"></app-loading>
  <router-outlet *ngIf="(isLoading$ | async) === false"></router-outlet>
</div>
