@import "theme";

:host {
  display: flex;
  flex-direction: column;
  max-width: $content-width-max;
  margin: $padding-large;
  padding: 0 $padding-large;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: $padding-medium; //Space between header block and content block

  h4 {
    padding: $padding-medium $padding-small;
    margin-bottom: 0px; //remove margin which offsets the h4 from the buttons in the header
  }

  app-button {
    flex: 0 0 200px;
  }
}

.content {
  display: flex;
  gap: $padding-medium;
}
