<app-accordion [title]="title" [isExpandedByDefault]="true">
  <app-native-table tableLayout="fixed">
    <thead>
      <th width="5%">
        <app-checkbox
          [value]="(areAllSelected$ | async) ?? false"
          (valueChange)="changeRegistrationCollectionState($event, registrationType)"
          [disabled]="!canEditRegistrations"
        ></app-checkbox>
      </th>
      <th width="95%">{{ nameColumnTitle }}</th>
    </thead>
    <tbody>
      <tr *ngFor="let registration of registrations$ | async">
        <td>
          <app-checkbox
            [value]="registration.isSelected"
            (valueChange)="changeSelectRegistrationState(registration)"
            [disabled]="!canEditRegistrations"
          ></app-checkbox>
        </td>
        <td>
          <app-content-space-between>
            <app-details-page-link
              [itemType]="entityType"
              [itemUuid]="registration.registration.uuid"
              [subpagePath]="subpagePath"
              (click)="navigateToDetailsPage()"
              >{{ registration.registration.name }}</app-details-page-link
            >
            <app-icon-button
              (buttonClick)="removeSingleRegistration(registration.registration.id)"
              *ngIf="canEditRegistrations"
              ><app-trashcan-icon></app-trashcan-icon
            ></app-icon-button>
          </app-content-space-between>
        </td>
      </tr>
    </tbody>
  </app-native-table>
</app-accordion>
