<app-accordion [title]="title">
  <app-native-table tableLayout="fixed">
    <thead>
      <th width="5%">
        <app-checkbox
          [value]="(areAllSelected$ | async) ?? false"
          (valueChange)="changeRegistrationCollectionState($event, registrationType)"
        ></app-checkbox>
      </th>
      <th width="95%">{{ nameColumnTitle }}</th>
    </thead>
    <tbody>
      <tr *ngFor="let registration of registrations$ | async">
        <td>
          <app-checkbox
            [value]="registration.isSelected"
            (valueChange)="changeSelectRegistrationState(registration)"
          ></app-checkbox>
        </td>
        <td>
          <app-paragraph>{{ registration.registration.name }}</app-paragraph>
        </td>
        <td>
          <app-content-space-between>
            <app-paragraph>{{ registration.registration.name }}</app-paragraph>
            <app-icon-button (buttonClick)="removeSingleRegistration(registration.registration.id)"
              ><app-trashcan-icon></app-trashcan-icon
            ></app-icon-button>
          </app-content-space-between>
        </td>
      </tr>
    </tbody>
  </app-native-table>
</app-accordion>
