<app-datepicker
  text="Dato"
  icon="search"
  size="medium"
  [value]="value"
  (valueChange)="valueChange($event)"
  i18n-text
></app-datepicker>

<kendo-dropdownlist
  class="date-option-dropdown"
  [data]="options"
  fillMode="outline"
  textField="text"
  valueField="operator"
  [popupSettings]="{
    width: 200
  }"
  [(value)]="chosenOption"
  (valueChange)="optionChange()"
>
  <ng-template kendoDropDownListValueTemplate>
    <app-filter-icon width="50" height="25"></app-filter-icon>
  </ng-template>

  <!-- <ng-template kendoDropDownListItemTemplate let-dataItem>
    <app-paragraph color="primary-dark">{{ dataItem.text }}</app-paragraph>
  </ng-template> -->
</kendo-dropdownlist>
