@import "theme";

:host {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.contract-status-column {
  min-width: 110px;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: $padding-large;
}
