@import 'theme';

:host {
  display: flex;
  flex-direction: column;
  padding: $padding-large;
}

.content {
  display: flex;
  gap: $padding-medium;
  margin-top: 20px;
} //TODO: Maybe extract into mixins

.title-margin {
  margin-top: 25px;
  margin-left: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
