<app-dialog [title]="title" overflow="none">
  <form [formGroup]="oversightDateFormGroup" (submit)="onSave()">
    <app-standard-vertical-content-grid>
      <app-datepicker
        text="Dato"
        [formGroup]="oversightDateFormGroup"
        formName="date"
        data-cy="datepicker-control"
        i18n-text
      ></app-datepicker>
      <app-textarea
        text="Bemærkning"
        [formGroup]="oversightDateFormGroup"
        formName="notes"
        data-cy="notes-control"
        i18n-text
      ></app-textarea>
      <app-dialog-actions>
        <app-button buttonStyle="secondary" (buttonClick)="onCancel()" i18n>Annuller</app-button>
        <app-button
          type="submit"
          [disabled]="oversightDateFormGroup.valid === false || isBusy"
          i18n
          data-cy="save-button"
          >Gem</app-button
        >
      </app-dialog-actions>
    </app-standard-vertical-content-grid>
  </form>
</app-dialog>
