@use "theme";

:host {
  display: flex;
  flex-direction: column;
  max-width: theme.$content-width-max;
  margin: theme.$padding-large auto;
  padding: 0 theme.$padding-large;
}

.content {
  display: flex;
  gap: theme.$padding-medium;
}
