<ng-container *ngIf="(isLoading$ | async) === false">
  <app-breadcrumbs [items]="breadCrumbs$ | async"></app-breadcrumbs>

  <app-details-header [title$]="interfaceName$">
      <ng-container *ngIf="hasDeletePermissions$ | async">
        <app-button
          *ngIf="deletionConflicts$ | async as deletionConflicts"
          color="warn"
          (buttonClick)="showRemoveDialog()"
          [disabled]="deletionConflicts.length > 0"
          i18n
          [tooltip]="conflictsText$ | async"
          >Slet Snitflade</app-button
        >
      </ng-container>
      <ng-container *ngIf="(hasModifyPermissions$ | async) === true">
        <app-button
        class="button-margin-right"
        *ngIf="(interfaceDeactivated$ | async) === true"
        i18n
        buttonStyle="secondary"
        [disabled]="(hasModifyPermissions$ | async) === false"
        (buttonClick)="showActivateDeactivateDialog(false)"
        data-cy="activate-interface-button"
        >
        Aktiver snitflade
        </app-button>

        <app-button
        *ngIf="(interfaceDeactivated$ | async) === false"
        class="button-margin-right"
        i18n
        color="warn"
        buttonStyle="secondary"
        [disabled]="(hasModifyPermissions$ | async) === false"
        (buttonClick)="showActivateDeactivateDialog(true)"
        data-cy="deactivate-interface-button"
        >
        Deaktiver snitflade
        </app-button>
      </ng-container>
    </app-details-header>
  <div class="content">
    <app-collapsible-navigation-drawer [items]="navigationItems"> </app-collapsible-navigation-drawer>

    <router-outlet></router-outlet>
  </div>
</ng-container>
<app-loading *ngIf="isLoading$ | async"></app-loading>
