@if ((isLoading$ | async) === false) {
  <app-breadcrumbs [items]="breadCrumbs$ | async"></app-breadcrumbs>
  <app-details-header [title$]="interfaceName$">
    @if (hasDeletePermissions$ | async) {
      @if (deletionConflicts$ | async; as deletionConflicts) {
        <app-button
          color="warn"
          (buttonClick)="showRemoveDialog()"
          [disabled]="deletionConflicts.length > 0"
          i18n
          [tooltip]="conflictsText$ | async"
          >Slet Snitflade</app-button
          >
        }
      }
      @if ((hasModifyPermissions$ | async) === true) {
        @if ((interfaceDeactivated$ | async) === true) {
          <app-button
            class="button-margin-right"
            i18n
            buttonStyle="secondary"
            [disabled]="(hasModifyPermissions$ | async) === false"
            (buttonClick)="showActivateDeactivateDialog(false)"
            data-cy="activate-interface-button"
            >
        Aktiver snitflade
      </app-button>
        }
        @if ((interfaceDeactivated$ | async) === false) {
          <app-button
            class="button-margin-right"
            i18n
            color="warn"
            buttonStyle="secondary"
            [disabled]="(hasModifyPermissions$ | async) === false"
            (buttonClick)="showActivateDeactivateDialog(true)"
            data-cy="deactivate-interface-button"
            >
        Deaktiver snitflade
      </app-button>
        }
      }
    </app-details-header>
    <div class="content">
      <app-navigation-drawer [items]="navigationItems"> </app-navigation-drawer>
      <router-outlet></router-outlet>
    </div>
  }
  @if (isLoading$ | async) {
    <app-loading></app-loading>
  }
