<app-card>
  <app-overview-header>
    <h3 i18n>ISMS ansvarlige</h3>
    <app-button
      i18n
      iconType="white-plus"
      (buttonClick)="openAddSupplierDialog()"
      ><span>Tilføj</span>
    </app-button>
  </app-overview-header>
  @if ((suppliers$ | async); as suppliers) {
    <app-local-grid
      [data]="suppliers"
      [columns]="gridColumns"
      [resizable]="false"
      [deletePermission]="canModifyOrganization$ | async"
      (deleteEvent)="removeSupplier($event)"
      [loading]="(suppliersLoading$ | async)"
    ></app-local-grid>
  }
</app-card>
