<app-dropdown
  [text]="text"
  [valueField]="valueField"
  [data]="data$ | async"
  [loading]="isLoading$ | async"
  [disabled]="disabled"
  [showSearchHelpText]="showSearchHelpText$ | async"
  [searchFn]="externalSearch"
  (filterChange)="onFilterChange($event)"
  (valueChange)="onValueChange($event)"
  (focusEvent)="onFocus()"
  (openDropdown)="onOpen()"
  i18n-text
  [formGroup]="formGroup"
  [formName]="formName"
  [includeItemDescription]="includeItemDescription"
  [considerCurrentValueObsoleteIfNotPresentInData]="false"
></app-dropdown>
