<app-card>
  <app-card-header title="Systeminformation" helpTextKey="it-system.usage.main" i18n-title>
    <app-status-chip
      type="it-system-usage"
      [value]="itSystemUsageValid$ | async"
      [title]="invalidReason$ | async"
    ></app-status-chip>
  </app-card-header>

  <form [formGroup]="itSystemInformationForm">
    <app-numeric-input
      text="Number test"
      type="number"
      i18n-text
      [formGroup]="itSystemInformationForm"
      formName="testNumber"
      (valueChange)="test($event)"
    ></app-numeric-input>
    <app-textbox
      text="Systemnavn (lokalt)"
      i18n-text
      [formGroup]="itSystemInformationForm"
      formName="localCallName"
      [maxLength]="100"
      (valueChange)="patchGeneral({ localCallName: $event })"
    ></app-textbox>
    <app-textbox
      text="Systemnavn ID (lokalt)"
      i18n-text
      [formGroup]="itSystemInformationForm"
      formName="localSystemId"
      [maxLength]="200"
      (valueChange)="patchGeneral({ localSystemId: $event })"
    ></app-textbox>
    <app-textbox
      text="Version"
      i18n-text
      [formGroup]="itSystemInformationForm"
      formName="systemVersion"
      [maxLength]="100"
      (valueChange)="patchGeneral({ systemVersion: $event })"
    ></app-textbox>
    <app-dropdown
      text="Antal brugere"
      i18n-text
      [formGroup]="itSystemInformationForm"
      formName="numberOfExpectedUsers"
      [data]="numberOfExpectedUsersOptions"
      (valueChange)="patchGeneral({ numberOfExpectedUsers: $event })"
    ></app-dropdown>
    <app-dropdown
      text="Klassifikation af data i systemet"
      i18n-text
      valueField="uuid"
      [formGroup]="itSystemInformationForm"
      formName="dataClassification"
      [data]="dataClassificationTypes$ | async"
      [showDescription]="true"
      (valueChange)="patchGeneral({ dataClassificationUuid: $event })"
    ></app-dropdown>
    <app-textarea
      class="notes"
      text="Beskrivelse"
      i18n-text
      [formGroup]="itSystemInformationForm"
      formName="notes"
      (valueChange)="patchGeneral({ notes: $event })"
    ></app-textarea>
  </form>
</app-card>

<app-card>
  <app-card-header title="Systemanvendelse" helpTextKey="it-system.usage.application" i18n-title></app-card-header>

  <form [formGroup]="itSystemApplicationForm">
    <app-textbox
      text="Taget i anvendelse af"
      i18n-text
      [formGroup]="itSystemApplicationForm"
      formName="createdBy"
    ></app-textbox>
    <app-textbox
      text="Sidst redigeret (bruger)"
      i18n-text
      [formGroup]="itSystemApplicationForm"
      formName="lastModifiedBy"
    ></app-textbox>
    <app-datepicker
      text="Sidst redigeret (dato)"
      i18n-text
      [formGroup]="itSystemApplicationForm"
      formName="lastModified"
    ></app-datepicker>
    <app-dropdown
      text="Livscyklus"
      i18n-text
      [formGroup]="itSystemApplicationForm"
      formName="lifeCycleStatus"
      [data]="lifeCycleStatusOptions"
      (valueChange)="patchGeneral({ validity: { lifeCycleStatus: $event } })"
    ></app-dropdown>
    <app-datepicker
      text="Ibrugtagningsdato"
      i18n-text
      [formGroup]="itSystemApplicationForm"
      formName="validFrom"
      (validatedValueChange)="patchGeneral({ validity: { validFrom: $event.value?.toISOString() } }, $event)"
    ></app-datepicker>
    <app-datepicker
      text="Slutdato for anvendelse"
      i18n-text
      [formGroup]="itSystemApplicationForm"
      formName="validTo"
      (validatedValueChange)="patchGeneral({ validity: { validTo: $event.value?.toISOString() } }, $event)"
    ></app-datepicker>
    <app-textbox
      text="Status"
      i18n-text
      [formGroup]="itSystemApplicationForm"
      formName="valid"
      [info]="invalidReason$ | async"
    ></app-textbox>
  </form>
</app-card>
