<app-menu-button title="Eksporter" i18n-title [buttonStyle]="'secondary'" iconType="export">
  <app-menu-button-item i18n (itemClick)="triggerMethod(true)">
    <app-export-icon />Eksporter alle kolonner
  </app-menu-button-item>
  @if (showColumnsOnlyOption) {
    <app-menu-button-item i18n (itemClick)="triggerMethod(false)">
    <app-export-icon />Eksporter viste kolonner
  </app-menu-button-item>
  }
  @if (enabledGdprExport && (gdprEnabled$ | async)) {
    <app-menu-button-item i18n (itemClick)="openGdprOverview()">
    <app-lock-icon /> Åben GDPR overblik
  </app-menu-button-item>
  }
</app-menu-button>
