<app-dialog title="Bryd forbindelsen til FK Organisation" i18n-title data-cy="confirm-dialog">
  <app-standard-vertical-content-grid class="confirmation-container" *ngIf="(isDeleteLoading$ | async) === false">
    <app-paragraph paragraphSize="medium" i18n
      >Brydes forbindelsen til FK Organisation vil alle organisationsenheder, som er importeret fra FK Organisation,
      blive konverteret til KITOS enheder.</app-paragraph
    >
    <app-paragraph paragraphSize="medium" i18n
      >Oprettes forbindelsen igen efterfølgende, vil der altså kunne optræde enheder med samme navn men med forskelligt
      "ophav".
    </app-paragraph>
    <div>
      <app-paragraph paragraphSize="medium" i18n>
        For at lette den administrative byrde har du derfor følgende muligheder:
      </app-paragraph>
      <app-paragraph paragraphSize="medium">
        <ul>
          <li i18n>
            <strong>Slet ubrugte organisationseneheder:</strong> Vælges denne mulighed slettes alle
            organisationseneheder (fra FK Organisation), hvortil der ikke er knyttet en registrering. De resterende
            konverteres til KITOS enheder.
          </li>

          <li i18n>
            <strong>Bevar organisationshierarkiet:</strong> Vælges denne mulighed konverteres alle organisationsenheder
            fra FK Organisation til KITOS enheder.
          </li>
        </ul>
      </app-paragraph>
    </div>
  </app-standard-vertical-content-grid>
  <app-loading *ngIf="(isDeleteLoading$ | async) === true"></app-loading>
  <app-dialog-actions>
    <app-button buttonStyle="secondary" (buttonClick)="cancel()" i18n [disabled]="(isDeleteLoading$ | async) === true"
      >Annuller</app-button
    >
    <app-button
      color="warn"
      buttonStyle="secondary"
      (buttonClick)="deleteConnection(true)"
      data-cy="remove-connection-with-units-button"
      i18n
      [disabled]="(isDeleteLoading$ | async) === true"
      >Slet ubrugte organisationseneheder</app-button
    >
    <app-button
      color="warn"
      (buttonClick)="deleteConnection(false)"
      data-cy="remove-connection-button"
      i18n
      [disabled]="(isDeleteLoading$ | async) === true"
      >Bevar organisationshierarkiet</app-button
    >
  </app-dialog-actions>
</app-dialog>
