<app-loading *ngIf="loadingKle$ | async"></app-loading>
<app-native-table *ngIf="selectedKleDetails$ | async as selectedKle">
  <thead>
    <th width="10%" i18n>KLE ID</th>
    <th i18n>KLE Navn</th>
  </thead>
  <tbody>
    <tr *ngFor="let kle of selectedKle">
      <td>
        <app-paragraph paragraphSize="small">{{ kle.kleNumber }}</app-paragraph>
      </td>
      <td>
        <app-content-space-between>
          <app-paragraph [cropOnOverlow]="true" paragraphSize="small">{{ kle.description }}</app-paragraph>
          <div class="kle-actions" *ngIf="availableCommands.length > 0 && hasModifyPermission">
            <ng-container *ngFor="let command of availableCommands">
              <app-button
                *ngIf="command === 'delete-assignment'"
                buttonStyle="tertiary"
                (buttonClick)="commandExecutionRequested({ command: command, kleUuid: kle.uuid })"
                ><app-trashcan-icon></app-trashcan-icon
              ></app-button>
            </ng-container>
          </div>
        </app-content-space-between>
      </td>
    </tr>
  </tbody>
</app-native-table>
