@use "theme";
:host ::ng-deep {
  display: flex;
  gap: theme.$padding-medium;
  padding-left: theme.$padding-small;
  padding-bottom: theme.$padding-medium;

  h3 {
    padding-left: theme.$padding-medium;
    flex: 1;
  }
}
