@if (loadingSystemContextKle$ | async) {
  <app-loading></app-loading>
}
@if ((loadingSystemContextKle$ | async) === false) {
  <app-standard-vertical-content-grid>
    @if (anyInherited$ | async) {
      <app-kle-table
        [hasModifyPermission]="hasModifyPermission"
        (kleCommandRequested)="kleCommandRequested.emit($event)"
        [selectedKles]="systemContextKles$"
      ></app-kle-table>
      <app-textbox-info
        ><app-paragraph paragraphSize="small" i18n
        >Forslag til justering af KLE opmærkning kan sendes til:
        <a href="mailto:info@kitos.dk">info&#64;kitos.dk</a></app-paragraph
        ></app-textbox-info
        >
      }
      @if ((anyInherited$ | async) === false) {
        <app-empty-state
          text="Der er ikke registreret tilknyttede opgaver i IT Systemkataloget"
          context="searchResult"
          i18n-text
        ></app-empty-state>
      }
    </app-standard-vertical-content-grid>
  }
