@import "theme";

:host ::ng-deep > table {
  width: 100%;
  padding-top: $padding-small;

  thead {
    th {
      text-align: left;
      padding: $padding-medium $padding-medium;
      color: $color-primary-dark;
      font-weight: 700;
    }
  }

  tbody {
    tr {
      td {
        padding: $padding-medium $padding-medium;
        border-top: 1px solid $color-neutral-20;
        text-align: left;
      }
    }
  }

  app-details-page-link {
    font-size: $link-font-size-small;
  }
}
