@import "theme";

.table-layout-fixed {
  table-layout: fixed;
}
.table-layout-auto {
  table-layout: auto;
}

.table-paddings {
  padding: $padding-medium $padding-medium;
}

:host ::ng-deep > table {
  width: 100%;

  thead {
    th {
      text-align: left;
      padding: $padding-medium $padding-medium;
      color: $color-primary-dark;
      font-weight: 700;
    }
  }

  tbody {
    tr {
      td {
        padding: $padding-medium $padding-medium;
        border-top: 1px solid $color-neutral-20;
        text-align: left;
      }
    }
  }
}

.table-outline {
  border: 1px solid $color-neutral-40;
  border-radius: 4px;
  padding: $padding-small;
  padding-top: 0;
}
