<app-dialog [title]="title" overflow="none">
  <form (ngSubmit)="onSave()" [formGroup]="formGroup">
    <app-standard-vertical-content-grid>
      <app-textbox
        *ngIf="orgUnit"
        [formGroup]="formGroup"
        formName="orgUnit"
        text="Organisationsenhed"
        i18n-text
      ></app-textbox>
      <app-user-dropdown [formGroup]="formGroup" formName="user" data-cy="user-dropdown"></app-user-dropdown>
      <app-option-type-dropdown
        [optionType]="roleType"
        [showDescription]="true"
        dropdownTitle="Vælg rolle"
        i18n-dropdownTitle
        [formGroup]="formGroup"
        formName="role"
        data-cy="role-dropdown"
      ></app-option-type-dropdown>
    </app-standard-vertical-content-grid>
    <app-paragraph *ngIf="roleAssignmentExists$() | async" color="error" i18n
      >Brugeren har allerede denne rolle.</app-paragraph
    >
    <app-dialog-actions>
      <app-button buttonStyle="secondary" (buttonClick)="closeDialog()" i18n> Annuller</app-button>
      <app-button type="submit" [disabled]="(canSave$() | async) !== true" data-cy="save-button" i18n> Gem </app-button>
    </app-dialog-actions>
  </form>
</app-dialog>
