@use "theme";
@use "mixins";

.header {
  font-size: small;
  margin-top: theme.$padding-medium;
}

form {
  display: grid;
  grid-template-columns: 1fr;
  gap: theme.$padding-small;
}

.form-nested {
  margin-left: theme.$padding-large;
}
