<app-card-header
  title="Yderligere information"
  helpTextKey="it-system.usage.gdpr.additional"
  i18n-title
  ></app-card-header>
  <app-accordion
  title="Hvilke typer data indeholder systemet?">
  <form [formGroup]="dataSensitivityLevelForm">
    <app-checkbox
      labelPosition="after"
      text="Ingen personoplysninger"
      i18n-text
      [formGroup]="dataSensitivityLevelForm"
      formName="None"
      (valueChange)="patchDataSensitivityLevels()">
    </app-checkbox>
    <app-checkbox
      labelPosition="after"
      text="Almindelige personoplysninger"
      i18n-text
      [formGroup]="dataSensitivityLevelForm"
      formName="PersonData"
      (valueChange)="patchDataSensitivityLevels()">
    </app-checkbox>
    <app-checkbox
      labelPosition="after"
      text="Følsomme personoplysninger"
      i18n-text
      [formGroup]="dataSensitivityLevelForm"
      formName="SensitiveData"
      (valueChange)="patchDataSensitivityLevels()">
    </app-checkbox>
    <app-checkbox
      labelPosition="after"
      text="Straffedomme og lovovertrædelser"
      i18n-text
      [formGroup]="dataSensitivityLevelForm"
      formName="LegalData"
      (valueChange)="patchDataSensitivityLevels()">
    </app-checkbox>


  </form>
  </app-accordion>
