@import "theme";
@import "mixins";

.header {
  font-size: small;
  margin-top: $padding-medium;
}

form {
  display: grid;
  grid-template-columns: 1fr;
  gap: $padding-small;
}

.form-nested {
  margin-left: $padding-large;
}

.textbox-info-nested {
  margin-left: $padding-medium;
  margin-top: 0%;
  padding-top: 0%;
}
