<app-overview-header>
  <h3 i18n>IT Kontrakter</h3>
  <app-grid-options-button
    [hasResetButton]="true"
    [hasColumnConfigButtons]="true"
    [createPermission$]="hasCreatePermission$"
    entityType="it-contract"
  ></app-grid-options-button>
  <app-export-menu-button [exportMethod]="onExcelExport"></app-export-menu-button>
  <app-hide-show-button [columns]="gridColumns$ | async" entityType="it-contract"></app-hide-show-button>
</app-overview-header>

<app-grid
  [data$]="gridData$"
  [columns$]="gridColumns$"
  [exportToExcelName]="'IT Kontrakter Overblik'"
  i18n-exportToExcelName
  [loading]="isLoading$ | async"
  [state]="gridState$ | async"
  entityType="it-contract"
  (stateChange)="stateChange($event)"
  (rowIdSelect)="rowIdSelect($event)"
></app-grid>
