<app-segment [buttons]="segmentOptions" [(selected)]="selectedSegment"></app-segment>

<app-card>
  <ng-container *ngIf="selectedSegment === LocalAdminItSystemSegmentOption.RegularOptionTypes">
    <app-option-type-table optionType="it-system_business-type" title="Forretningstyper" [showWriteAccess]="false" i18n-title>
    </app-option-type-table>
  </ng-container>

  <ng-container *ngIf="selectedSegment === LocalAdminItSystemSegmentOption.RoleOptionTypes">
    <app-option-type-table optionType="it-system-usage" [disableAccordion]="true" [expandedByDefault]="true"></app-option-type-table>
  </ng-container>
</app-card>
