<ng-content *ngIf="organizationName$ | async as organizationName">
  <div class="page-title-container">
    <h3 i18n class="page-title" data-cy="master-data-headline">Stamdata for {{ organizationName }}</h3>
    <app-help-button helpTextKey="organization.gdpr"></app-help-button>
  </div>
  <app-card class="card-top-margin">
    <app-card-header [title]="organizationName"></app-card-header>
    <app-form-grid [formGroup]="masterDataForm">
      <app-numeric-input
        i18n-text
        text="CVR-nummer"
        [formGroup]="masterDataForm"
        formName="cvrControl"
        (valueChange)="patchMasterData({ cvr: $event?.toString() })"
      ></app-numeric-input>
      <app-textbox
        i18n-text
        text="Telefonnummer"
        [formGroup]="masterDataForm"
        formName="phoneControl"
        (valueChange)="patchMasterData({ phone: $event })"
        data-cy="master-data-phone-input"
      ></app-textbox>
      <app-textbox
        i18n-text
        text="Email"
        [formGroup]="masterDataForm"
        formName="emailControl"
        (valueChange)="patchMasterData({ email: $event })"
      ></app-textbox>
      <app-textbox
        i18n-text
        text="Adresse"
        [formGroup]="masterDataForm"
        formName="addressControl"
        (valueChange)="patchMasterData({ address: $event })"
      ></app-textbox>
    </app-form-grid>
  </app-card>
</ng-content>

<app-card>
  <app-card-header i18n-title title="Dataansvarlig"></app-card-header>
  <app-form-grid [formGroup]="dataResponsibleForm">
    <app-textbox
      i18n-text
      text="Fornavn"
      [formGroup]="dataResponsibleForm"
      formName="nameControl"
      (valueChange)="patchMasterDataRolesDataResponsible()"
    ></app-textbox>
    <app-numeric-input
      i18n-text
      text="CVR-nummer"
      [formGroup]="dataResponsibleForm"
      formName="cvrControl"
      (valueChange)="patchDataResponsibleCvr($event?.toString())"
      data-cy="data-responsible-cvr-input"
    ></app-numeric-input>
    <app-textbox
      i18n-text
      text="Telefonnummer"
      [formGroup]="dataResponsibleForm"
      formName="phoneControl"
      (valueChange)="patchMasterDataRolesDataResponsible()"
    ></app-textbox>
    <app-textbox
      i18n-text
      text="Email (fritekst)"
      [formGroup]="dataResponsibleForm"
      formName="emailControl"
      (valueChange)="updateMasterDataRolesDataResponsibleEmailFreeText()"
    >
    </app-textbox>
    <app-connected-dropdown
      i18n-text
      text="Email (fremsøg eksisterende bruger)"
      [formGroup]="dataResponsibleForm"
      formName="emailControlDropdown"
      valueField="uuid"
      [data$]="organizationUserIdentityNamePairs$"
      [isLoading$]="organizationUsersLoading$"
      (filterChange)="searchOrganizationUsers($event)"
      (valueChange)="selectDataResponsibleFromOrganizationUsers($event)"
    ></app-connected-dropdown>
    <app-textbox
      i18n-text
      text="Adresse"
      [formGroup]="dataResponsibleForm"
      formName="addressControl"
      (valueChange)="patchMasterDataRolesDataResponsible()"
    ></app-textbox>
  </app-form-grid>
</app-card>

<app-card>
  <app-card-header i18n-title title="Databeskyttelsesrådgiver"></app-card-header>
  <app-form-grid [formGroup]="dataProtectionAdvisorForm">
    <app-textbox
      i18n-text
      text="Fornavn"
      [formGroup]="dataProtectionAdvisorForm"
      formName="nameControl"
      (valueChange)="patchMasterDataRolesDataProtectionAdvisor()"
    ></app-textbox>
    <app-numeric-input
      i18n-text
      text="CVR-nummer"
      [formGroup]="dataProtectionAdvisorForm"
      formName="cvrControl"
      (valueChange)="patchDataProtectionAdvisorCvr($event?.toString())"
    ></app-numeric-input>
    <app-textbox
      i18n-text
      text="Telefonnummer"
      [formGroup]="dataProtectionAdvisorForm"
      formName="phoneControl"
      (valueChange)="patchMasterDataRolesDataProtectionAdvisor()"
    ></app-textbox>
    <app-textbox
      i18n-text
      text="Email"
      [formGroup]="dataProtectionAdvisorForm"
      formName="emailControl"
      (valueChange)="patchMasterDataRolesDataProtectionAdvisor()"
    ></app-textbox>
    <app-textbox
      i18n-text
      text="Adresse"
      [formGroup]="dataProtectionAdvisorForm"
      formName="addressControl"
      (valueChange)="patchMasterDataRolesDataProtectionAdvisor()"
    ></app-textbox>
  </app-form-grid>
</app-card>

<app-card>
  <app-card-header i18n-title title="Kontaktperson"></app-card-header>
  <app-form-grid [formGroup]="contactPersonForm">
    <app-textbox
      i18n-text
      text="Fornavn"
      [formGroup]="contactPersonForm"
      formName="nameControl"
      (valueChange)="patchMasterDataRolesContactPerson()"
      data-cy="contact-person-name-control"
    ></app-textbox>
    <app-textbox
      i18n-text
      text="Efternavn"
      [formGroup]="contactPersonForm"
      formName="lastNameControl"
      (valueChange)="patchMasterDataRolesContactPerson()"
      data-cy="contact-person-last-name-control"
    ></app-textbox>
    <app-textbox
      i18n-text
      text="Telefonnummer"
      [formGroup]="contactPersonForm"
      formName="phoneControl"
      (valueChange)="patchMasterDataRolesContactPerson()"
      data-cy="contact-person-phone-control"
    ></app-textbox>
    <app-textbox
      i18n-text
      text="Email (fritekst)"
      [formGroup]="contactPersonForm"
      formName="emailControl"
      (valueChange)="updateMasterDataRolesContactPersonEmailFreeText()"
    >
    </app-textbox>
    <app-connected-dropdown
      i18n-text
      text="Email (fremsøg eksisterende bruger)"
      [formGroup]="contactPersonForm"
      formName="emailControlDropdown"
      valueField="uuid"
      [data$]="organizationUserIdentityNamePairs$"
      [isLoading$]="organizationUsersLoading$"
      (filterChange)="searchOrganizationUsers($event)"
      (valueChange)="selectContactPersonFromOrganizationUsers($event)"
      data-cy="contact-person-email-dropdown"
    ></app-connected-dropdown>
  </app-form-grid>
</app-card>
