<h4 i18n class="h4-margin">Stamdata for Aarhus Kommune</h4>
<app-card class="card-top-margin">
  <app-card-header title="Aarhus Kommune"></app-card-header>
  <app-form-grid>
    <app-textbox
      i18n-text
      text="CVR-nummer"
    ></app-textbox>
    <app-textbox
      i18n-text
      text="Telefonnummer"
    ></app-textbox>
    <app-textbox
      i18n-text
      text="Email"
    ></app-textbox>
    <app-textbox
      i18n-text
      text="Adresse"
    ></app-textbox>
  </app-form-grid>
</app-card>
