<ng-content *ngIf="organization$ | async as organization">
  <h4 i18n class="h4-margin">Stamdata for {{ organization.name }}</h4>
<app-card class="card-top-margin">
  <app-card-header [title]="organization.name"></app-card-header>
  <app-form-grid>
    <app-textbox
      i18n-text
      text="CVR-nummer"
      [formGroup]="masterDataForm"
      formName="cvrControl"
      (valueChange)="patchMasterData({ cvr: $event })"
    ></app-textbox>
    <app-textbox
      i18n-text
      text="Telefonnummer"
      [formGroup]="masterDataForm"
      formName="phoneControl"
      (valueChange)="patchMasterData({ phone: $event })"
    ></app-textbox>
    <app-textbox
      i18n-text
      text="Email"
      [formGroup]="masterDataForm"
      formName="emailControl"
      (valueChange)="patchMasterData({ email: $event })"
    ></app-textbox>
    <app-textbox
      i18n-text
      text="Adresse"
      [formGroup]="masterDataForm"
      formName="addressControl"
      (valueChange)="patchMasterData({ address: $event })"
    ></app-textbox>
  </app-form-grid>
</app-card>
</ng-content>

<app-card>
  <app-card-header i18n-title title="Dataansvarlig"></app-card-header>
  <app-form-grid>
    <app-textbox
      i18n-text
      text="Fornavn"
      [formGroup]="dataResponsibleForm"
      formName="nameControl"
      (valueChange)="patchMasterDataRolesDataResponsible()"
    ></app-textbox>
    <app-textbox
      i18n-text
      text="Efternavn"
      [formGroup]="dataResponsibleForm"
      formName="lastNameControl"
      (valueChange)="patchMasterDataRolesDataResponsible()"
    ></app-textbox>
    <app-textbox
      i18n-text
      text="CVR-nummer"
      [formGroup]="dataResponsibleForm"
      formName="cvrControl"
      (valueChange)="patchMasterDataRolesDataResponsible()"
    ></app-textbox>
    <app-textbox
      i18n-text
      text="Telefonnummer"
      [formGroup]="dataResponsibleForm"
      formName="phoneControl"
      (valueChange)="patchMasterDataRolesDataResponsible()"
    ></app-textbox>
    <app-textbox
      i18n-text
      text="Email"
      [formGroup]="dataResponsibleForm"
      formName="emailControl"
      (valueChange)="patchMasterDataRolesDataResponsible()"
    ></app-textbox>
    <app-textbox
      i18n-text
      text="Adresse"
      [formGroup]="dataResponsibleForm"
      formName="addressControl"
      (valueChange)="patchMasterDataRolesDataResponsible()"
    ></app-textbox>
  </app-form-grid>
</app-card>

<app-card>
  <app-card-header i18n-title title="Databeskyttelsesrådgiver"></app-card-header>
  <app-form-grid>
    <app-textbox
      i18n-text
      text="Fornavn"
      [formGroup]="dataProtectionAdvisorForm"
      formName="nameControl"
      (valueChange)="patchMasterDataRolesDataProtectionAdvisor()"
    ></app-textbox>
    <app-textbox
      i18n-text
      text="Efternavn"
      [formGroup]="dataProtectionAdvisorForm"
      formName="lastNameControl"
      (valueChange)="patchMasterDataRolesDataProtectionAdvisor()"
    ></app-textbox>
    <app-textbox
      i18n-text
      text="CVR-nummer"
      [formGroup]="dataProtectionAdvisorForm"
      formName="cvrControl"
      (valueChange)="patchMasterDataRolesDataProtectionAdvisor()"
    ></app-textbox>
    <app-textbox
      i18n-text
      text="Telefonnummer"
      [formGroup]="dataProtectionAdvisorForm"
      formName="phoneControl"
      (valueChange)="patchMasterDataRolesDataProtectionAdvisor()"
    ></app-textbox>
    <app-textbox
      i18n-text
      text="Email"
      [formGroup]="dataProtectionAdvisorForm"
      formName="emailControl"
      (valueChange)="patchMasterDataRolesDataProtectionAdvisor()"
    ></app-textbox>
    <app-textbox
      i18n-text
      text="Adresse"
      [formGroup]="dataProtectionAdvisorForm"
      formName="addressControl"
      (valueChange)="patchMasterDataRolesDataProtectionAdvisor()"
    ></app-textbox>
  </app-form-grid>
</app-card>

<app-card>
  <app-card-header i18n-title title="Kontaktperson"></app-card-header>
  <app-form-grid>
    <app-textbox
      i18n-text
      text="Fornavn"
      [formGroup]="contactPersonForm"
      formName="nameControl"
      (valueChange)="patchMasterDataRolesContactPerson()"
    ></app-textbox>
    <app-textbox
      i18n-text
      text="Efternavn"
      [formGroup]="contactPersonForm"
      formName="lastNameControl"
      (valueChange)="patchMasterDataRolesContactPerson()"
    ></app-textbox>
    <app-textbox
      i18n-text
      text="Telefonnummer"
      [formGroup]="contactPersonForm"
      formName="phoneControl"
      (valueChange)="patchMasterDataRolesContactPerson()"
    ></app-textbox>
    <app-textbox
      i18n-text
      text="Email"
      [formGroup]="contactPersonForm"
      formName="emailControl"
      (valueChange)="patchMasterDataRolesContactPerson()"
    ></app-textbox>
  </app-form-grid>
</app-card>
