<app-dialog title="Opret organisation" i18n-title overflow="none">
  <app-loading *ngIf="isLoading$ | async"></app-loading>
  <ng-container *ngIf="(isLoading$ | async) === false">
    <app-standard-vertical-content-grid>
      <app-textbox
        text="Organisationens navn"
        i18n-text
        [formGroup]="formGroup"
        formName="name"
        data-cy="org-name"
      ></app-textbox>
      <app-dropdown
        text="Type"
        i18n-text
        [data]="organizationTypeOptions"
        [clearable]="false"
        [formGroup]="formGroup"
        formName="organizationType"
        data-cy="org-type"
      ></app-dropdown>
      <app-textbox text="CVR nummer" i18n-text [formGroup]="formGroup" formName="cvr" data-cy="org-cvr"></app-textbox>
      <app-dropdown
        text="Udenlandsk virksomhed"
        i18n-text
        [formGroup]="formGroup"
        valueField="uuid"
        textField="name"
        formName="foreignCountryCode"
        [data]="countryCodes$ | async"
        data-cy="foreign-country-code"
      ></app-dropdown>
    </app-standard-vertical-content-grid>

    <app-dialog-actions>
      <app-button buttonStyle="secondary" (buttonClick)="onCancel()" i18n>Annuller</app-button>
      <app-button
        (buttonClick)="onCreateOrganization()"
        [disabled]="!formGroup.valid"
        i18n
        data-cy="create-org-dialog-button"
        >Opret</app-button
      >
    </app-dialog-actions>
  </ng-container>
</app-dialog>
