<app-card>
  <app-card-header
    title="Data fra IT Systemkataloget)"
    helpTextKey="it-system.usage.kle.catalog"
    i18n-title
  ></app-card-header>
  <app-it-system-kle-overview [availableCommands]="['toggle-relevance']"></app-it-system-kle-overview>
</app-card>
<app-card>
  <app-card-header
    title="Lokalt tilknyttede opgaver"
    helpTextKey="it-system.usage.kle.local"
    i18n-title
  ></app-card-header>
  <div class="local-kle-overview">
    <app-kle-table
      (kleCommandRequested)="onRemoveLocalKleRequested($event)"
      [hasModifyPermission]="(hasModifyPermission$ | async) === true"
      *ngIf="anyLocalKleUuids$ | async"
      [selectedKleUuids]="localKleUuids$"
      [availableCommands]="['delete-assignment']"
    ></app-kle-table>
    <app-empty-state
      *ngIf="(anyLocalKleUuids$ | async) === false"
      text="Der er endnu ikke registreret lokalt tilknyttede opgaver"
      context="emptyTable"
      i18n-text
    ></app-empty-state>
    <app-collection-extension-button
      *ngIf="hasModifyPermission$ | async"
      text="Tilknyt opgave"
      (clicked)="onAddNew()"
      i18n-text
    >
    </app-collection-extension-button>
  </div>
</app-card>
