@import "theme";

app-loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// Custom styling of material dialog
::ng-deep {
  .mdc-dialog__surface {
    overflow-y: visible !important;
  }
  /*  .cdk-overlay-container {
    position: absolute;
  } */
  .cdk-overlay-backdrop {
    position: fixed !important;
  }
}
