<ng-container *ngIf="unit$ | async as unit">
  <app-dialog [title]="'Rediger ' + unit.name" i18n-title backgroundColor="grey" [noPadding]="true" overflow="none">
    <div class="content">
      <div class="grid-container">
        <app-standard-vertical-content-grid class="basic-information-section">
          <app-paragraph paragraphSize="large" [bold]="true" i18n>Information om enhed</app-paragraph>
          <div>
            <app-dropdown
              [text]="(getParentUnitDropdownText() | async) ?? ''"
              i18n-text
              [value]="unit.parentOrganizationUnit ?? unit.name"
              [data]="validParentOrganizationUnits$ | async"
              [formGroup]="baseInfoForm"
              formName="parentUnitControl"
            ></app-dropdown>
            <app-textbox-info i18n>{{ getParentUnitHelpText() | async }}</app-textbox-info>
          </div>

          <app-textbox
            [value]="unit.name"
            text="Enhedens navn"
            i18n-text
            [formGroup]="baseInfoForm"
            formName="nameControl"
            data-cy="name-control"
          ></app-textbox>

          <app-numeric-input
            [value]="unit.ean"
            text="EAN nummer"
            i18n-text
            [formGroup]="baseInfoForm"
            formName="eanControl"
            data-cy="ean-control"
          ></app-numeric-input>

          <app-textbox
            [value]="unit.unitId"
            text="Enhedens ID"
            i18n-tex
            [formGroup]="baseInfoForm"
            formName="idControl"
          ></app-textbox>
          <app-dialog-actions>
            <app-button [color]="confirmColor" size="large" (buttonClick)="onSave()" i18n data-cy="save-button"
              >Gem</app-button
            >
          </app-dialog-actions>
        </app-standard-vertical-content-grid>
        <app-standard-vertical-content-grid class="registrations-section">
          <app-paragraph paragraphSize="large" [bold]="true" i18n>Registeringer for: {{ unit.name }}</app-paragraph>
          <app-org-unit-select [disabledUnitsUuids]="[unit.uuid]"></app-org-unit-select>
        </app-standard-vertical-content-grid>
      </div>
    </div>
    <div class="dialog-footer">
      <app-button i18n buttonStyle="tertiary" color="warn" data-cy="delete-unit-button"
        ><app-trashcan-icon></app-trashcan-icon> Slet enhed</app-button
      >
      <div class="right-buttons">
        <app-button
          buttonStyle="secondary"
          [color]="'accent'"
          i18n
          data-cy="deselect-all-button"
          [disabled]="!isAllSelected"
          >Fravælg alle</app-button
        >
        <app-button i18n buttonStyle="secondary" color="accent" data-cy="select-all-button" [disabled]="isAllSelected"
          >Vælg alle</app-button
        >
      </div>
    </div>
  </app-dialog>
</ng-container>
