<app-card i18n-title>
  <app-card-header title="Via Excel"></app-card-header>
  TO IMPLEMENT
</app-card>

<app-card i18n-title>
  <app-card-header title="Via FK Organisation"></app-card-header>
  <app-standard-vertical-content-grid *ngIf="(isLoadingConnectionStatus$ | async) === false">
    <div>
      <app-paragraph helpTextKey="local-config-fk-org-status.label" [bold]="true" i18n>Adgang</app-paragraph>
      <app-paragraph i18n *ngIf="accessGranted$ | async"
        >KITOS har adgang til organisationens data via FK Organisation</app-paragraph
      >
      <app-paragraph i18n *ngIf="(accessGranted$ | async) === false"
        >KITOS har <strong>ikke</strong> adgang til organisationens data via FK Organisation</app-paragraph
      >
    </div>
    <div>
      <app-paragraph helpTextKey="local-config-fk-org-sync-status.label" [bold]="true" i18n
        >Synkronisering</app-paragraph
      >
      <ng-container *ngIf="synchronizationStatus$ | async as synchronizationStatus">
        <app-native-table *ngIf="isConnected$ | async">
          <thead>
            <th width="33%" i18n>Niveauer der synkroniseres</th>
            <th width="33%" i18n>Tjekker automatisk (hver mandag nat) efter ventende opdateringer</th>
            <th width="33%" i18n>Dato for seneste automatiske tjek</th>
          </thead>
          <tbody>
            <tr>
              <td i18n>
                {{
                  synchronizationStatus.synchronizationDepth === null
                    ? "Alle"
                    : synchronizationStatus.synchronizationDepth
                }}
              </td>
              <td i18n>{{ synchronizationStatus.subscribesToUpdates ? "Ja" : "Nej" }}</td>
              <td>{{ synchronizationStatus.dateOfLatestCheckBySubscription }}</td>
            </tr>
          </tbody>
        </app-native-table>
      </ng-container>
      <app-paragraph i18n *ngIf="(isConnected$ | async) === false"
        >Organisationen er <strong>ikke</strong> forbundet til FK Organisation</app-paragraph
      >
    </div>
    <div>
      <app-button class="no-stretch" (buttonClick)="openImportDialog()" i18n>Forbind</app-button>
    </div>
  </app-standard-vertical-content-grid>
  <app-loading *ngIf="isLoadingConnectionStatus$ | async"></app-loading>
</app-card>
