<app-card>
  <app-card-header title="Udstillede snitflader" [helpTextKey]="helpTextKey" i18n-title></app-card-header>
  @if (isLoading$ | async) {
    <app-loading></app-loading>
  }
  @if ((isLoading$ | async) === false) {
    @if (anyInterfaces$ | async) {
      <div class="content">
        <app-native-table tableLayout="fixed">
          <thead>
            <th i18n>Snitflade</th>
            <th i18n>Status</th>
            <th i18n>Grænseflade</th>
            <th i18n width="30%">Beskrivelse</th>
            <th i18n>Reference</th>
          </thead>
          <tbody>
            @for (itInterface of itInterfaces$ | async; track itInterface) {
              <tr>
                <td>
                  <app-details-page-link itemType="it-interface" linkFontSize="small" [itemPath]="itInterface.uuid">{{
                    itInterface.name
                  }}</app-details-page-link>
                </td>
                <td>
                  <app-status-chip type="it-interface" [value]="!itInterface.deactivated"></app-status-chip>
                </td>
                <td>
                  <app-paragraph paragraphSize="small" [cropOnOverflow]="true">
                    <app-selected-option-type-text
                      [selectedOption]="itInterface.itInterfaceType ?? undefined"
                      [availableOptions$]="availableInterfaceTypesDictionary$"
                      >
                    </app-selected-option-type-text>
                  </app-paragraph>
                </td>
                <td>
                  <app-paragraph paragraphSize="small" [cropOnOverflow]="true">{{ itInterface.description }}</app-paragraph>
                </td>
                <td>
                  <app-external-page-link [url]="itInterface.urlReference ?? undefined" linkFontSize="small"></app-external-page-link>
                </td>
              </tr>
            }
          </tbody>
        </app-native-table>
      </div>
    }
    @if ((anyInterfaces$ | async) === false) {
      <app-empty-state
        text="Systemet udstiller ingen snitflader"
        context="searchResult"
        i18n-text
      ></app-empty-state>
    }
  }
</app-card>
