@use "theme";
@use "mixins";

:host {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.top-container {
  overflow: hidden;
}

.icon-container {
  @include mixins.center-items-container;
  background-color: theme.$color-primary-20;
  width: 40px;
  height: 40px;
  border-radius: theme.$radius-large;
  margin-bottom: theme.$padding-medium-large;
  float: left;
}

.link-container {
  @include mixins.center-items-container;
  gap: 8px;
  float: right;
}

.padding {
  padding: 4px;
}

app-card {
  min-height: 171px;
  margin: 12px;
}

.compact-height {
  min-height: 171px;
}

.normal-height {
  min-height: 150px;
}
