<mat-form-field *ngIf="formGroup" [formGroup]="formGroup">
  <mat-label>{{ text }}</mat-label>
  <textarea
    matInput
    cdkTextareaAutosize
    cdkAutosizeMinRows="4"
    cdkAutosizeMaxRows="20"
    type="text"
    [formControlName]="formName"
    (input)="formInputValueChange($event)"
    (focus)="focus(true)"
    (blur)="focus(false)"
  ></textarea>
</mat-form-field>

<mat-form-field *ngIf="!formGroup">
  <mat-label>{{ text }}</mat-label>
  <textarea
    matInput
    cdkTextareaAutosize
    cdkAutosizeMinRows="4"
    cdkAutosizeMaxRows="20"
    type="text"
    [disabled]="disabled"
    [(ngModel)]="value"
    (ngModelChange)="valueChange.emit($event)"
  ></textarea>
</mat-form-field>
