<app-scrollbar-dialog title="Rediger" i18n-title>
  <form [formGroup]="formGroup" (ngSubmit)="onSave()">
    <app-standard-vertical-content-grid>
      <app-textbox text="Titel" i18n-text [formGroup]="formGroup" formName="title" data-cy="title"></app-textbox>
      <div>
        <app-textbox text="URL" [formGroup]="formGroup" formName="url" i18n-text data-cy="url"></app-textbox>
        @if (showUrlError) {
          <app-paragraph paragraphSize="small" color="error"
            >{{ urlValidationError }}</app-paragraph
            >
          }
        </div>
        @if (!publicMessage.isMain) {
          <app-dropdown
            [data]="statusTypeOptions"
            text="Status"
            i18n-text
            [formGroup]="formGroup"
            formName="status"
            data-cy="status"
          ></app-dropdown>
        }
        <app-textarea
          text="Beskrivelse"
          i18n-text
          [formGroup]="formGroup"
          formName="shortDescription"
          data-cy="short-description"
        ></app-textarea>
        @if (!publicMessage.isMain) {
          <app-dropdown
            text="Ikon"
            i18n-text
            [data]="iconTypeOptions"
            [formGroup]="formGroup"
            formName="iconType"
            data-cy="icon-type"
          ></app-dropdown>
        }
        @if (!publicMessage.isMain) {
          <app-rich-text-editor
            [formControl]="formGroup.controls.longDescription"
            data-cy="long-description"
          ></app-rich-text-editor>
        }
      </app-standard-vertical-content-grid>
      <app-dialog-actions>
        <app-button buttonStyle="secondary" (buttonClick)="close()" i18n> Luk </app-button>
        <app-button type="submit" [disabled]="!formGroup.valid" data-cy="save-public-message-button" i18n>
        Gem
      </app-button>
      </app-dialog-actions>
    </form>
  </app-scrollbar-dialog>
