@import "mixins.scss";
@import 'theme';

:host {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: $padding-large;
}

app-button {
  display: block;
  width: fit-content;
}

