<app-card>
  <app-standard-vertical-content-grid>
    <h3 i18n>Glemt password?</h3>
    <app-paragraph paragraphSize="large" i18n>
      Hvis du har glemt passwordet til din KITOS bruger, kan du få tilsendt en email med et link til at nulstille det.
    </app-paragraph>
    <app-paragraph paragraphSize="large" i18n>
      Bemærk at linkets gyldighed udløber efter 10 dage. Du skal derfor nå at nulstille dit password inden da.
    </app-paragraph>
    <app-loading *ngIf="loading"></app-loading>
    <ng-container *ngIf="!loading">
      <app-textbox
        text="Email"
        [formGroup]="formGroup"
        formName="email"
        type="email"
        i18n-text
        data-cy="send-request-email"
      ></app-textbox>
      <app-button i18n (buttonClick)="onSendEmail()" [disabled]="!formGroup.valid" data-cy="send-request-button">
        Send email
      </app-button>
    </ng-container>
  </app-standard-vertical-content-grid>
</app-card>
