<ng-container *ngIf="optionTypeItems$ | async as optionTypeItems">
  <app-accordion
  [title]="title"
  [disabled]="disableAccordion"
  [isExpandedByDefault]="expandedByDefault"
  data-cy="option-type-accordion"
  >
    <div class="create-button-container-align-right">
      <app-button
      buttonStyle="primary"
      (buttonClick)="onCreate()"
      i18n
      data-cy="create-button"> Opret {{ getCreateButtonType() }}</app-button>
    </div>
    <app-loading *ngIf="isLoading$ | async"></app-loading>
    <app-native-table *ngIf="(isLoading$ | async) === false" tableLayout="fixed">
      <thead>
        <tr>
          <th i18n>Tilgængelig</th>
          <th i18n>Obligatorisk</th>
          <th i18n>Prioritet</th>
          <th i18n>Navn</th>
          <th *ngIf="showWriteAccess" i18n>Skriv</th>
          <th *ngIf="showDescription" i18n>Beskrivelse</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let optionTypeItem of optionTypeItems">
          <td>
            <app-boolean-circle [value]="optionTypeItem.enabled"></app-boolean-circle>
          </td>
          <td>
            <app-boolean-circle [value]="optionTypeItem.obligatory"></app-boolean-circle>
          </td>
          <td>
            <div class="align-priority-div">
              <app-icon-button (buttonClick)="onIncreasePriority(optionTypeItem)" [disabled]="(isHighestPriority(optionTypeItem) | async) === true">
                <app-arrow-up-icon [ngClass]="{'arrow-icon-disabled': (isHighestPriority(optionTypeItem) | async) === true}"></app-arrow-up-icon>
              </app-icon-button>
              <app-icon-button
              (buttonClick)="onDecreasePriority(optionTypeItem)"
              [disabled]="(isLowestPriority(optionTypeItem) | async) === true"
              data-cy="decrease-priority-button"
              >
                <app-arrow-down-icon [ngClass]="{'arrow-icon-disabled': (isLowestPriority(optionTypeItem) | async) === true}"></app-arrow-down-icon>
              </app-icon-button>
            </div>
          </td>
          <td>{{ optionTypeItem.name }}</td>
          <td *ngIf="showWriteAccess">
            <app-boolean-circle [value]="optionTypeItem.writeAccess ?? false"></app-boolean-circle>
          </td>
          <td>
            <app-content-space-between>
              <app-paragraph *ngIf="showDescription" i18n class="description-overflow"> {{ optionTypeItem.description }} </app-paragraph>
              <app-table-row-actions>
                <app-icon-button (buttonClick)="onEdit(optionTypeItem)" data-cy="edit-button">
                  <app-pencil-icon></app-pencil-icon>
                </app-icon-button>
                <app-icon-button (buttonClick)="onToggleEnabled(optionTypeItem)" data-cy="disable-button">
                  <app-x-icon *ngIf="optionTypeItem.enabled"></app-x-icon>
                  <app-check-icon *ngIf="!optionTypeItem.enabled"></app-check-icon>
                </app-icon-button>
              </app-table-row-actions>
            </app-content-space-between>
          </td>
        </tr>
      </tbody>
    </app-native-table>
  </app-accordion>
</ng-container>
