@import "theme";

.close-button {
  position: absolute;
  right: 18px;
  top: 18px;
}

.header {
  display: flex;
  align-items: center;
  gap: $padding-small;
  border-bottom: 1px solid $color-neutral-20;
  padding: $padding-medium;
  padding-left: $padding-large;
  color: $color-neutral-dark;

  h3 {
    margin: 12px 4px 12px 0;
  }

  &.nested {
    justify-content: center;
    position: relative;

    h3 {
      flex-grow: 1;
      text-align: center;
    }

    .arrow-button {
      position: absolute;
      left: $padding-medium;
      margin-right: 0;
    }
  }


}

h3 {
  word-wrap: break-word;
  max-width: 90%;
}
.title-align-bottom {
  align-items: center;
}

.title-container {
  align-items: center;
  gap: 8px;
}


