@import "theme";

:host.active button {
  color: $color-primary !important;
}

button.mat-mdc-button-base {
  width: 100%;
  height: 48px;
  padding: 20px;
  white-space: nowrap;
  border-radius: $radius-large;
  border-color: var(--mdc-text-button-label-text-color);

  &.large {
    height: 56px;
  }

  &.small {
    height: 48px;
    font-size: 14px;
  }

  // Accent label color varies from accent color by design
  &.mat-accent {
    color: $color-neutral-dark;
  }
}

:host ::ng-deep .mdc-button__label {
  display: flex;
  gap: $padding-small;
  align-items: center;
}

.button-text-white {
  color: white !important;
}

.secondary-button-disabled {
  opacity: 0.5; /* Adjust the opacity value as needed */
  pointer-events: none; /* Optional: Prevent any interaction with the button */
}
