<app-tooltip [text]="tooltip ?? ''">
  <button
    mat-button
    class="{{ size }}"
    [ngClass]="{
      'button-text-white': buttonStyle === 'primary' && (!disabled || loading),
      'mat-mdc-unelevated-button': buttonStyle === 'primary',
      'mdc-button--unelevated': buttonStyle === 'primary',
      'mat-mdc-outlined-button': buttonStyle === 'secondary',
      'mdc-button--outlined': buttonStyle === 'secondary',
      'secondary-button-disabled': buttonStyle === 'secondary' && disabled,
    }"
    [color]="color"
    [disabled]="disabled || loading"
    [type]="type"
    (click)="onButtonClick()"
  >
    <ng-content></ng-content>
  </button>
</app-tooltip>
