<app-dialog [title]="title" [closable]="true" overflow="none" i18n-title>
  <form [formGroup]="roleForm" (ngSubmit)="onSave()">
    <app-vertical-content>
      <app-connected-dropdown
        text="Vælg bruger"
        valueField="uuid"
        [data$]="users$"
        [isLoading$]="isLoading$"
        [showSearchHelpText$]="selectUserResultIsLimited$"
        (filterChange)="userFilterChange($event)"
        (valueChange)="userChange($event)"
        i18n-text
        [formGroup]="roleForm"
        formName="user"
        [includeItemDescription]="true"
      ></app-connected-dropdown>
      <app-dropdown
        text="Vælg rolle"
        valueField="uuid"
        [data]="roles$ | async"
        i18n-text
        [formGroup]="roleForm"
        formName="role"
        [includeItemDescription]="true"
      ></app-dropdown>

      <app-dialog-actions>
        <app-button buttonStyle="secondary" size="large" (buttonClick)="onCancel()" i18n>Annuller</app-button>
        <app-button type="submit" size="large" [disabled]="roleForm.valid === false || isBusy" i18n>Tilføj</app-button>
      </app-dialog-actions>
    </app-vertical-content>
  </form>
</app-dialog>
