<h3 i18n>Lokal admin</h3>
<ng-container class="content">
  <app-navigation-drawer>
    <app-button
      buttonStyle="tertiary"
      color="accent"
      size="large"
      routerLinkActive="active"
      ><app-document-icon></app-document-icon>
      <ng-container i18n>Information</ng-container>
    </app-button>
    <app-button
      buttonStyle="tertiary"
      color="accent"
      size="large"
      routerLinkActive="active"
      ><app-organization-icon></app-organization-icon>
      <ng-container i18n>Organisation</ng-container>
    </app-button>
    <app-button
      buttonStyle="tertiary"
      color="accent"
      size="large"
      routerLinkActive="active"
      ><app-systems-icon></app-systems-icon>
      <ng-container i18n>IT System</ng-container>
    </app-button>
    <app-button
      buttonStyle="tertiary"
      color="accent"
      size="large"
      routerLinkActive="active"
      ><app-clipboard-icon></app-clipboard-icon>
      <ng-container i18n>IT kontrakt</ng-container>
    </app-button>
    <app-button
      buttonStyle="tertiary"
      color="accent"
      size="large"
      routerLinkActive="active"
      ><app-folder-important-icon></app-folder-important-icon>
      <ng-container i18n>Databehandling</ng-container>
    </app-button>
    <app-button
      buttonStyle="tertiary"
      color="accent"
      size="large"
      routerLinkActive="active"
      ><app-bulk-create-icon></app-bulk-create-icon>
      <ng-container i18n>Masseopret</ng-container>
    </app-button>
  </app-navigation-drawer>

    <router-outlet></router-outlet>
  </ng-container>
