<div class="header"
>
  <h4 i18n class="title-margin">Lokal admin</h4>
  <ng-container *ngIf="currentTabModuleKey$ | async as moduleKey">
    <app-checkbox-button i18n
      (valueChange)="patchUIRootConfig($event)"
      [value]="(getModuleTogglingButtonValue(moduleKey) | async) ?? false"
      data-cy="toggle-module-button"

      >
    <app-paragraph [bold]="true" paragraphSize="medium">
      Inkluder modulet {{ getModuleKeyDescription(moduleKey) }}
    </app-paragraph>
    </app-checkbox-button>
  </ng-container>

</div>


<div class="content">
  <app-navigation-drawer [items]="items"> </app-navigation-drawer>

  <router-outlet></router-outlet>
</div>
