<app-button
  [buttonStyle]="buttonStyle"
  [matMenuTriggerFor]="buttonMenu"
  #menuTrigger="matMenuTrigger"
  (mouseenter)="onMouseEnter()"
  (mouseleave)="onMouseLeave()"
>
  <ng-container *ngIf="iconType">
    <app-export-icon *ngIf="iconType === 'export'"> </app-export-icon>
    <app-more-horizontal-icon *ngIf="iconType === 'dots'"> </app-more-horizontal-icon>
  </ng-container>
  <ng-content select="[title]"></ng-content>
  <ng-container i18n>{{ title }}</ng-container>
</app-button>

<mat-menu
  tabindex="-1"
  class="button-menu-component"
  #buttonMenu="matMenu"
  direction="down"
  yPosition="below"
  [hasBackdrop]="false"
  (mouseenter)="onMouseEnter()"
  (mouseleave)="onMouseLeave()"
>
  <span #content>
    <ng-content></ng-content>
  </span>
</mat-menu>
