@import "theme";

:host {
  display: flex;
}

app-button {
  padding-bottom: $padding-small;
}

::ng-deep .mat-mdc-menu-panel.mat-mdc-menu-panel.button-menu-component {
  min-width: auto !important;
  border-radius: $radius-large;

  .mat-mdc-menu-content {
    padding: $padding-smaller 0;
  }
}
