<app-button
  [buttonStyle]="buttonStyle"
  [matMenuTriggerFor]="buttonMenu"
  #menuTrigger="matMenuTrigger"
  (mouseenter)="onMouseEnter()"
  (mouseleave)="onMouseLeave()"
>
  <ng-container *ngIf="iconType">
    <app-icon [iconType]="iconType"></app-icon>
  </ng-container>
  <ng-content select="[title]"></ng-content>
  <ng-container i18n>{{ title }}</ng-container>
</app-button>

<mat-menu
  tabindex="-1"
  class="button-menu-component"
  #buttonMenu="matMenu"
  direction="down"
  yPosition="below"
  [hasBackdrop]="false"
  (mouseenter)="onMouseEnter()"
  (mouseleave)="onMouseLeave()"
>
  <span #content (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
    <ng-content></ng-content>
  </span>
</mat-menu>
