<ng-container *ngIf="(isLoading$ | async) === false">
  <app-breadcrumbs [items]="breadCrumbs$ | async"></app-breadcrumbs>

  <div class="header">
    <h4>{{ itSystemName$ | async }}</h4>
    <div class="header-buttons">
      <ng-container *ngIf="(hasEditPermission$ | async) === true">
        <app-button
          class="button-margin-right"
          *ngIf="(isSystemInUseInOrganization$ | async) === false"
          (buttonClick)="showChangeInUseStateDialog(true)"
          [disabled]="(hasUsageCreatePermission$ | async) !== true"
          i18n
          data-cy="add-usage-it-system-button"
        >
          Tag system i anvendelse
        </app-button>
        <app-button
          class="button-margin-right"
          *ngIf="(isSystemInUseInOrganization$ | async) === true"
          color="warn"
          (buttonClick)="showChangeInUseStateDialog(false)"
          [disabled]="(hasUsageDeletePermission$ | async) !== true"
          i18n
          data-cy="remove-usage-it-system-button"
          matTooltip="Test tooltip tooltiptooltiptooltip"
        >
          Fjern anvendelse
        </app-button>
        <app-button
          *ngIf="(isSystemAvailable$ | async) === false"
          class="button-margin-right"
          (buttonClick)="showDisableEnableDialog(false)"
          buttonStyle="secondary"
          i18n
          data-cy="enable-it-system-button"
        >
          Gør IT System 'Tilgængeligt'
        </app-button>
        <app-button
          *ngIf="(isSystemAvailable$ | async) === true"
          class="button-margin-right"
          buttonStyle="secondary"
          color="warn"
          (buttonClick)="showDisableEnableDialog(true)"
          i18n
          data-cy="disable-it-system-button"
        >
          Gør IT System 'Ikke tilgængeligt'
        </app-button>
      </ng-container>
      <ng-container *ngIf="(hasDeletePermission$ | async) === true">
        <app-button
          *ngIf="systemDeletionConflicts$ | async as systemDeletionConflicts"
          class="button-margin-right"
          color="warn"
          (buttonClick)="showRemoveDialog(systemDeletionConflicts)"
          [disabled]="systemDeletionConflicts.length > 0"
          i18n
          data-cy="delete-it-system-button"
          matTooltip="Test tooltip"
          >Slet IT System</app-button
        >
      </ng-container>
    </div>
  </div>
  <div class="content">
    <app-navigation-drawer>
      <app-button
        buttonStyle="tertiary"
        color="accent"
        size="large"
        [routerLink]="[AppPath.frontpage]"
        routerLinkActive="active"
        ><app-document-icon></app-document-icon>
        <ng-container i18n>Systemforside</ng-container>
      </app-button>
      <app-button
        buttonStyle="tertiary"
        color="accent"
        size="large"
        [routerLink]="[AppPath.itInterfaces]"
        routerLinkActive="active"
        ><app-systems-icon></app-systems-icon>
        <ng-container i18n>Udstillede snitflader</ng-container>
      </app-button>
      <app-button
        buttonStyle="tertiary"
        color="accent"
        size="large"
        [routerLink]="[AppPath.kle]"
        routerLinkActive="active"
        ><app-table-icon></app-table-icon>
        <ng-container i18n>KLE</ng-container>
      </app-button>
      <app-button
        buttonStyle="tertiary"
        color="accent"
        size="large"
        [routerLink]="[AppPath.externalReferences]"
        routerLinkActive="active"
        ><app-bookmark-icon></app-bookmark-icon>
        <ng-container i18n>Referencer</ng-container>
      </app-button>
    </app-navigation-drawer>

    <router-outlet></router-outlet>
  </div>
</ng-container>
<app-loading *ngIf="isLoading$ | async"></app-loading>
