<ng-container *ngIf="(isLoading$ | async) === false">
  <app-breadcrumbs [items]="breadCrumbs$ | async"></app-breadcrumbs>

  <app-details-header [title$]="itSystemName$">
    <ng-container *ngIf="(hasEditPermission$ | async) === true">
      <app-button
        class="button-margin-right"
        *ngIf="(isSystemInUseInOrganization$ | async) === false"
        (buttonClick)="showChangeInUseStateDialog(true)"
        [disabled]="(hasUsageCreatePermission$ | async) !== true || (isSystemAvailable$ | async) !== true"
        i18n
        data-cy="add-usage-it-system-button"
      >
        Tag system i anvendelse
      </app-button>
      <app-button
        class="button-margin-right"
        *ngIf="(isSystemInUseInOrganization$ | async) === true"
        color="warn"
        (buttonClick)="showChangeInUseStateDialog(false)"
        [disabled]="(hasUsageDeletePermission$ | async) !== true"
        i18n
        data-cy="remove-usage-it-system-button"
        matTooltip="Test tooltip tooltiptooltiptooltip"
      >
        Fjern anvendelse
      </app-button>
      <app-button
        *ngIf="(isSystemAvailable$ | async) === false"
        class="button-margin-right"
        (buttonClick)="showDisableEnableDialog(false)"
        buttonStyle="secondary"
        i18n
        data-cy="enable-it-system-button"
      >
        Gør IT System 'Tilgængeligt'
      </app-button>
      <app-button
        *ngIf="(isSystemAvailable$ | async) === true"
        class="button-margin-right"
        buttonStyle="secondary"
        color="warn"
        (buttonClick)="showDisableEnableDialog(true)"
        i18n
        data-cy="disable-it-system-button"
      >
        Gør IT System 'Ikke tilgængeligt'
      </app-button>
    </ng-container>
    <ng-container *ngIf="(hasDeletePermission$ | async) === true">
      <app-button
        *ngIf="systemDeletionConflicts$ | async as systemDeletionConflicts"
        color="warn"
        (buttonClick)="showRemoveDialog()"
        [disabled]="systemDeletionConflicts.length > 0"
        i18n
        data-cy="delete-it-system-button"
        [tooltip]="conflictsText$ | async"
        >Slet IT System</app-button
      >
    </ng-container>
  </app-details-header>

  <div class="content">
    <app-collapsible-navigation-drawer [items]="navigationItems"> </app-collapsible-navigation-drawer>

    <router-outlet></router-outlet>
  </div>
</ng-container>
<app-loading *ngIf="isLoading$ | async"></app-loading>
