<form [formGroup]="loginForm" (ngSubmit)="login()">
  <app-textbox text="Email" [formGroup]="loginForm" formName="email" type="email" i18n-text></app-textbox>
  <app-textbox text="Password" [formGroup]="loginForm" formName="password" type="password" i18n-text></app-textbox>

  <div class="k-form-buttons">
    <app-button type="submit" [disabled]="!loginForm.valid" i18n>Log ind</app-button>
    <kendo-label class="checkbox" text="Log mig ikke ud" i18n-text>
      <input formControlName="remember" type="checkbox" size="large" kendoCheckBox />
    </kendo-label>
  </div>
</form>
