<form [formGroup]="loginForm" (ngSubmit)="login()">
  <app-standard-vertical-content-grid>
    <div class="center-item">
      <img src="assets/img/os2kitos.svg" height="33" width="116" />
    </div>
    <h3 class="title center-item">Kitos er Kommunernes IT Overblikssystem</h3>
    <app-sso-button></app-sso-button>
    <app-sso-error *ngIf="ssoErrorCode$ | async as ssoErrorCode" [ssoErrorCode]="ssoErrorCode"></app-sso-error>
    <div class="center-item">
      <app-paragraph [dimmed]="true" i18n> eller </app-paragraph>
    </div>
    <app-textbox
      [formGroup]="loginForm"
      formName="email"
      type="email"
      showValidation="initial"
      text="Email addresse"
    ></app-textbox>
    <app-textbox
      text="Password"
      [formGroup]="loginForm"
      formName="password"
      type="password"
      showValidation="initial"
      i18n-text
    ></app-textbox>
    <app-checkbox labelPosition="after" [formGroup]="loginForm" formName="remember" text="Log mig ikke ud" i18n-text>
    </app-checkbox>
    <app-button type="submit" [disabled]="disableLoginButton()" data-cy="login-button" i18n> Log ind</app-button>
    <app-reset-password-text-link class="center-item"></app-reset-password-text-link>
  </app-standard-vertical-content-grid>
</form>
