@import "theme";

form {
  display: flex;
  flex-direction: column;
  gap: $padding-small;
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: $padding-small;
}

app-button {
  min-width: 160px;
}

:host ::ng-deep label {
  font-weight: bold;
}
