<app-accordion [title]="tabViewModel.text"
[isExpandedByDefault]="tabViewModelHasChildren()"
[checkboxInTitle]="true"
[checkboxValue]="tabViewModel.isEnabled ?? false"
[checkboxDisabled]="tabViewModel.isObligatory ?? false">
  <app-divider></app-divider>

  <div class="form-section-top-padding">
  <app-paragraph
  class="center-no-fields-text "
   i18n
    *ngIf="!tabViewModelHasChildren()">
    Tilpasning på feltniveau er endnu ikke muligt for dette faneblad.
  </app-paragraph>


    <app-form-grid [formGroup]="formGroup">
    <ng-container *ngFor="let fieldViewModel of tabViewModel.children">
      <div>
        <app-checkbox-button
        i18n-text
        labelPosition="after"
        [value]="fieldViewModel.isEnabled ?? false"
        [disabled]="fieldViewModel.isObligatory ?? false"
        (valueChange)="onCheckboxChanged({ value: $event, fullKey: fieldViewModel.fullKey })">
        <app-paragraph>
          {{ fieldViewModel.text }}
        </app-paragraph>
        </app-checkbox-button>
      <app-textbox-info *ngIf="fieldViewModel.helpText !== undefined">
      <app-paragraph paragraphSize="x-small" i18n> {{ fieldViewModel.helpText }} </app-paragraph>
    </app-textbox-info>
    </div>
    </ng-container>
  </app-form-grid>
  </div>
</app-accordion>
