<app-accordion
  title="Er der bevaringsfrist på data inden de må slettes?"
  data-cy="retention-period-accordion"
  i18n-title
>
  <form [formGroup]="formGroup">
    <app-standard-vertical-content-grid>
      <app-dropdown
        text="Er der bevaringsfrist på data inden de må slettes?"
        i18n-text
        [formGroup]="formGroup"
        formName="yesNoDontKnowControl"
        [data]="yesNoDontKnowOptions"
        data-cy="retention-period-dropdown"
        (valueChange)="patchGdpr({ retentionPeriodDefined: $event })"
      ></app-dropdown>
      <app-datepicker
        text="Dato for hvornår der må foretages sletning af data i systemet næste gang"
        i18n-text
        [disabled]="(isRetentionPeriodFalse$ | async) !== false"
        [formGroup]="formGroup"
        formName="dateControl"
        data-cy="retention-period-datepicker"
        (valueChange)="patchGdpr({ nextDataRetentionEvaluationDate: $event?.toISOString() })"
      >
      </app-datepicker>
      <app-numeric-input
        text="Antal måneder mellem sletningsdatoerne - sletningsperioder."
        i18n-text
        [disabled]="(isRetentionPeriodFalse$ | async) !== false"
        [formGroup]="formGroup"
        formName="frequencyControl"
        data-cy="retention-period-numeric-input"
        (valueChange)="patchGdpr({ dataRetentionEvaluationFrequencyInMonths: $event })"
      >
      </app-numeric-input>
    </app-standard-vertical-content-grid>
  </form>
</app-accordion>
