<app-system-relation-dialog
  [formGroup]="formGroup"
  [saveFunction]="save"
  title="Opret relation"
  saveText="Tilføj"
  >
  <app-connected-multi-select-dropdown
        text="Søg efter snitflader"
        valueField="uuid"
        [data$]="interfacesAsMultiSelectDropdownItems$"
        [isLoading$]="interfacesLoading$"
        [resetSubject$]="interfacesDropdownResetSubject$"
        (filterChange)="interfaceFilterChange($event)"
        (valueChange)="interfaceValueChange($event)"
        [includeItemDescription]="true"
        itemDescriptionField="interfaceId"
        descriptionLabelTitle="Snitflade ID'er:"
        i18n-descriptionLabelTitle
        i18n-text
      >
      </app-connected-multi-select-dropdown>
</app-system-relation-dialog>

