@use "theme";

:host ::ng-deep {
  .notification-button {
    button {
      padding: 0 !important;
      border-color: theme.$color-neutral-20 !important;
    }

    .mat-badge-content {
      color: theme.$color-white;
    }
  }
}
