<app-card>
  <app-card-header title="Systemhierarki" helpTextKey="it-system.usage.hierarchy" i18n-title></app-card-header>
  @if (isLoading$ | async) {
    <app-loading></app-loading>
  }
  @if ((isLoading$ | async) === false) {
    <div class="content">
      <app-entity-tree
        itemType="it-system"
        [currentNodeUuid]="systemUuid"
        [nodes]="(treeNodes$ | async) ?? []"
        [showExtraStatus]="true"
        [extraStatusDisplayType]="extraStatusDisplayTypeValue"
      ></app-entity-tree>
    </div>
  }
</app-card>
