.paragraph {
  line-height: 150%;
}

.paragraph-x-large {
  font-size: 24px;
}

.paragraph-large {
  font-size: 18px;
}

.paragraph-medium {
  font-size: 16px;
}

.paragraph-small {
  font-size: 14px;
}

.paragraph-x-small {
  font-size: 12px;
}
