<ng-container *ngIf="(isLoading$ | async) === false">
  <app-breadcrumbs [items]="breadCrumbs$ | async"></app-breadcrumbs>

  <div class="header">
    <h4>{{ contractName$ | async }}</h4>
    <div class="header-buttons">
      <ng-container>
        <app-button
          (buttonClick)="showDeleteDialog()"
          buttonStyle="secondary"
          color="warn"
          i18n
          data-cy="delete-contract-button"
        >
          Slet IT Kontrakt
        </app-button>
      </ng-container>
    </div>
  </div>
  <div class="content">
    <app-navigation-drawer>
      <app-button
        buttonStyle="tertiary"
        color="accent"
        size="large"
        [routerLink]="[AppPath.frontpage]"
        routerLinkActive="active"
        ><app-document-icon></app-document-icon>
        <ng-container i18n>Kontraktforside</ng-container>
      </app-button>
      <app-button
        buttonStyle="tertiary"
        color="accent"
        size="large"
        [routerLink]="[AppPath.itSystems]"
        routerLinkActive="active"
        ><app-systems-icon></app-systems-icon>
        <ng-container i18n>IT Systemer</ng-container>
      </app-button>
      <app-button
        buttonStyle="tertiary"
        color="accent"
        size="large"
        [routerLink]="[AppPath.dataProcessing]"
        routerLinkActive="active"
        ><app-folder-important-icon></app-folder-important-icon>
        <ng-container i18n>Databehandling</ng-container>
      </app-button>
      <app-button
        buttonStyle="tertiary"
        color="accent"
        size="large"
        [routerLink]="[AppPath.agreementDeadlines]"
        routerLinkActive="active"
        ><app-clipboard-icon></app-clipboard-icon>
        <ng-container i18n>Aftalefrister</ng-container>
      </app-button>
      <app-button
        buttonStyle="tertiary"
        color="accent"
        size="large"
        [routerLink]="[AppPath.economy]"
        routerLinkActive="active"
        ><app-bookmark-icon></app-bookmark-icon>
        <ng-container i18n>Økonomi</ng-container>
      </app-button>
      <app-button
        buttonStyle="tertiary"
        color="accent"
        size="large"
        [routerLink]="[AppPath.roles]"
        routerLinkActive="active"
        ><app-roles-icon></app-roles-icon>
        <ng-container i18n>Kontraktroller</ng-container>
      </app-button>
      <app-button
        buttonStyle="tertiary"
        color="accent"
        size="large"
        [routerLink]="[AppPath.hierarchy]"
        routerLinkActive="active"
        ><app-organization-icon></app-organization-icon>
        <ng-container i18n>Hierarki</ng-container>
      </app-button>
      <app-button
        buttonStyle="tertiary"
        color="accent"
        size="large"
        [routerLink]="[AppPath.notifications]"
        routerLinkActive="active"
        ><app-bookmark-icon></app-bookmark-icon>
        <ng-container i18n>Advis</ng-container>
      </app-button>
      <app-button
        buttonStyle="tertiary"
        color="accent"
        size="large"
        [routerLink]="[AppPath.externalReferences]"
        routerLinkActive="active"
        ><app-bookmark-icon></app-bookmark-icon>
        <ng-container i18n>Referencer</ng-container>
      </app-button>
    </app-navigation-drawer>

    <router-outlet></router-outlet>
  </div>
</ng-container>
<app-loading *ngIf="isLoading$ | async"></app-loading>
