<app-overview-header>
  <h3 i18n>Lokale administratorer</h3>
  <app-button (buttonClick)="exportToExcel()" buttonStyle="secondary" i18n><app-export-icon />Eksporter</app-button>
  <app-button (buttonClick)="createLocalAdmin()" i18n> Opret lokal administrator </app-button>
</app-overview-header>

<ng-container *ngIf="localAdmins$ | async as localAdmins">
  <app-local-grid
    [data]="localAdmins"
    [loading]="isLoading$ | async"
    [columns]="gridColumns"
    [deletePermission]="true"
    (deleteEvent)="deleteLocalAdmin($event)"
    exportToExcelName="Lokale administratorer"
    i18n-exportToExcelName
  >
  </app-local-grid>
</ng-container>
