<app-dialog title="Rediger organisation" i18n-title overflow="none">
  @if (isLoading$ | async) {
    <app-loading></app-loading>
  }
  @if ((isLoading$ | async) === false) {
    <app-standard-vertical-content-grid>
      <app-textbox
        text="Organisationens navn"
        i18n-text
        [formGroup]="formGroup"
        formName="name"
        data-cy="org-name"
      ></app-textbox>
      <app-dropdown
        text="Type"
        i18n-text
        [data]="organizationTypeOptions"
        [clearable]="false"
        [formGroup]="formGroup"
        formName="organizationType"
        data-cy="org-type"
      ></app-dropdown>
      <app-textbox text="CVR nummer" i18n-text [formGroup]="formGroup" formName="cvr" data-cy="org-cvr"></app-textbox>
      <app-dropdown
        text="Udenlandsk virksomhed"
        i18n-text
        [formGroup]="formGroup"
        valueField="uuid"
        textField="name"
        formName="foreignCountryCode"
        [data]="countryCodes$ | async"
        data-cy="foreign-country-code"
      ></app-dropdown>
      <div class="isms-supplier-input-container">
        <app-checkbox
          [formGroup]="formGroup"
          formName="isSupplier"
          labelPosition="after"
          text="ISMS ansvarlig"
          i18n-text
        ></app-checkbox>
        @if (enableISMSResponsibleField() === false) {
          <app-tooltip [text]="tooltipText" class="tooltip-margin">
            <app-info-icon></app-info-icon>
          </app-tooltip>
        }
      </div>
    </app-standard-vertical-content-grid>
    <app-dialog-actions>
      <app-button buttonStyle="secondary" (buttonClick)="closeDialog()" i18n>Annuller</app-button>
      <app-button (buttonClick)="onEditOrganization()" [disabled]="!canSubmit()" i18n data-cy="edit-org-dialog-button"
        >Gem</app-button
        >
      </app-dialog-actions>
    }
  </app-dialog>
