<app-overview-header>
  <h3 i18n>Brugere</h3>
  <app-filter-options-button entityType="organization-user"></app-filter-options-button>
  <app-reset-to-org-columns-config-button
    [gridColumns$]="gridColumns$"
    entityType="organization-user"
  ></app-reset-to-org-columns-config-button>
  <app-export-menu-button [exportMethod]="onExcelExport"></app-export-menu-button>
  <app-hide-show-button [columns]="gridColumns$ | async" entityType="organization-user"></app-hide-show-button>

  <app-button
    *ngIf="(hasCreatePermission$ | async) === true"
    i18n
    data-cy="create-button"
    (buttonClick)="openCreateDialog()"
    ><app-plus-icon></app-plus-icon> Opret bruger</app-button
  >
</app-overview-header>

<app-grid
  [data$]="gridData$"
  [columns$]="gridColumns$"
  exportToExcelName="Brugere Overblik"
  i18n-exportToExcelName
  [loading]="isLoading$ | async"
  [state]="gridState$ | async"
  entityType="organization-user"
  [modifyPermission]="hasModificationPermission$ | async"
  [deletePermission]="hasDeletePermission$ | async"
  (stateChange)="stateChange($event)"
  (rowIdSelect)="rowIdSelect($event)"
  (modifyEvent)="onEditUser($event)"
  (deleteEvent)="onDeleteUser($event)"
></app-grid>
