<app-card>
  <app-card-header
    title="Databehandling information"
    i18n-title
    helpTextKey="data-processing.edit-registration.main"
  ></app-card-header>

  <app-form-grid [formGroup]="frontpageFormGroup">
    <app-textbox
      text="Navn"
      i18n-text
      data-cy="dpr-name"
      [formGroup]="frontpageFormGroup"
      formName="name"
      (valueChange)="patchName($event)"
    ></app-textbox>
    <app-dropdown
      text="Dataansvarlig"
      i18n-text
      class="input-two-thirds-column-width"
      data-cy="dpr-data-responsible"
      valueField="uuid"
      [formGroup]="frontpageFormGroup"
      formName="dataResponsible"
      [data]="dataResponsibleTypes$ | async"
      (valueChange)="patchFrontPage({ general: { dataResponsibleUuid: $event } })"
    >
    </app-dropdown>
    <app-textarea
      text="Dataansvarlig bemærkning"
      class="field-all-grid-length"
      i18n-text
      data-cy="dpr-notes"
      [formGroup]="frontpageFormGroup"
      formName="dataResponsibleRemarks"
      (valueChange)="patchFrontPage({ general: { dataResponsibleRemark: $event } })"
    ></app-textarea>
    <app-textbox
      text="Status"
      i18n-text
      data-cy="dpr-status"
      [formGroup]="frontpageFormGroup"
      formName="status"
    ></app-textbox>
    <app-textbox
      text="Sidst redigeret: Bruger"
      i18n-text
      data-cy="dpr-last-changed-by"
      [formGroup]="frontpageFormGroup"
      formName="lastChangedBy"
    >
    </app-textbox>
    <app-textbox
      text="Sidst redigeret: Dato"
      i18n-text
      data-cy="dpr-last-changed-at"
      [formGroup]="frontpageFormGroup"
      formName="lastChangedAt"
    >
    </app-textbox>
    <app-dropdown
      text="Databehandleraftale er indgået"
      i18n-text
      data-cy="dpr-agreement-concluded"
      [formGroup]="frontpageFormGroup"
      formName="agreementConcluded"
      [data]="yesNoIrrelevantOptions"
      (valueChange)="patchAgreementConcluded($event)"
    ></app-dropdown>
    <app-datepicker
      text="Dato for indgåelse af databehandleraftale"
      i18n-text
      class="input-two-thirds-column-width"
      data-cy="dpr-agreement-concluded-date"
      [formGroup]="frontpageFormGroup"
      formName="agreementConclusionDate"
      (valueChange)="patchFrontPage({ general: { agreementConcludedAt: $event?.toDateString() } })"
    ></app-datepicker>
    <app-textarea
      text="Databehandleraftale bemærkning"
      class="field-all-grid-length"
      i18n-text
      data-cy="dpr-agreement-concluded-notes"
      [formGroup]="frontpageFormGroup"
      formName="agreementRemarks"
      (valueChange)="patchFrontPage({ general: { isAgreementConcludedRemark: $event } })"
    ></app-textarea>
  </app-form-grid>
</app-card>

<app-card>
  <app-card-header
    title="Overførselsgrundlag"
    i18n-title
    helpTextKey="data-processing.edit-registration.transfer-basis"
  ></app-card-header>

  <app-standard-vertical-content-grid>
    <app-form-grid [formGroup]="transferBasisFormGroup">
      <app-dropdown
        text="Overførselsgrundlag"
        class="input-two-thirds-column-width"
        valueField="uuid"
        i18n-text
        data-cy="dpr-transfer-basis"
        [formGroup]="transferBasisFormGroup"
        formName="transferBasis"
        [data]="basisForTransferTypes$ | async"
        (valueChange)="patchFrontPage({ general: { basisForTransferUuid: $event } })"
      >
      </app-dropdown>
      <app-radio-buttons
        text="Overførsel til usikkert 3. land"
        i18n-text
        data-cy="dpr-tranfer-to-3rd-country"
        [formGroup]="transferBasisFormGroup"
        formName="transferTo3rdCountry"
        [options]="yesNoOptions"
        (valueChange)="patchTransferTo3rdCountryValue($event)"
      ></app-radio-buttons>
    </app-form-grid>
    <app-third-countries-table *ngIf="(isTransferTo3rdCountryTrue$ | async) === true"></app-third-countries-table>
  </app-standard-vertical-content-grid>
</app-card>

<app-card>
  <app-card-header
    title="Databehandlere"
    i18n-title
    helpTextKey="data-processing.edit-registration.processors"
  ></app-card-header>

  <app-processors-table></app-processors-table>
</app-card>

<app-card>
  <app-card-header
    title="Underdatabehandlere"
    i18n-title
    helpTextKey="data-processing.edit-registration.subprocessors"
  ></app-card-header>

  <app-standard-vertical-content-grid>
    <app-form-grid [formGroup]="subprocessorsFormGroup">
      <app-radio-buttons
        class="field-all-grid-length"
        i18n-text
        data-cy="dpr-subprocessors-yes-no"
        [formGroup]="subprocessorsFormGroup"
        formName="hasSubDataProcessors"
        [options]="yesNoOptions"
        (valueChange)="patchHasSubprocessorsValue($event)"
      ></app-radio-buttons>
    </app-form-grid>
    <app-sub-processors-table *ngIf="(isHasSubprocessorsTrue$ | async) === true"></app-sub-processors-table>
  </app-standard-vertical-content-grid>
</app-card>
