@import "theme";
@import "mixins";

@include grid-style;

.grid-outline {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: $padding-small;
  padding-top: 0;
}

:host ::ng-deep {
  tr {
    cursor: default !important;
  }
}
