<app-segment [buttons]="segmentOptions" [(selected)]="selected"></app-segment>

@if ((outgoingRelationsEnabled$ | async) && selected === ItSystemUsageRelationSegmentOption.Outgoing) {
  <app-card>
    <app-card-header
      title="'{{ usageName$ | async }}' har følgende relationer til andre systemer/snitflader"
      helpTextKey="it-system.usage.relation"
      i18n-title
      >
    </app-card-header>
    @if ((isUsageLoading$ | async) === false) {
      <app-standard-vertical-content-grid>
        @if (usageRelations$ | async; as usageRelations) {
          <app-relation-grid
            [relations]="usageRelations"
            [isOutgoing]="true"
            [hasModifyPermissions]="(hasModifyPermission$ | async) ?? false"
            [modifyPermissions$]="hasModifyPermission$"
            emptyText="Endnu ingen relationer tilføjet fra '{{ usageName$ | async }}' til andre systemer/snitflader"
            i18n-emptyText
            >
          </app-relation-grid>
        }
        @if (hasModifyPermission$ | async) {
          <app-collection-extension-button
            text="Opret relation"
            (clicked)="onAddNew()"
            i18n-text
            >
          </app-collection-extension-button>
        }
      </app-standard-vertical-content-grid>
    }
    @if (isUsageLoading$ | async) {
      <app-loading></app-loading>
    }
  </app-card>
}

@if ((incomingRelationsEnabled$ | async) && selected === ItSystemUsageRelationSegmentOption.Incoming) {
  <app-card>
    <app-card-header
      title="Andre systemer har følgende relationer til '{{ usageName$ | async }}'"
      helpTextKey="it-system.usage.relations-used-by"
      i18n-title
      >
    </app-card-header>
    @if ((isIncomingRelationsLoading$ | async) === false) {
      @if (incomingRelations$ | async; as incomingRelations) {
        <app-relation-grid
          [relations]="incomingRelations"
          [hasModifyPermissions]="(hasModifyPermission$ | async) ?? false"
          emptyText="Ingen relationer fra andre systemer til '{{ usageName$ | async }}' fundet"
          i18n-emptyText
          >
        </app-relation-grid>
      }
    }
    @if (isIncomingRelationsLoading$ | async) {
      <app-loading></app-loading>
    }
  </app-card>
}
