<ng-container *ngIf="(usageIsLoading$ | async) === false">
  <div class="relations-card-root-element" *ngIf="usageName$ | async as usageName">
    <app-card>
      <app-card-header
        title="'{{ usageName }}' har følgende relationer til andre systemer/snitflader"
        helpTextKey="it-system.usage.relations-exhibitor"
        i18n-title
      >
      </app-card-header>

      <app-relation-table
        *ngIf="usageRelations$ | async as usageRelations"
        [relations]="usageRelations"
        [isLoading]="(usageIsLoading$ | async) ?? true"
        [isOutgoing]="true"
        [hasModifyPermissions]="(hasModifyPermission$ | async) ?? false"
        emptyText="Endnu ingen relationer tilføjet fra '{{ usageName }}' til andre systemer/snitflader"
        i18n-emptyText
      >
      </app-relation-table>
      <div class="margin-top-large" *ngIf="hasModifyPermission$ | async">
        <app-collection-extension-button text="Opret relation" (clicked)="onAddNew()" i18n-text>
        </app-collection-extension-button>
      </div>
    </app-card>

    <app-card>
      <app-card-header
        title="Andre systemer har følgende relationer til '{{ usageName }}'"
        helpTextKey="it-system.usage.relations-used-by"
        i18n-title
      >
      </app-card-header>

      <app-relation-table
        *ngIf="incomingRelations$ | async as incomingRelations"
        [isLoading]="(isLoadingIncomingRelations$ | async) ?? true"
        [relations]="incomingRelations"
        [hasModifyPermissions]="(hasModifyPermission$ | async) ?? false"
        emptyText="Ingen relationer fra andre systemer til '{{ usageName }}' fundet"
        i18n-emptyText
      >
      </app-relation-table>
    </app-card>
  </div>
</ng-container>
<app-loading *ngIf="usageIsLoading$ | async"></app-loading>
