@if (contractUuid$ | async; as contractUuid) {
  <app-dialog title="Slet kontrakt" i18n-title data-cy="confirm-dialog">
    <app-standard-vertical-content-grid>
      @if (subHierarchy$ | async; as hierarchy) {
        <div class="text-container">
          @if (hierarchy.length > 1) {
            <app-paragraph paragraphSize="medium" i18n
              >Er du sikker på du vil slette denne kontrakt? Kontraktens underordnede kontrakter vil blive slettet sammen
          med den. De underordnede kontrakter kan også overføres til en anden kontrakt.
        </app-paragraph>
          }
          @if (hierarchy.length <= 1) {
            <app-paragraph paragraphSize="medium" i18n
              >Er du sikker på, at du vil slette kontrakten?</app-paragraph
              >
            }
          </div>
        }
      </app-standard-vertical-content-grid>
      <app-dialog-actions>
        <app-button buttonStyle="secondary" (buttonClick)="cancel()" [disabled]="isLoading" size="large" i18n
          >Nej</app-button
          >
          @if (subHierarchy$ | async; as hierarchy) {
            @if (hierarchy.length > 1) {
              <app-button
                (buttonClick)="openTransferDialog(contractUuid)"
                [disabled]="isLoading"
                buttonStyle="secondary"
                color="warn"
                size="large"
                i18n
                data-cy="transfer-contracts-button"
                >Overfør kontrakter</app-button
                >
              }
            }
            <app-button (buttonClick)="confirm()" color="warn" data-cy="confirm-button" [disabled]="isLoading" size="large" i18n
              >Ja</app-button
              >
            </app-dialog-actions>
          </app-dialog>
        }
