<app-dialog title="Slet kontrakt" i18n-title data-cy="confirm-dialog" *ngIf="contractUuid$ | async as contractUuid">
  <app-standard-vertical-content-grid>
    <div *ngIf="subHierarchy$ | async as hierarchy" class="text-container">
      <ng-container *ngIf="hierarchy.length > 1">
        <app-paragraph paragraphSize="medium" i18n
          >Er du sikker på du vil slette denne kontrakt? Kontraktens underordnede kontrakter vil blive slettet sammen
          med den. De underordnede kontrakter kan også overføres til en anden kontrakt.
        </app-paragraph>
      </ng-container>
      <app-paragraph *ngIf="hierarchy.length <= 1" paragraphSize="medium" i18n
        >Er du sikker på, at du vil slette kontrakten?</app-paragraph
      >
    </div>
  </app-standard-vertical-content-grid>
  <app-dialog-actions>
    <app-button buttonStyle="secondary" (buttonClick)="cancel()" [disabled]="isLoading" size="large" i18n
      >Nej</app-button
    >
    <ng-container *ngIf="subHierarchy$ | async as hierarchy">
      <app-button
        *ngIf="hierarchy.length > 1"
        (buttonClick)="openTransferDialog(contractUuid)"
        [disabled]="isLoading"
        buttonStyle="secondary"
        color="warn"
        size="large"
        i18n
        data-cy="transfer-contracts-button"
        >Overfør kontrakter</app-button
      >
    </ng-container>
    <app-button (buttonClick)="confirm()" color="warn" data-cy="confirm-button" [disabled]="isLoading" size="large" i18n
      >Ja</app-button
    >
  </app-dialog-actions>
</app-dialog>
