<app-segment [buttons]="showingOptions" [(selected)]="selected"></app-segment>
@if (selected === 'organization') {
  <app-local-admin-import-organization
    [helpTextKey]="baseHelpTextKey + '.organization'"
  ></app-local-admin-import-organization>
}
@if (selected === 'users') {
  <app-local-admin-base-excel-import
    [type]="usersType"
    [helpTextKey]="baseHelpTextKey + '.users'"
  ></app-local-admin-base-excel-import>
}
@if (selected === 'contracts') {
  <app-local-admin-base-excel-import
    [type]="contractsType"
    [helpTextKey]="baseHelpTextKey + '.contracts'"
  ></app-local-admin-base-excel-import>
}
