@if (column.style === 'default' || column.style === undefined) {
  <app-text-cell
    [column]="column"
    [dataItem]="dataItem"
  ></app-text-cell>
}

@if (column.style === 'chip' || column.style === 'reverse-chip') {
  <app-status-cell
    [column]="column"
    [dataItem]="dataItem"
    >
  </app-status-cell>
}

@if (column.style === 'integer-with-thousands-separator') {
  <app-thousand-seperator-cell
    [column]="column"
    [dataItem]="dataItem"
    >
  </app-thousand-seperator-cell>
}

@if (column.style === 'default-wrap') {
  <app-default-wrap-cell [column]="column" [dataItem]="dataItem">
  </app-default-wrap-cell>
}

@if (column.style === 'primary') {
  <app-primary-cell [column]="column" [dataItem]="dataItem"> </app-primary-cell>
}

@if (column.style === 'boolean') {
  <app-boolean-cell [column]="column" [dataItem]="dataItem"> </app-boolean-cell>
}

@if (column.style === 'date') {
  <app-date-cell [column]="column" [dataItem]="dataItem"> </app-date-cell>
}

@if (column.style === 'enum') {
  <app-enum-cell [column]="column" [dataItem]="dataItem"> </app-enum-cell>
}

@if (column.style === 'enum-array'){
  <app-enum-array-cell [column]="column" [dataItem]="dataItem"> </app-enum-array-cell>
}

@if (column.style === 'link') {
  <app-link-cell [column]="column" [dataItem]="dataItem"> </app-link-cell>
}

@if (column.style === 'title-link' && column.idField) {
  <app-title-link-cell
    [column]="column"
    [dataItem]="dataItem"
  ></app-title-link-cell>
}

@if (column.style === 'page-link' && column.idField) {
  <app-page-link-cell
    [column]="column"
    [dataItem]="dataItem"
  ></app-page-link-cell>
}

@if (column.style === 'checkbox') {
  <app-checkbox-cell
    [column]="column"
    [dataItem]="dataItem"
    [createPermission]="createPermission"
    (checkboxChange)="onCheckboxChange($event)"
    >
  </app-checkbox-cell>
}

@if (column.style === 'usages') {
  <app-usages-cell [column]="column" [dataItem]="dataItem"></app-usages-cell>
}

@if (column.style === 'page-link-array' || column.style === 'page-link-array-with-submodules') {
  <app-page-link-array-cell
    [column]="column"
    [dataItem]="dataItem"
  ></app-page-link-array-cell>
}

@if (column.style === 'uuid-to-name') {
  <app-uuid-to-name-cell
    [column]="column"
    [dataItem]="dataItem"
  ></app-uuid-to-name-cell>
}

@if (column.style === 'contract-audit') {
  <app-audit-cell [column]="column" [dataItem]="dataItem"></app-audit-cell>
}

@if (column.style === 'contract-status-chip') {
  <app-contract-status-chip-cell
    [column]="column"
    [dataItem]="dataItem"
  ></app-contract-status-chip-cell>
}

@if (column.style === 'action-buttons' && (modifyPermission || deletePermission)) {
  <app-action-buttons-cell
    [column]="column"
    [dataItem]="dataItem"
    [modifyPermission]="modifyPermission"
    [deletePermission]="deletePermission"
    [deleteIcon]="deleteIcon"
    (toggleEvent)="onToggleEvent($event)"
    (modifyEvent)="onModifyEvent()"
    (deleteEvent)="onDeleteEvent()"
  ></app-action-buttons-cell>
}
