@use "theme";

li {
  width: inherit;
  display: flex;
  align-items: center;
  gap: theme.$padding-medium;
  padding: 14px;
  margin: 0 theme.$padding-smaller;
  font-size: 16px;
  color: theme.$color-neutral-dark;
  cursor: pointer;

  &:hover {
    background: theme.$color-primary-10 !important;
    border-radius: theme.$radius-large;
  }
}
