<app-segment [buttons]="segmentOptions" [(selected)]="selectedSegment"> </app-segment>

<app-card>
  <app-organizations-grid *ngIf="selectedSegment === LocalAdminOrganizationSegmentOption.Organizations">
  </app-organizations-grid>

  <ng-container *ngIf="selectedSegment === LocalAdminOrganizationSegmentOption.Roles">
    <app-overview-header>
      <h3 i18n>Organisationsroller i din organisation</h3>
    </app-overview-header>
    <app-local-option-type-table
      optionType="organization-unit"
      i18n-title
      [disableAccordion]="true"
      [expandedByDefault]="true"
    >
    </app-local-option-type-table>
  </ng-container>
</app-card>
