<app-segment [buttons]="segmentOptions" [(selected)]="selectedSegment"> </app-segment>

<app-card>
  <app-organizations-grid *ngIf="selectedSegment === LocalAdminOrganizationSegmentOption.Organizations">
  </app-organizations-grid>

  <app-option-type-table
    *ngIf="selectedSegment === LocalAdminOrganizationSegmentOption.Roles"
    type="organization-unit"
    title="Roller i din orginsation"
    i18n-title
    [disableAccordion]="true"
    [expandedByDefault]="true"
  >
  </app-option-type-table>
</app-card>
