<app-standard-vertical-content-grid data-cy="countries-table">
  @if (anyThirdCountries$ | async) {
    <app-native-table>
      <thead>
        <th i18n>Navn</th>
      </thead>
      <tbody>
        @for (thirdCountry of thirdCountries$ | async; track thirdCountry) {
          <tr>
            <td>
              <app-content-space-between>
                <app-paragraph paragraphSize="medium">{{ thirdCountry.name }}</app-paragraph>
                @if ((hasModifyPermissions$ | async) === true) {
                  <app-icon-button
                    (buttonClick)="onDeleteCountry(thirdCountry.uuid)"
                    data-cy="delete-country-button"
                    ><app-trashcan-icon></app-trashcan-icon
                  ></app-icon-button>
                }
              </app-content-space-between>
            </td>
          </tr>
        }
      </tbody>
    </app-native-table>
  }
  @if ((anyThirdCountries$ | async) === false) {
    <app-empty-state
      text="Ingen lande tilføjet endnu"
      context="emptyTable"
      i18n-text
    ></app-empty-state>
  }
  @if ((hasModifyPermissions$ | async) === true) {
    <app-collection-extension-button
      (clicked)="onAddNewCountry()"
      text="Tilføj land"
      data-cy="add-country-button"
      i18n-text
    ></app-collection-extension-button>
  }
</app-standard-vertical-content-grid>
