<div *ngIf="formGroup" [formGroup]="formGroup">
  <ng-select
    class="{{ size }}"
    [formControlName]="formName"
    [placeholder]="text"
    [items]="data ?? []"
    [bindLabel]="textField"
    [loading]="loading || false"
    [clearAllText]="clearAllText"
    [loadingText]="loadingText"
    [notFoundText]="notFoundText"
    [searchFn]="searchFn"
    [appendTo]="appendTo"
    (search)="filter$.next($event.term)"
    (change)="formSelectionChange($event)"
    (clear)="onClear()"
    (focus)="onFocus()"
    (open)="onOpen()"
    (blur)="onBlur()"
  >
    <ng-template ng-option-tmp let-item="item">
      <ng-container *ngIf="!includeItemDescription || !item.description">
        {{ item[textField] }}
      </ng-container>
      <div *ngIf="item.description && includeItemDescription" class="description">
        {{ item[textField] }}
        <app-paragraph *ngIf="item.description && includeItemDescription" paragraphSize="small">{{
          item.description
        }}</app-paragraph>
      </div>
    </ng-template>
    <ng-template *ngIf="showSearchHelpText && !!!(filter$ | async)" ng-footer-tmp>
      <app-paragraph paragraphSize="x-small" i18n>Brug søgning for at få flere resultater</app-paragraph>
    </ng-template>
  </ng-select>
</div>

<ng-select
  *ngIf="!formGroup"
  class="{{ size }}"
  [placeholder]="text"
  [items]="data ?? []"
  [bindLabel]="textField"
  [loading]="loading || false"
  [readonly]="disabled"
  [clearAllText]="clearAllText"
  [loadingText]="loadingText"
  [notFoundText]="notFoundText"
  [(ngModel)]="value"
  [appendTo]="appendTo"
  (search)="filter$.next($event.term)"
  (change)="valueChange.emit($event)"
  (clear)="onClear()"
>
  <ng-template ng-option-tmp let-item="item">
    <ng-container *ngIf="!includeItemDescription || !item.description">
      {{ item[textField] }}
    </ng-container>
    <div *ngIf="item.description && includeItemDescription" class="description">
      {{ item[textField] }}
      <app-paragraph *ngIf="item.description && includeItemDescription" paragraphSize="small">{{
        item.description
      }}</app-paragraph>
    </div>
  </ng-template>
  <ng-template *ngIf="showSearchHelpText && !!!(filter$ | async)" ng-footer-tmp>
    <app-paragraph paragraphSize="x-small" i18n>Brug søgning for at få flere resultater</app-paragraph>
  </ng-template>
</ng-select>

<app-textbox-info *ngIf="description">
  <app-paragraph paragraphSize="x-small">{{ description }}</app-paragraph>
</app-textbox-info>
