@use "theme";
@use "mixins";

@include mixins.ng-select-default-style;

.description {
  margin-top: theme.$padding-small;
  margin-bottom: theme.$padding-small;
  line-height: 110%;
}

ng-select {
  font-size: large;
  @include mixins.input-background-white;
}

@include mixins.ng-select-medium-styles;
