@import "theme";
@import "mixins";

mat-toolbar {
  position: sticky;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  top: 0;
  bottom: auto;
  z-index: 1000;
  height: $navbar-height;
  padding: 0 $padding-large;
  background-color: $color-white;
  @include elevation(4, $color-neutral-80);

  & > span {
    display: flex;
    align-items: center;
  }
}

.separator {
  width: 1px;
  height: $navbar-height - 2 * $padding-medium;
  margin-left: $padding-large;
  background-color: $color-neutral-20;
}

kendo-badge {
  background-color: $color-negative;
  border-color: $color-negative;
}

.user-menu {
  text-align: left;

  p {
    margin: 0;
  }

  p:last-child {
    margin: 0;
    font-weight: normal;
    font-size: 14px;
  }
}

.logout-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

:host ::ng-deep {
  .notification-button button {
    padding: 0 !important;
    border-color: $color-neutral-20 !important;
  }
}
