<kendo-appbar position="top" positionMode="sticky">
  <kendo-appbar-section (click)="navigate(AppPath.root)" class="logo-appbar-section">
    <img src="assets/img/os2kitos.svg" height="33" width="116" />
  </kendo-appbar-section>

  <ng-container *ngIf="user$ | async as user">
    <kendo-appbar-spacer></kendo-appbar-spacer>

    <kendo-appbar-section>
      <kendo-menu [items]="navItems">
        <ng-template kendoMenuItemLinkTemplate let-item="item" let-index="index">
          <span [kendoMenuItemLink]="index" [routerLink]="[item.path]" routerLinkActive="active" class="menu-item">
            <app-table-icon *ngIf="item.icon === 'table'"></app-table-icon>
            {{ item.text }}
            <app-chevron-down-icon *ngIf="item.items && item.items.length"></app-chevron-down-icon>
          </span>
        </ng-template>
      </kendo-menu>
    </kendo-appbar-section>

    <kendo-appbar-spacer></kendo-appbar-spacer>

    <kendo-appbar-section>
      <kendo-badge-container>
        <app-button buttonStyle="outline" [faded]="true">
          <app-notification-icon></app-notification-icon>
        </app-button>
        <kendo-badge rounded="full">32</kendo-badge>
      </kendo-badge-container>

      <span class="k-appbar-separator"></span>

      <kendo-menu class="user-menu">
        <kendo-menu-item>
          <kendo-menu-item>
            <ng-template kendoMenuItemLinkTemplate let-item="item" let-index="index">
              <span
                [kendoMenuItemLink]="index"
                [routerLink]="[AppPath.profile]"
                routerLinkActive="active"
                class="menu-item"
                i18n
              >
                Min profil
              </span>
            </ng-template>
          </kendo-menu-item>
          <kendo-menu-item *ngIf="hasMultipleOrganizations$ | async">
            <ng-template kendoMenuItemLinkTemplate let-item="item" let-index="index">
              <span [kendoMenuItemLink]="index" class="menu-item" (click)="showOrganizationDialog()" i18n>
                Skift organisation
              </span>
            </ng-template>
          </kendo-menu-item>
          <kendo-menu-item [separator]="true"> </kendo-menu-item>
          <kendo-menu-item>
            <ng-template kendoMenuItemLinkTemplate let-item="item" let-index="index">
              <span
                [kendoMenuItemLink]="index"
                [routerLink]="[AppPath.root]"
                routerLinkActive="active"
                class="menu-item menu-item-logout"
                (click)="logout()"
                i18n
              >
                Log ud
                <app-logout-icon></app-logout-icon>
              </span>
            </ng-template>
          </kendo-menu-item>
          <ng-template kendoMenuItemLinkTemplate let-item="item" let-index="index">
            <span
              [kendoMenuItemLink]="index"
              [routerLink]="[AppPath.profile]"
              routerLinkActive="active"
              class="menu-item"
            >
              <div class="user-menu-item">
                <ng-container>{{ user.fullName }}</ng-container>
                <p class="subtitle">{{ organizationName$ | async }}</p>
              </div>
              <app-chevron-down-icon></app-chevron-down-icon>
            </span>
          </ng-template>
        </kendo-menu-item>
      </kendo-menu>
    </kendo-appbar-section>
  </ng-container>
</kendo-appbar>

<app-env-ribbon *appHideInProd></app-env-ribbon>
