<app-segment [buttons]="segmentOptions" [(selected)]="selectedSegment"> </app-segment>

<app-card>
  <ng-container *ngIf="selectedSegment === LocalAdminSystemUsagesSegmentOptions.UiCustomization">

    <ng-container *ngIf="uiConfigNodeViewModels$ | async as uiConfigNodeViewModels">
      <app-ui-config-tab-section *ngFor="let tabViewModel of uiConfigNodeViewModels[0].children"
        [tabViewModel]="tabViewModel"
        [formGroup]="itSystemUsageFrontpageForm">
      </app-ui-config-tab-section>
    </ng-container>
  </ng-container>

  <ng-container *ngIf="selectedSegment === LocalAdminSystemUsagesSegmentOptions.OptionTypes">
  </ng-container>
</app-card>


