<app-card>
  <app-card-header title="Rapport over brudte links" i18n-title></app-card-header>
  @if ((isLoading$ | async) === false) {
    <app-standard-vertical-content-grid>
      @if (status$ | async; as status) {
        @if (status.available) {
          <app-paragraph> <strong i18n>Oprettet: </strong>{{ status.createdDate | appDate }} </app-paragraph>
          <app-paragraph> <strong i18n>Antal registrerede fejl: </strong>{{ status.brokenLinksCount }} </app-paragraph>
          <div class="action-buttons">
            <app-button (buttonClick)="downloadReport()" i18n data-cy="get-broken-links-button"
              >Hent rapporten</app-button
              >
            </div>
          }
          @if (status.available === false) {
            <app-paragraph i18n
              >Rapporten over brudte links er endnu ikke tilgængelig. Forventet tilgængelighed er "Mandag i næste uge".
      </app-paragraph>
          }
        }
      </app-standard-vertical-content-grid>
    }
    @if (isLoading$ | async) {
      <app-loading></app-loading>
    }
  </app-card>
