<app-scrollbar-dialog [title]="title">
  <app-standard-vertical-content-grid>
    <ng-container *ngIf="(isLoading$ | async) !== true">
      <app-drag-and-drop-tree
        *ngIf="snapshot$ | async as snapshot"
        itemType="organization"
        [currentNodeUuid]="snapshot.uuid"
        [nodes]="(snapshotTree$ | async) ?? []"
        [disableDrag]="true"
        (nodeExpandClick)="nodeExpandClick($event)"
        [maxLevel]="0"
      ></app-drag-and-drop-tree>
    </ng-container>
    <app-loading *ngIf="isLoading$ | async"></app-loading>
  </app-standard-vertical-content-grid>
  <app-dialog-actions>
    <app-button>Gennemfør synkronisering</app-button>
    <app-button color="warn">Annuler</app-button>
  </app-dialog-actions>
</app-scrollbar-dialog>
