@use "theme";

.import-units-card-adjust-bottom-margin {
  margin-bottom: 0 !important;
  padding: theme.$padding-medium !important;
}

.levels-margin-bottom {
  margin-bottom: 2px;
}

.configuration-margin-bottom {
  margin-bottom: theme.$padding-medium;
}

.consequences-header-container {
  margin-bottom: theme.$padding-medium;
}

.overflow-hidden {
  overflow: hidden;
}
