@import "theme";

.import-units-card-adjust-bottom-margin {
  margin-bottom: 0 !important;
  padding: $padding-medium !important;
}

.levels-margin-bottom {
  margin-bottom: 2px;
}

.configuration-margin-bottom {
  margin-bottom: $padding-medium;
}

.consequences-header-container {
  margin-bottom: $padding-medium;
}
