@import "theme";

.chip {
  font-weight: bold;
  border: 1px solid $color-positive-light;
  margin: auto;
  padding: 8px 8px 8px 8px;
  background-color: $color-positive-lighter;
  color: $color-positive-dark;
  cursor: inherit;
  font-size: 14px;
  line-height: 130%;
  outline: 0;
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  user-select: none;

  &:before {
    content: "";
    height: 8px;
    width: 8px;
    background-color: $color-positive;
    border-radius: 50%;
    display: inline-block;
  }

  &.chip-error {
    border: 1px solid $color-negative-light;
    background-color: $color-negative-lighter;
    color: $color-negative-dark;

    &:before {
      background-color: $color-negative;
    }
  }

  &.chip-neutral {
    border: 1px solid $color-neutral-40;
    background-color: $color-neutral-20;
    color: $color-neutral-80;

    &:before {
      background-color: $color-neutral-60;
    }
  }
}
