@import "theme";

.invisible {
  display: none;
}

.mat-tree {
  font-family: $app-font;
  padding: $padding-small;
  padding-left: unset;
}

.mat-tree-node {
  min-height: unset;
}

.root-node-container {
  background-color: red;
}

.node-green {
  background-color: $color-positive-light;
  border-color: $color-positive-light;

  ::ng-deep {
    a {
      color: $color-positive !important;
    }
  }
}

.node-blue {
  background-color: $color-primary-20;
  border-color: $color-primary-20;
}

.node-wrapper {
  position: relative;
  min-height: unset;
  border-radius: $radius-large;
  border-width: 1px;
  border-style: solid;
  padding: $padding-small;
  z-index: 50;
  margin: 0px;
}

.current-node-blue {
  background-color: $color-primary;
  border-color: $color-primary;

  ::ng-deep {
    a {
      color: $color-white !important;
    }
  }
}

.current-node-green {
  background-color: $color-positive;
  border-color: $color-positive;

  ::ng-deep {
    a {
      color: $color-white !important;
    }
  }
}

//Padding for when tree has no collapse/expand controls
.mat-nested-tree-node div[role="group"] {
  padding-left: 48px;
}

div[role="group"] > .mat-tree-node {
  padding-left: 48px;
}

.mat-mdc-icon-button {
  z-index: 100;
  left: -4px;
  top: -10px;

  --mat-mdc-button-ripple-color: transparent;
  --mat-mdc-button-persistent-ripple-color: transparent;

  ::ng-deep {
    svg {
      color: $color-primary;
      background-color: $color-white;
      border: 2px solid $color-primary-20;
      border-radius: 10px;
      position: relative;
    }
  }
}

app-status-chip {
  margin-left: $padding-medium;
  float: right;
}

app-details-page-link {
  float: left;
  padding: $padding-smaller;
}
app-paragraph {
  float: left;
  padding: $padding-smaller;
}

/*
  DRAW CONNECTING LINES BETWEEN TREE ELEMENTS
*/

//Setting position relative on child nodes to allow connecting left-lines
.node .child-node {
  position: relative;
}

//preparing for drawing lines by setting position absolute wrt. owner element
.node .child-node::before,
.node .child-node::after {
  position: absolute;
  right: auto;
  left: 21px;
  content: "";
}

//Set the border left of each child-node in the tree (root does not get one as it has no parent)
.node .child-node::before {
  top: -16px;
  bottom: 48px;
  width: 1px;
  height: 100%;
  border-left: 2px solid $color-primary-20;
}

//Place line left of each node
.node-wrapper::before {
  border-top: 2px solid $color-primary-20;
  width: 27px;
  content: "";
  position: absolute;
  top: 24px;
  left: -28px;
  z-index: 100;
}

//Remove the line left of the node if the root node is also a leaf node (there will be no toggle control)
.root-node.leaf-node .node-wrapper::before {
  border-top: unset;
  content: unset;
}

//Limit length of left border to only reach the child on the last child
.node .child-node:last-child::before {
  height: 51px;
  top: -24px;
}

//Space between rows
.node-wrapper,
app-status-chip {
  margin-bottom: $padding-medium;
}

.example-custom-placeholder {
  background: #ccc;
  border: dotted 3px #999;
  min-height: 60px;
  width: 100%;
  box-sizing: border-box;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

/* items moving away to make room for drop */
.cdk-drop-list-dragging .mat-tree-node:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
/* item being dropped */
.cdk-drag-animating {
  transition: transform 200ms cubic-bezier(0, 0, 0.2, 1);
}
