@import "theme";

.invisible {
  display: none;
}

.mat-tree {
  font-family: $app-font;
  padding: $padding-small;
}

.mat-tree-node {
  min-height: unset;
  margin-bottom: $padding-medium;
}

.node-wrapper {
  position: relative;
  min-height: unset;
  border-radius: $radius-large;
  background-color: $color-primary-20;
  border-color: $color-primary-20;
  border-width: 1px;
  border-style: solid;
  padding: $padding-small;
  z-index: 50;
}

.current-node {
  background-color: $color-primary;
  border-color: $color-primary;

  ::ng-deep {
    a {
      color: $color-white !important;
    }
  }
}

//Padding for when tree has no collapse/expand controls
.mat-nested-tree-node div[role="group"] {
  padding-left: 48px;
}

div[role="group"] > .mat-tree-node {
  padding-left: 48px;
}

.mat-mdc-icon-button {
  z-index: 100;
  left: -5px;

  --mat-mdc-button-ripple-color: transparent;
  --mat-mdc-button-persistent-ripple-color: transparent;

  ::ng-deep {
    svg {
      color: $color-primary;
      background-color: $color-white;
      border: 2px solid $color-primary-40;
      border-radius: 5px;
    }
  }
}

app-status-chip {
  margin-left: $padding-medium;
  float: right;
}

app-details-page-link {
  float: left;
  padding: $padding-smaller;
}

.child-nodes {
  position: relative;
}

.child-nodes::before,
.child-nodes::after {
  position: absolute;
  right: auto;
  left: 68px;
  content: "";
}

.child-nodes::before {
  top: -16px;
  bottom: 48px;
  width: 1px;
  height: 100%;
  border-left: 2px solid $color-primary-40;
}

.child-nodes .mat-nested-tree-node:last-child::before {
  height: 41px;
}

.child-nodes .mat-tree-node:last-child::before {
  height: 41px;
}

.child-nodes::after {
  // top: 24px;
  bottom: -0px;
  width: 48px;
  height: 15px;
  border-top: 2px solid $color-primary-40;
}
