@import "theme";
$animationSpeed: 250ms;

.notification {
  display: flex;
  align-items: center;
  padding: $padding-medium;
  border-radius: $radius-small;
  border-left: 4px solid $color-primary-base;
  background-color: $color-white;
  color: $color-neutral;
  margin-top: $padding-medium;
  box-shadow: 0px 1px 4px rgba(31, 59, 97, 0.08), 0px 4px 16px rgba(31, 59, 97, 0.16);
  visibility: hidden;
  transition: visibility $animationSpeed ease-in-out;
}

.notification-fade {
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  &-in {
    visibility: visible;
    animation: fadeInAnimation ease $animationSpeed;
    -webkit-animation: fadeInAnimation ease $animationSpeed;
  }

  &-out {
    animation: fadeOutAnimation ease $animationSpeed;
    -webkit-animation: fadeOutAnimation ease $animationSpeed;
    visibility: hidden;
  }
}

@keyframes fadeOutAnimation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadeOutAnimation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.notification-type-error {
  border-color: $color-negative;
}

p {
  margin: 0;
  padding: 0 $padding-small;
}
