<app-card i18n-title>
  <app-card-header title="Via FK Organisation"></app-card-header>
  @if ((isLoadingConnectionStatus$ | async) === false) {
    <app-standard-vertical-content-grid>
      <div>
        <app-paragraph helpTextKey="local-config-fk-org-status.label" [bold]="true" i18n>Adgang</app-paragraph>
        @if (accessGranted$ | async) {
          <app-paragraph i18n
            >KITOS har adgang til organisationens data via FK Organisation</app-paragraph
            >
          }
          @if ((accessGranted$ | async) === false) {
            <app-paragraph i18n
              >KITOS har <strong>ikke</strong> adgang til organisationens data via FK Organisation</app-paragraph
              >
            }
            @if (accessError$ | async; as accessError) {
              <app-paragraph color="error">{{ accessError }}</app-paragraph>
            }
          </div>
          <div>
            <app-paragraph helpTextKey="local-config-fk-org-sync-status.label" [bold]="true" i18n
              >Synkronisering</app-paragraph
              >
              @if (isConnected$ | async) {
                <app-standard-vertical-content-grid>
                  @if (synchronizationStatus$ | async; as synchronizationStatus) {
                    <app-native-table
                      [withOutline]="true"
                      class="table-margin"
                      >
                      <thead>
                        <th width="33%" i18n>Niveauer der synkroniseres</th>
                        <th width="33%" i18n>Tjekker automatisk (hver mandag nat) efter ventende opdateringer</th>
                        <th width="33%" i18n>Dato for seneste automatiske tjek</th>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                            <app-paragraph paragraphSize="small">
                              @if (synchronizationStatus.synchronizationDepth === null) {
                                <ng-container i18n> Alle </ng-container>
                              }
                              @if (synchronizationStatus.synchronizationDepth !== null) {
                                {{ synchronizationStatus.synchronizationDepth }}
                              }
                            </app-paragraph>
                          </td>
                          <td>
                            <app-paragraph paragraphSize="small">
                              @if (synchronizationStatus.subscribesToUpdates === true) {
                                <ng-container i18n> Ja </ng-container>
                              }
                              @if (synchronizationStatus.subscribesToUpdates !== true) {
                                <ng-container i18n> Nej </ng-container>
                              }
                            </app-paragraph>
                          </td>
                          <td>
                            @if (synchronizationStatus.dateOfLatestCheckBySubscription !== null) {
                              <app-paragraph
                                paragraphSize="small"
                                >
                                {{ synchronizationStatus.dateOfLatestCheckBySubscription | appDate }}
                              </app-paragraph>
                            }
                            @if (synchronizationStatus.dateOfLatestCheckBySubscription === null) {
                              <app-paragraph
                                paragraphSize="small"
                                >
                                @if (synchronizationStatus.subscribesToUpdates === true) {
                                  <ng-container i18n>
                    Ikke tilgængeligt
                  </ng-container>
                                }
                                @if (synchronizationStatus.subscribesToUpdates !== true) {
                                  <ng-container i18n>
                    Ikke relevant
                  </ng-container>
                                }
                              </app-paragraph>
                            }
                          </td>
                        </tr>
                      </tbody>
                    </app-native-table>
                  }
                  <app-fk-org-changelog></app-fk-org-changelog>
                </app-standard-vertical-content-grid>
              }
              @if ((isConnected$ | async) === false) {
                <app-paragraph i18n
                  >Organisationen er <strong>ikke</strong> forbundet til FK Organisation</app-paragraph
                  >
                }
              </div>
              <div class="action-buttons">
                @if ((canCreateConnection$ | async) === true) {
                  <app-button
                    (buttonClick)="openImportDialog(false)"
                    [disabled]="(accessError$ | async) !== undefined"
                    i18n
                    data-cy="create-sts-connection"
                    >Forbind</app-button
                    >
                  }
                  @if ((canModifyConnection$ | async) === true) {
                    <app-button
                      (buttonClick)="openImportDialog(true)"
                      [disabled]="(accessError$ | async) !== undefined"
                      i18n
                      data-cy="edit-sts-connection"
                      >Rediger</app-button
                      >
                    }
                    @if (hasAutoUpdates$ | async) {
                      <app-button
                        (buttonClick)="deleteAutoUpdate()"
                        i18n
                        data-cy="delete-sts-auto-update"
                        [disabled]="(accessError$ | async) !== undefined"
                        buttonStyle="secondary"
                        color="warn"
                        >Afbryd automatisk tjek for opdateringer
      </app-button>
                    }
                    @if (canDeleteConnection$ | async) {
                      <app-button
                        (buttonClick)="openDeleteConnectionDialog()"
                        i18n
                        data-cy="delete-connection"
                        [disabled]="(accessError$ | async) !== undefined"
                        color="warn"
                        >Bryd forbindelsen til FK Organisation
      </app-button>
                    }
                  </div>
                </app-standard-vertical-content-grid>
              }
              @if (isLoadingConnectionStatus$ | async) {
                <app-loading></app-loading>
              }
            </app-card>
