@use "@angular/material" as mat;
@import "theme";

$primary-palette: (
  50: $color-primary,
  100: $color-primary,
  200: $color-primary,
  300: $color-primary,
  400: $color-primary,
  500: $color-primary,
  600: $color-primary,
  700: $color-primary,
  800: $color-primary,
  900: $color-primary,
  A100: $color-primary,
  A200: $color-primary,
  A400: $color-primary,
  A700: $color-primary,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  ),
);

$accent-palette: (
  50: $color-neutral,
  100: $color-neutral,
  200: $color-neutral,
  300: $color-neutral,
  400: $color-neutral,
  500: $color-neutral,
  600: $color-neutral,
  700: $color-neutral,
  800: $color-neutral,
  900: $color-neutral,
  A100: $color-neutral,
  A200: $color-neutral,
  A400: $color-neutral,
  A700: $color-neutral,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  ),
);

$warn-palette: (
  50: $color-negative,
  100: $color-negative,
  200: $color-negative,
  300: $color-negative,
  400: $color-negative,
  500: $color-negative,
  600: $color-negative,
  700: $color-negative,
  800: $color-negative,
  900: $color-negative,
  A100: $color-negative,
  A200: $color-negative,
  A400: $color-negative,
  A700: $color-negative,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  ),
);

$my-typography-config: mat.define-typography-config(
  $headline-1: mat.define-typography-level(40px, 120%, 700, $app-font),
  $headline-2: mat.define-typography-level(32px, 120%, 700, $app-font),
  $headline-3: mat.define-typography-level(28px, 120%, 700, $app-font),
  $headline-4: mat.define-typography-level(24px, 120%, 700, $app-font),
  $headline-5: mat.define-typography-level(20px, 120%, 700, $app-font),
  $headline-6: mat.define-typography-level(18px, 120%, 700, $app-font),
  $body-1: mat.define-typography-level(18px, 27px, 400, $app-font),
  $body-2: mat.define-typography-level(16px, 24px, 400, $app-font),
  $caption: mat.define-typography-level(14px, 21px, 400, $app-font),
  $button: mat.define-typography-level(16px, 16px, 700, $app-font),
);

@include mat.core();

$my-primary: mat.define-palette($primary-palette, 500);
$my-accent: mat.define-palette($accent-palette, 500);
$my-warn: mat.define-palette($warn-palette, 500);

$my-theme: mat.define-light-theme(
  (
    color: (
      primary: $my-primary,
      accent: $my-accent,
      warn: $my-warn,
    ),
    typography: $my-typography-config,
    density: 0,
  )
);

@include mat.all-component-themes($my-theme);

@include mat.typography-hierarchy($my-typography-config);
