// Adjust input outline to go around floating label
@mixin input-outline-adjustment {
  .k-input {
    height: 56px;
    top: -23px;
    margin-bottom: -23px;

    left: -1px;
  }

  .small {
    .k-input {
      height: 48px;
      top: -20px;
      margin-bottom: -20px;
    }
  }

  :host ::ng-deep {
    // Adjustment for small size
    .small {
      input {
        font-size: 14px;
      }

      label {
        font-size: 14px;
      }

      // Offset floating label when input is in focus or has content
      &.k-floating-label-container.k-focus > .k-label,
      &.k-floating-label-container:not(.k-empty) > .k-label {
        top: 4px !important;
      }
    }
  }
}
