/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;700&display=swap");

@import "theme";

// Customize Kendo UI

$kendo-color-primary: $color-primary-base;
$kendo-color-secondary: $color-primary-base;
$kendo-base-bg: $color-primary-10;
$kendo-hovered-bg: $color-primary-10;
$kendo-selected-bg: $color-primary-20;

$kendo-list-item-hover-bg: $color-primary-10;
$kendo-list-item-hover-text: $color-primary-darker;

$kendo-enable-typography: true;
$kendo-font-family: $app-font;
$kendo-input-font-family: $app-font;
$dark-primary-text: $color-neutral-dark;
$dark-secondary-text: $color-neutral-base;

$kendo-table-hover-bg: $color-primary-10;
$kendo-grid-sorted-bg: $color-primary-10;

// Import Kendo UI component styles

@import "@progress/kendo-theme-material/scss/typography/_index.scss";
@import "@progress/kendo-theme-material/scss/utils/_index.scss";

@import "@progress/kendo-theme-material/scss/button/_index.scss";
@import "@progress/kendo-theme-material/scss/grid/_index.scss";
@import "@progress/kendo-theme-material/scss/badge/_index.scss";
@import "@progress/kendo-theme-material/scss/menu/_index.scss";
@import "@progress/kendo-theme-material/scss/appbar/_index.scss";
@import "@progress/kendo-theme-material/scss/breadcrumb/_index.scss";
@import "@progress/kendo-theme-material/scss/ripple/_index.scss";
@import "@progress/kendo-theme-material/scss/notification/_index.scss";
@import "@progress/kendo-theme-material/scss/dialog/_index.scss";

// Import ng-select Material theme

@import "@ng-select/ng-select/themes/material.theme.css";

// Global styles

html,
body {
  height: 100%;
}

body {
  background-color: $color-primary-10;
  margin: 0;
}

a {
  color: $color-primary-base;
}

h3 {
  font-size: 28px;
  font-weight: bold;
}
