<app-scrollbar-dialog title="Organisationer hvor brugeren har roller" i18n-title data-cy="organizations-dialog">
  @if (organizationNames) {
    <app-native-table tableLayout="fixed">
      <thead>
        <th i18n>Navn</th>
      </thead>
      <tbody>
        @for (name of organizationNames; track name) {
          <tr>
            <td>
              <app-paragraph paragraphSize="medium" [cropOnOverflow]="true">{{ name }}</app-paragraph>
            </td>
          </tr>
        }
      </tbody>
    </app-native-table>
  }
</app-scrollbar-dialog>
