<app-dialog [title]="title" [closable]="true" overflow="none" i18n-title>
  <form [formGroup]="notificationForm">
    <app-standard-vertical-content-grid>
      <form [formGroup]="roleRecipientsForm">
        <app-paragraph [bold]="true" i18n>Til modtager via rolle</app-paragraph>
        <app-checkbox *ngFor="let option of systemUsageRolesOptions"
            labelPosition="after"
            i18n-text
            [text]="option.name"
            [formGroup]="roleRecipientsForm"
            [formName]="option.uuid"
          ></app-checkbox>
      </form>

      <form [formGroup]="roleCcsForm">
        <app-paragraph [bold]="true" i18n>CC modtager via rolle</app-paragraph>
        <app-checkbox *ngFor="let option of systemUsageRolesOptions"
            labelPosition="after"
            i18n-text
            [text]="option.name"
            [formGroup]="roleCcsForm"
            [formName]="option.uuid"
          ></app-checkbox>
      </form>

      <app-textbox
        text="Emne"
        i18n-text
        [formGroup]="notificationForm"
      ></app-textbox>

      <app-dropdown
        text="Afsendelsestype"
        i18n-text
        [formGroup]="notificationForm"
        [data]="notificationTypeOptions"
      ></app-dropdown>

      <app-dialog-actions>
        <app-button buttonStyle="secondary" size="large" i18n>Annuller</app-button>
        <app-button type="submit" size="large" [disabled]="notificationForm.valid === false" i18n>Tilføj</app-button>
      </app-dialog-actions>
    </app-standard-vertical-content-grid>

  </form>
</app-dialog>
