<app-dialog [title]="title" [closable]="true" overflow="none" i18n-title>
  <form [formGroup]="notificationForm">
    <app-standard-vertical-content-grid [numColumns]="2">
      <app-accordion title="Til modtagere via rolle" i18n-title>
        <form [formGroup]="roleRecipientsForm">
        <app-checkbox *ngFor="let option of systemUsageRolesOptions"
            labelPosition="after"
            i18n-text
            [text]="option.name"
            [formGroup]="roleRecipientsForm"
            [formName]="option.uuid"
          ></app-checkbox>
      </form>

      </app-accordion>
    <app-accordion title="CC modtagere via rolle" i18n-title>
      <form>
        <app-checkbox *ngFor="let option of systemUsageRolesOptions"
            labelPosition="after"
            i18n-text
            [text]="option.name"
            [formGroup]="roleCcsForm"
            [formName]="option.uuid"
        ></app-checkbox>
      </form>
    </app-accordion>

   <app-textbox
    text="Til modtager via email"
    i18n-text
    [formGroup]="notificationForm"
    formName="emailRecipientControl"
    ></app-textbox>

    <app-standard-vertical-content-grid>
      <ng-container formArrayName="emailRecipientsFormArray">
        <app-textbox
        *ngFor="let emailControl of emailRecipientsFormArray.controls; let i = index"
        [formControlName]="i"
        [icon]="'trashcan'"
        ngDefaultControl
        ></app-textbox>
    </ng-container>

    <app-collection-extension-button
      text="Tilføj modtager via email"
      i18n-text
      buttonStyle="secondary"
      (clicked)="onAddEmailField()">
    </app-collection-extension-button>
    </app-standard-vertical-content-grid>

    <app-textbox
    text="CC modtager via email"
    i18n-text
    [formGroup]="notificationForm"
    formName="emailCcControl"
    ></app-textbox>

      <app-textbox
        text="Emne"
        i18n-text
        [formGroup]="notificationForm"
        formName="subjectControl"
      ></app-textbox>

      <app-dropdown
        text="Afsendelsestype"
        i18n-text
        [formGroup]="notificationForm"
        [data]="notificationTypeOptions"
        formName="notificationTypeControl"
        (valueChange)="changeNotificationType($event)"
      ></app-dropdown>

      <app-textbox
        text="Navn"
        i18n-text
        [formGroup]="notificationForm"
        formName="nameControl"
      ></app-textbox>

      <app-dropdown
        text="Gentagelse"
        i18n-text
        [formGroup]="notificationForm"
        [data]="notificationRepetitionFrequencyOptions"
        formName="repetitionControl"
      ></app-dropdown>

      <app-datepicker
      text="Fra dato"
      i18n-text
      [formGroup]="notificationForm"
      formName="fromDateControl"
      ></app-datepicker>
      <app-textbox-info [indented]="true" *ngIf="this.notificationForm.controls.fromDateControl.value && !this.notificationForm.controls.fromDateControl.valid">
        <app-paragraph paragraphSize="x-small" i18n>
          'Fra dato' må ikke være før i dag
      </app-paragraph>
      </app-textbox-info>
      <app-textbox-info [indented]="true" *ngIf="this.showDateOver28Tooltip">
        <app-paragraph paragraphSize="x-small" i18n >
          OBS: Du har valgt en 'Fra dato' større end 28 og et gentagelsesinterval, der kan ramme måneder, hvor datoen ikke findes. Hvis datoen ikke findes i måneden, vil advis blive afsendt den sidste dag i den aktuelle måned.
        </app-paragraph>
      </app-textbox-info>

      <app-datepicker
      text="Til dato"
      i18n-text
      [formGroup]="notificationForm"
      formName="toDateControl"
      ></app-datepicker>
      <app-textbox-info [indented]="true" *ngIf="this.notificationForm.controls.fromDateControl.value &&
      !this.notificationForm.controls.toDateControl.value">
        <app-paragraph paragraphSize="x-small" i18n>
          Når der ikke er valgt 'Til dato', vil advis fortsætte indtil den deaktiveres eller ved efterfølgende at tilføje en 'Til dato' til den aktive advis.
        </app-paragraph>
      </app-textbox-info>
      <app-textbox-info [indented]="true" *ngIf="this.notificationForm.controls.toDateControl.value && !this.notificationForm.controls.toDateControl.valid">
        <app-paragraph paragraphSize="x-small" i18n>
          'Til dato' må ikke være før 'Fra dato'
      </app-paragraph>
      </app-textbox-info>


    </app-standard-vertical-content-grid>
    <app-standard-vertical-content-grid>
      <editor
        [init]="{
          plugins: 'lists link image code',
          height: 300,
          base_url: '/tinymce',
          suffix: '.min'
          }"
        [formControl]="notificationForm.controls.bodyControl"
      ></editor>

      <app-dialog-actions>
        <app-button buttonStyle="secondary" size="large" i18n (buttonClick)="onCancel()">Annuller</app-button>
        <app-button type="submit" size="large" [disabled]="notificationForm.valid === false || roleRecipientsForm.valid === false" i18n (buttonClick)="onSave()">Tilføj</app-button>
      </app-dialog-actions>
    </app-standard-vertical-content-grid>
  </form>
</app-dialog>
