<a class="external-page-link-{{ linkFontSize }} full-cell-link" *ngIf="isValidLink" target="_blank" href="{{ url }}">{{ title }}</a>

<ng-container *ngIf="isValidLink === false">
  <app-content-with-tooltip *ngIf="title && url" [description]="invalidLinkPrefix + url"
    ><app-paragraph [paragraphSize]="linkFontSize" [cropOnOverflow]="true">{{
      title
    }}</app-paragraph></app-content-with-tooltip
  >
  <ng-container *ngIf="(title || url) && !(title && url)">
    <app-paragraph [paragraphSize]="linkFontSize" [cropOnOverflow]="true">{{ title }}{{ url }}</app-paragraph>
  </ng-container>
</ng-container>
