@if (isValidLink) {
  <a class="external-page-link-{{ linkFontSize }}" target="_blank" href="{{ url }}">{{ title }}</a>
}

@if (isValidLink === false) {
  @if (title && url) {
    <app-content-with-tooltip [description]="invalidLinkPrefix + url"
      ><app-paragraph [paragraphSize]="linkFontSize" [cropOnOverflow]="true" class="text-padding">{{
      title
    }}</app-paragraph></app-content-with-tooltip
    >
  }
  @if ((title || url) && !(title && url)) {
    <app-paragraph [paragraphSize]="linkFontSize" [cropOnOverflow]="true">{{ title }}{{ url }}</app-paragraph>
  }
}
