@import "theme";
@import "mixins";

:host {
  .details-page-link-medium {
    font-size: $link-font-size-medium;
  }
  .details-page-link-small {
    font-size: $link-font-size-small;
  }
  .details-page-link-x-small {
    font-size: $link-font-size-x-small;
  }
}

.full-cell-link {
  @include full-cell-link
}
