<app-loading *ngIf="loading"></app-loading>
<ng-container *ngIf="loading === false">
  <app-native-table tableLayout="fixed" *ngIf="externalReferences.length > 0">
    <thead>
      <th i18n>Titel</th>
      <th i18n>Evt. DokumentID/sagsnr./Anden Reference</th>
      <th i18n>Vises i overblik</th>
    </thead>
    <tbody>
      <tr *ngFor="let externalReference of externalReferences">
        <td>
          <app-external-page-link
            [title]="externalReference.title"
            [url]="externalReference.url"
            linkFontSize="small"
          ></app-external-page-link>
        </td>
        <td>
          <app-paragraph [cropOnOverlow]="true" paragraphSize="small">{{ externalReference.documentId }}</app-paragraph>
        </td>
        <td>
          <app-content-space-between>
            <app-paragraph paragraphSize="small"
              ><app-yes-no-status [status]="externalReference.masterReference"></app-yes-no-status
            ></app-paragraph>

            <ng-container *ngIf="hasModifyPermission">
              <div class="external-reference-actions">
                <app-icon-button><app-pencil-icon></app-pencil-icon></app-icon-button>
                <app-icon-button><app-trashcan-icon></app-trashcan-icon></app-icon-button>
              </div>
            </ng-container>
          </app-content-space-between>
        </td>
      </tr>
    </tbody>
  </app-native-table>
  <app-empty-state
    context="emptyTable"
    text="Der er endnu ikke tilføjet eksterne referencer"
    *ngIf="externalReferences.length < 1"
    i18n-text
  ></app-empty-state>
</ng-container>
