<app-dialog [title]="(helpText$ | async)?.Title" [loading]="(helpText$ | async) === undefined" overflow="none">
  <div class="help-text-container" [innerHTML]="(helpText$ | async)?.Description"></div>

  @if (isGlobalAdmin$ | async) {
    <app-dialog-actions class="dialog-footer">
      @if (isEditable$ | async) {
        <app-button buttonStyle="secondary" (buttonClick)="edit()" i18n>Rediger</app-button>
      }
      @if ((isEditable$ | async) === false) {
        <app-button buttonStyle="secondary" (buttonClick)="create()" i18n
          >Opret</app-button
          >
        }
      </app-dialog-actions>
    }
  </app-dialog>
