<ng-container *ngIf="optionTypeItems$ | async as optionTypeItems">
  <app-accordion
    [title]="title"
    [disabled]="disableAccordion"
    [isExpanded]="expandedByDefault"
    data-cy="option-type-accordion"
  >
    <app-overview-header class="create-button-container-align-right">
      <app-button [iconType]="getToggleIcon()" buttonStyle="secondary" (buttonClick)="toggleMode()">
        {{ toggleButtonText() }}
      </app-button>
      <app-button buttonStyle="primary" (buttonClick)="onCreate()" i18n data-cy="create-button">
        Opret {{ getCreateButtonType() }}</app-button
      >
    </app-overview-header>
    <app-global-option-type-grid
      [loading]="(isLoading$ | async) !== false"
      [optionType]="optionType"
      [optionTypeItems]="optionTypeItems"
      [showDescription]="showDescription"
      [showWriteAccess]="showWriteAccess"
      [reordering]="movingMode"
      [scrollable]="scrollable"
      [fitSizeToContent]="fitSizeToContent"
    ></app-global-option-type-grid>
  </app-accordion>
</ng-container>
