@if ((isLoading$ | async) === false) {
  <app-standard-vertical-content-grid>
    @if (anyRoles$ | async) {
      <ng-content></ng-content>
    }
    @if ((anyRoles$ | async) === false) {
      <app-empty-state
        text="Ingen roller tilføjet endnu"
        context="emptyTable"
      ></app-empty-state>
    }
    @if (hasModifyPermission) {
      <app-collection-extension-button
        text="Tilføj rolle"
        (clicked)="onAddNew()"
        i18n-text
      ></app-collection-extension-button>
    }
  </app-standard-vertical-content-grid>
}
@if (isLoading$ | async) {
  <app-loading></app-loading>
}
