<app-role-table-container
  (addNew)="onAddNew()"
  [isLoading$]="isLoading$"
  [anyRoles$]="anyRoles$"
  [hasModifyPermission]="hasModifyPermission"
>
  <ng-container *ngIf="roles$ | async as roles">
    <ng-container *ngIf="availableRolesDictionary$ | async as rolesDictionary">
      <app-native-table tableLayout="fixed">
        <thead>
          <tr>
            <th i18n>Organisationsenhed</th>
            <th i18n>{{ entityName }}</th>
            <th width="5%" i18n>Skriv</th>
            <th i18n>Navn</th>
            <th i18n>Email</th>
          </tr>
        </thead>
        <tbody>
          <tr
            role-row
            *ngFor="let role of roles"
            [role]="role"
            [hasModifyPermission]="hasModifyPermission"
            [rolesDictionary]="rolesDictionary"
            (removeRole)="onRemove($event)"
          >
            <td>
              <app-paragraph>
                {{ role.unitName }}
              </app-paragraph>
            </td>
          </tr>
        </tbody>
      </app-native-table>
    </ng-container>
  </ng-container>
</app-role-table-container>
