<app-role-table-container
  (addNew)="onAddNew()"
  [isLoading$]="isLoading$"
  [anyRoles$]="anyRoles$"
  [hasModifyPermission]="hasModifyPermission"
  >
  @if (roles$ | async; as roles) {
    @if (availableRolesDictionary$) {
      <app-native-table tableLayout="fixed">
        <thead>
          <tr>
            <th i18n>Organisationsenhed</th>
            <th i18n>{{ entityName }}</th>
            <th width="5%" i18n>Skriv</th>
            <th i18n>Navn</th>
            <th i18n>Email</th>
          </tr>
        </thead>
        <tbody>
          @for (role of roles; track role) {
            <tr
              role-row
              [role]="role"
              [hasModifyPermission]="hasModifyPermission"
              [availableRoles$]="availableRolesDictionary$"
              (removeRole)="onRemove($event)"
              (editRole)="onEdit($event)"
              >
              <td>
                <app-paragraph>
                  {{ role.unitName }}
                </app-paragraph>
              </td>
            </tr>
          }
        </tbody>
      </app-native-table>
    }
  }
</app-role-table-container>
