@use "theme";

.confirmation-container {
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 12px;
  margin-bottom: 12px;

  app-paragraph {
    white-space: pre-line;
  }
}

.icon-center-flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
}
