<app-dialog title="">
  <app-standard-vertical-content-grid class="confirmation-container">
    <div class="icon-center-flexbox">
      @if (icon === 'take-into-use') {
        <app-take-into-use-icon></app-take-into-use-icon>
      }
      @if (icon === 'not-in-use') {
        <app-not-in-use-icon></app-not-in-use-icon>
      }
    </div>
    <app-paragraph paragraphSize="x-large" [bold]="true">{{ title }}</app-paragraph>
    <app-paragraph paragraphSize="medium" [leftAlignText]="true">{{ bodyText }}</app-paragraph>
  </app-standard-vertical-content-grid>
  <app-dialog-actions>
    <app-button buttonStyle="secondary" size="large" (buttonClick)="CancelResult()">{{ declineText }}</app-button>
    <app-button [color]="confirmColor" size="large" (buttonClick)="OkResult()">{{ confirmText }}</app-button>
    @if (hasExtraAction) {
      <app-button buttonStyle="primary" size="large" (buttonClick)="extraActionResult()">{{ extraActionText }}</app-button>
    }
  </app-dialog-actions>
</app-dialog>
