<ng-container *ngIf="optionTypeItems$ | async as optionTypeItems">
  <app-accordion [title]="title" [disabled]="disableAccordion" [isExpandedByDefault]="expandedByDefault">
    <app-loading *ngIf="isLoading$ | async"></app-loading>
    <app-native-table *ngIf="(isLoading$ | async) === false" tableLayout="fixed">
      <thead>
        <tr>
          <th i18n>Aktiv</th>
          <th i18n>Navn</th>
          <th *ngIf="showWriteAccess" i18n>Skriv</th>
          <th *ngIf="showDescription" i18n>Beskrivelse</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let optionType of optionTypeItems">
          <td>
            <app-boolean-circle [value]="optionType.active"></app-boolean-circle>
          </td>
          <td>{{ optionType.name }}</td>
          <td *ngIf="showWriteAccess">
            <app-boolean-circle [value]="optionType.writeAccess"></app-boolean-circle>
          </td>
          <td>
            <app-content-space-between>
              <app-paragraph *ngIf="showDescription" i18n> {{ optionType.description }} </app-paragraph>
              <app-table-row-actions *ngIf="showEditButton && !optionType.obligatory">
                <app-icon-button (buttonClick)="onEdit(optionType)">
                  <app-pencil-icon></app-pencil-icon>
                </app-icon-button>
              </app-table-row-actions>
            </app-content-space-between>
          </td>
        </tr>
      </tbody>
    </app-native-table>
  </app-accordion>
</ng-container>
