@use "theme";
@use "mixins";

:host {
  height: 100%;
  margin: 0;
}

.container {
  display: flex;
  height: 100vh;
}

.left {
  flex-grow: 1;
  background-color: white;
  @include mixins.center-items-container;
}

.right {
  width: 40%;
  min-width: 800px;
  background-color: theme.$color-primary-10;
  @include mixins.center-items-container;
}

app-login {
  display: block;
  max-width: 440px !important;
}

.grid-container {
  display: grid;
  justify-content: center;
  align-items: center;
}

.authenticated-grid-columns {
  grid-template-columns: auto auto auto;
}

.login-grid-columns {
  grid-template-columns: auto auto;
}

.authenticated-frontpage {
  height: theme.$content-height;
  display: flex;
  justify-content: center;
}

.center-item {
  @include mixins.center-items-container;
  gap: theme.$padding-small;
}

.center-text {
  text-align: center;
}

.title {
  text-align: center;
  text-wrap: wrap;
  margin-bottom: 0px !important;
}

.info-section-container {
  padding: 56px;
}

.info-section-max-width {
  max-width: 580px;
}

.top-left-corner {
  :hover {
    cursor: pointer;
  }
  position: absolute;
  top: 16px;
  left: 16px;
  gap: theme.$padding-small;
  @include mixins.center-items-container;
}
