@import "src/theme.scss";

:host {
  max-width: $content-max-width;
  margin: auto;
  display: flex;
  gap: $padding-medium;
  padding: $padding-large;
  flex-wrap: wrap;
}

.loading-container {
  height: $content-height;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.card-column {
  flex: 1 1 30%;
}

.card {
  padding: $padding-medium;
  border-radius: $radius-large;
  background: $color-white;
  margin-bottom: $padding-medium;
}

.login-button {
  width: 100%;
}
