<app-tree-node-select
  [textField]="textField"
  [valueField]="valueField"
  [nodes$]="nodes$"
  [showDescription]="showDescription"
  [formGroup]="formGroup"
  [formName]="formName"
  (filterChange)="(filterChange)"
>
</app-tree-node-select>

<div>
  Test uno:
  <ng-select placeholder="Select" [items]="units$ | async" bindLabel="name" [(ngModel)]="value"
    ><ng-template ng-option-tmp let-item="item">
      <!-- <ng-container *ngFor="let number of [].constructor(item.indent)">&nbsp;&nbsp;&nbsp;&nbsp;</ng-container>
      {{ item.name }} -->
    </ng-template>
  </ng-select>
</div>
