<app-dialog [title]="title" overflow="none">
  <form [formGroup]="createForm">
    <app-standard-vertical-content-grid>
      <div>
        <app-textbox
          text="Navn"
          [formGroup]="createForm"
          formName="name"
          i18n-title
          data-cy="create-name"
        ></app-textbox>
        <app-paragraph *ngIf="alreadyExists$ | async" color="error" i18n data-cy="name-error"
          >Navn er påkrævet!</app-paragraph
        >
      </div>
    </app-standard-vertical-content-grid>
  </form>
  <app-create-entity-dialog-action-buttons
    [isLoading]="isLoading$ | async"
    [alreadyExists]="alreadyExists$ | async"
    [isFormValid]="createForm.valid"
    (cancel)="onCancel()"
    (create)="createEntity($event)"
  ></app-create-entity-dialog-action-buttons>
</app-dialog>
